{% extends "partition/layout.html" %} {% block body %}
<style>
    .m-b-1 {
        margin-bottom: 1em;
    }

    .weekDays-selector input {
        display: none !important;
    }

    .weekDays-selector input[type=checkbox]+label {
        display: inline-block;
        border-radius: 6px;
        background: #dddddd;
        height: 40px;
        width: 50px;
        margin-right: 3px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    .weekDays-selector input[type=checkbox]:checked+label {
        background: #0583d7;
        color: #ffffff;
    }

    .select2-container--default .select2-selection--single{
        height: 32px;
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            {% if isSavedGameView == true %}
                <h1>{{translate.view}} Game 1 </h1>
                <ol class="breadcrumb">
                    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{translate.dashboard}}</a></li>
                    <li href="#">Game 1</li>
                    <li class="active">{{translate.view_saved_daily_schedule}}</li>
                </ol>
            {% else %}
                {% if specialGame == true %} <h1>{{translate.special_schedule_management}}</h1> {% else %} <h1>{{translate.daily_schedule_management}}</h1>   {%endif%}
                <ol class="breadcrumb">
                    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{translate.dashboard}}</a></li>
                    <li class="active">{{translate.view_daily_schedule}}</li>
                </ol>
            {% endif %}
            
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{translate.view_daily_schedule}}</h6>
                            </div>

                           
                            <div class="clearfix"></div>

                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                               
                                <div class="table display pb-30">
                                    <input type="hidden" name="ctimezone" value="Europe/Oslo">
                                    <!-- Pattern Add / Buttons add -->
                                    <div class="">
                                        
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>{{translate.start_date}}: </label>
                                                    <div class='input-group date' id='startDate'>
                                                        <input type='text' class="form-control"
                                                            name="start_date" id="start_date"
                                                            value="{{startDate}}"
                                                            data-validation="required startDate"
                                                            placeholder="{{translate.start_date}}"
                                                            data-date-format="YYYY-MM-DD" autocomplete="off" disabled/>
                                                        <!-- HH:mm -->
                                                        <span class="input-group-addon">
                                                            <span
                                                                class="glyphicon glyphicon1 glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>{{translate.end_date}}: </label>
                                                    <div class='input-group date' id='endDate'>
                                                        <input type='text' class="form-control" name="end_date"
                                                            id="end_date" value="{{endDate}}"
                                                            data-validation="required endDate"
                                                            placeholder="{{translate.end_date}}" data-date-format="YYYY-MM-DD"
                                                            autocomplete="off" disabled/> <!--  HH:mm  -->
                                                        <span class="input-group-addon">
                                                            <span
                                                                class="glyphicon glyphicon1 glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>{{translate.select_time_slot}}* :</label>
                                                    <select data-placeholder="{{translate.select_time_slot}}"
                                                        class="form-control"
                                                        id="timeSlot" 
                                                        name="timeSlot"
                                                        data-validation="required length"
                                                        data-validation-length = "min1"
                                                        data-validation-event="change"
                                                    disabled>
                                                        <option value="">{{translate.select_time_slot}}</option>
                                                        {% for slot in timeSlots %}
                                                            {% set selected = "false" %}
                                                            
                                                            {% if slot.isSelected == true %}
                                                                {% set selected = "true" %}
                                                            {% endif %}
                                                            
                                                            <option {{ "selected" if selected=='true' else "" }}
                                                                value="{{slot.startTime}}-{{slot.endTime}}">{{slot.startTime}} - {{slot.endTime}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div id="error-contain" class="chzn-container"></div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {% if specialGame == false %}

                                        {% set week = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"] %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>{{translate.selected_weekdays }} :</label>
                                                    <div class="weekDays-selector col-sm-12">
                                                        {% for val in week %}
                                                            {% set add = "false" %}
                                                            {% for day in days %}
                                                                {% if val == day %}
                                                                    {% set add = "true"%}
                                                                {% endif %}
                                                            {% endfor %}
                                                            <input type="checkbox" id="weekday-{{val}}" {{ "checked" if
                                                                add=='true' else "" }} class="weekday" name="weekdays[]" value="{{val}}" data-validation="checkbox_group" data-validation-qty="min1" disabled/>
                                                            <label for="weekday-{{val}}">{{val}}</label>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row days">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>{{translate.select_schedule_for_each_weeday}} :</label>
                                                    
                                                </div>
                                            </div>
                                            {% if slug == "View" %}
                                                {% for subgame in selectedSubGames %}
                                                    <div class="day col-md-12">
                                                        <div id="day_{{subgame.day}}" class="col-sm-2">
                                                            <input type="text" class="form-control " readonly disabled value="{{subgame.day}}">
                                                        </div>
                                                        <div id="schedule_{{subgame.day}}" class="col-sm-10">
                                                            <div class="form-group start_time col-sm-6" style="display:flex;align-items: center;justify-content: space-evenly;">
                                                                <div class="col-sm-7">
                                                                    <select class="form-control selectSchedule chosen-select"
                                                                        id="selectSchedule"
                                                                        name="schedule[{{subgame.day}}][]" data-validation-event="change" data-validation="required"
                                                                        disabled>
                                                                        
                                                                        <option value="">{{translate.select_schedule}}</option>
                                                                        
                                                                        {% for arr in subGameList %}
                                                                            <option value="{{arr._id}}"  {{ "selected" if arr._id== subgame.selectedSchedule else "" }}>
                                                                            {{arr.scheduleName}}</option>
                                                                        {% endfor %}
                                            
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>

                                        {% endif %}
                                        

                                        <div class="row groupOfHalls">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>{{translate.grop_of_halls}} :</label>
                                                    <select data-placeholder="{{translate.grop_of_halls}}" multiple
                                                            class="form-control chosen-select-halls js-select1"
                                                        id="groupHallSelected" 
                                                        name="groupHallSelected"
                                                        data-validation="required length"
                                                        data-validation-length = "min1"
                                                        data-validation-event="change"
                                                        disabled    >
                                                        <option value="">{{translate.grop_of_halls}}</option>
                                                        {% for grpHall in groupHallArray %}
                                                            {% set selected = "true" %}
                                                            
                                                                {% if grpHall.isnotSelected == true %}
                                                                    {% set selected = "false" %}
                                                                {% endif %}
                                                            
                                                            <option {{ "selected" if selected=='true' else "" }}
                                                                value="{{grpHall.id}}" data-halls="{{ grpHall.halls | dump }}">{{grpHall.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div id="error-contain" class="chzn-container"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="hallDivs">
                                            {% if slug == "View" %}
                                                {% for ghall in groupHallArray %}
                                                {% if ghall.isnotSelected == true %}
                                                {% else %}
                                                <div class="row" id="hall_{{ghall.id}}">
                                                    <div class="col-lg-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label>{{translate.grop_of_halls_name}}: {{ghall.name}} :</label>
                                                            <select data-placeholder="{{translate.grop_of_halls_name}}" multiple
                                                                    class="form-control js-select-{{ghall.id}} selectIndividualHalls"
                                                                id="halls[{{ghall.id}}]" 
                                                                name="halls[{{ghall.id}}][]"
                                                                data-validation="required length"
                                                                data-validation-length = "min1"
                                                                data-validation-event="change"
                                                                onchange="individualHallSelection(this )"
                                                                disabled>
                                                                <option value="">Select Halls</option>
                                                                {% if ghall.halls.length > 0%}
                                                                    {% for hall in ghall.halls %}
                                                                        {% set selected = "false" %}
                                                                        {% for selectedHalls in ghall.selectedHalls %}
                                                                            {% if selectedHalls.id == hall.id %}
                                                                                {% set selected = "true" %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        <option value="{{hall.id}}" data-hallName="{{hall.name}}" {{ "selected" if selected=='true' else "" }}>{{hall.name}}</option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                                
                                                            </select>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>

                                        <div class="row masterHall">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>{{translate.master_hall}}:</label>
                                                    <select data-placeholder="{{translate.master_hall}}"
                                                        class="form-control js-select-masterhall"
                                                        id="masterhall" 
                                                        name="masterhall"
                                                        data-validation="required"
                                                        data-validation-event="change"
                                                        disabled>
                                                        <option value="">{{translate.master_hall}}</option>`
                                                        {% if slug == "View" %}
                                                            {% for hall in availableForSelectionMasterHals %}
                                                                {% set selected = "false" %}
                                                                    {% if hall.id == masterHall %}
                                                                        {% set selected = "true" %}
                                                                    {% endif %}
                                                                    <option value="{{hall.id}}" {{ "selected" if selected=='true' else "" }} >{{hall.name}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                        
                                                    </select>
                                                    <div id="error-contain" class="chzn-container"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="row">
                                            <div class="col-lg-12">
                                               {% if isSavedGameView == true %}
                                                    <a href="/savedGameList"
                                                    class="btn btn-danger btn-flat">{{translate.cancel}}</a>
                                                {% else %}
                                                    <a href="/gameManagement"
                                                    class="btn btn-danger btn-flat">{{translate.cancel}}</a>
                                                {% endif %}
                                                
                                            </div>
                                        </div>

                                    </div>   

                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js "></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css " rel="stylesheet " />
<link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
    rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript"></script>
<script>
    $(document).ready(function () {
        let isDateChanged = false;
        $(".chosen-select").chosen();
        //$(".chosen-select-halls").chosen();
        $(".js-select1").select2({
            closeOnSelect: false,
            placeholder: "Select Group of Halls",
        });

        $(".js-select-masterhall").select2({
            closeOnSelect: false,
            placeholder: "Select Master Hall",
        });

        $('#start_date').datetimepicker({
            minDate: moment().startOf('day').utc(),
            useCurrent: false,
            pickTime:false 
        });

        $('#end_date').datetimepicker({
            minDate: moment().endOf('day').utc(), 
            useCurrent: false,
            pickTime:false 
        });

        if("{{slug}}" == "View"){
            let data = `{{groupOfHallsIds | dump | safe}}`;
            let ghId= JSON.parse(data);
            
            for(let i=0; i< ghId.length; i++){
                $(`.js-select-${ghId[i]}`).select2({
                    closeOnSelect: false,
                    placeholder: "Select Halls",
                });
            }
           
        }
        
    })
   
    
    
</script>
{% endblock %}