{% extends "partition/layout.html" %}


{% block body %}


	<!-- Main Content -->
	<div class="page-wrapper">
		<div class="container-fluid">

			<!-- Title -->
			<section class="content-header">
			    <h1>User Table</h1>
			    <ol class="breadcrumb">
			        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			        <li class="active">User profile</li>
			    </ol>
			</section>
			<!-- /Title -->
			{% include "partition/notification.html" %}
			<!-- Row -->
			<section class="content">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Users</h6>
								</div>
								<div class="pull-right">
									<a href="/addUser"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i> Add User</button></a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="table-wrap">
										<div class="table-responsive">
											<table id="myTable" class="table table-hover display  pb-30" >
												<thead>
													<tr>
														<th>Name</th>
														<th>Email</th>
														<th>Role</th>
														<th>Status</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>	

{% endblock %}

{% block Jscript %}
<script>
$(document).ready( function () {
	var host = window.location.origin;
	$('#myTable').DataTable({
		"oLanguage": {
			"sSearch": "Search Username"
		},
		// "scrollX": true,
		// "searching": false,
		"processing": true,
		"serverSide": true,
		"ordering": false,
		"autoWidth": false,
		"pageLength": 25,
		"ajax": host + "/user/getUser",
		"columns": [
			// { "data": "_id" },
			{ "data": "name" },
			{ "data": "email" },
			{ "data": "role" },
			{ "data": "status" },
			// { "data": "email" },
			// {
			// 	"data": "image",
			// 	render : function(data, type, row){
			// 		return '<img height="100px" src="'+row.image+'"></img>'
			// 	}
			// },

			{
				"data": "action",
				render : function(data, type, row){
					return '<a href="/userEdit/'+row._id+'"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="'+row._id+'" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>'
					// return '<a href="/userEdit/'+row._id+'"><button type="button" class="btn btn-warning btn-xs" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="'+row._id+'" class="btn btn-danger btn-xs delete"><i class="fa fa-trash" aria-hidden="true"></i></button> '
				}
			}
		]
	});

	$(function() {
		"use strict";

		var SweetAlert = function() {};

		SweetAlert.prototype.init = function() {

			//Parameter
			$('body').on('click', '.delete', function(e){
				var id = $(this).attr('id');
				var thisElement = this;
					swal({
							title: "Are you sure?",
							text: "You will not be able to recover this User!",
							type: "warning",
							showCancelButton: true,
							confirmButtonColor: "#e69a2a",
							confirmButtonText: "Yes, delete it!",
							cancelButtonText: "No, cancel Plz!",
							closeOnConfirm: false,
							closeOnCancel: false
					}, function(isConfirm){
							if (isConfirm) {
								$.ajax({
									type: 'POST',
									url: host + "/user/getUserDelete",
									data: {id: id},
									success: function(resultData) {
										// alert(resultData)
										console.log(resultData);
										if (resultData == 'success') {
											$(thisElement).parent().parent().hide(700);
											swal("Deleted!", "Your imaginary file has been deleted.", "success");
										}else {
												alert("Something went wrong")
										}
										// alert("Save Complete")
									}
								});
									swal("Deleted!", "User Deleted Succesfully.", "success");
							} else {
									swal("Cancelled", "User Not Deleted)", "error");
							}
					});
					return false;
			});

		},
		$.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

		$.SweetAlert.init();
	});

} );


</script>
{% endblock %}
