{% extends "partition/layout.html" %} {% block body %}
<style>
    .m-b-1 {
        margin-bottom: 1em;
    }

    .weekDays-selector input {
        /* display: none !important; */
        opacity: 0;
    }

    .weekDays-selector input[type=checkbox]+label {
        display: inline-block;
        border-radius: 6px;
        background: #dddddd;
        height: 40px;
        width: 50px;
        margin-right: 3px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    .weekDays-selector input[type=checkbox]:checked+label {
        background: #0583d7;
        color: #ffffff;
    }

    .select2-container--default .select2-selection--single {
        height: 32px;
    }

    select:invalid {
        height: 0px !important;
        opacity: 0 !important;
        position: absolute !important;
        display: flex !important;
    }

    select:invalid[multiple] {
        margin-top: 15px !important;
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{{translate.special_schedule_management}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{translate.dashboard}}</a></li>
                {% if slug=="Add" %}
                <li class="active">{{translate.create_daily_schedule}}</li>
                {% else %}
                <li class="active">{{translate.edit_daily_schedule}}</li>
                {% endif %}
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">

            <!-- Modal Code Start -->
            <div class="row">
                <div class="container-fluid">
                    <!-- The modal -->
                    <div class="modal fade" id="saveGameNameModal" tabindex="-1" role="dialog"
                        aria-labelledby="modalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="modalLabel">{{translate.save_game}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <form name="savegame" action="#" class="form-horizontal"
                                                id="saveGameNameForm">
                                                <table border="0" class="table display  pb-30">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-4"
                                                                for="saveGameName">Save As:</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control"
                                                                    id="saveGameName"
                                                                    placeholder="Enter the Name of Daily Schedule"
                                                                    required name="saveGameName"
                                                                    data-validation="required"
                                                                    data-validation-error-msg="Please the Name of Daily Schedule">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div id="button_one"
                                                                style="width: 50%;margin: 0 auto;text-align: center;">
                                                                <input type="button" id="nameofSaveGame"
                                                                    class="btn btn-success btn-flat" value="Save">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Code End -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                {% if slug=="Add" %}
                                <h6 class="panel-title txt-dark">{{translate.create_daily_schedule}}</h6>
                                {% else %}
                                <h6 class="panel-title txt-dark">{{translate.edit_daily_schedule}}</h6>
                                {% endif %}
                            </div>

                            <!-- {% if isSavedGameEdit == true %}
                            {% else %}
                            {% if (canSave == true) %}
                            <div class="pull-right">
                                <a href="#"><button type="button" class="btn savedGame btn-primary btn-md"><i
                                            class="fa fa-plus"></i> Save Game</button></a>
                            </div>
                            {% endif %} -->

                            {% endif %}

                            <div class="clearfix"></div>

                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                {% if isSavedGameEdit == true %}
                                <form method="POST" id="addGameData" action="/createDailySpecialSchedule" class="">
                                    {% else %}
                                    {% if slug=="Add" %}
                                    <form method="POST" id="addGameData" action="/createDailySpecialSchedule" class="">
                                        {% else %}
                                        <form method="POST" id="addGameData" action="/editDailySchedule/{{scheduleId}}"
                                            class="">
                                            {% endif %}
                                            {% endif %}



                                            <div class="table display pb-30">
                                                <input type="hidden" name="ctimezone" value="Europe/Oslo">
                                                <input type="hidden" name="savedGameName" id="savedGameName" value="">
                                                <!-- Pattern Add / Buttons add -->
                                                <div class="">

                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label>Date: </label>
                                                                <div class='input-group date' id='startDate'>
                                                                    <input type='text' class="form-control"
                                                                        name="start_date" id="start_date"
                                                                        value="{{startDate}}" data-validation="required"
                                                                        placeholder="{{translate.date}}" data-date-format="YYYY-MM-DD"
                                                                        autocomplete="off" />
                                                                    <span class="input-group-addon">
                                                                        <span
                                                                            class="glyphicon glyphicon1 glyphicon-calendar">
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-lg-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label>End Date: </label>
                                                        <div class='input-group date' id='endDate'>
                                                            <input type='text' class="form-control" name="end_date"
                                                                id="end_date" value="{{endDate}}"
                                                                data-validation="required endDate"
                                                                placeholder="End Date" data-date-format="YYYY-MM-DD"
                                                                autocomplete="off" /> 
                                                            <span class="input-group-addon">
                                                                <span
                                                                    class="glyphicon glyphicon1 glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label>{{translate.select_time_slot}}* :</label>
                                                                <select data-placeholder="{{translate.select_time_slot}}"
                                                                    class="form-control" id="timeSlot" name="timeSlot"
                                                                    data-validation="required length"
                                                                    data-validation-length="min1"
                                                                    data-validation-event="change">
                                                                    <option value="">{{translate.select_time_slot}}</option>
                                                                    {% for slot in timeSlots %}
                                                                    {% set selected = "false" %}

                                                                    {% if slot.isSelected == true %}
                                                                    {% set selected = "true" %}
                                                                    {% endif %}

                                                                    <option {{ "selected" if selected=='true' else "" }}
                                                                        value="{{slot.startTime}}-{{slot.endTime}}">
                                                                        {{slot.startTime}} - {{slot.endTime}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <div id="error-contain" class="chzn-container"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- {% set week = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"] %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Select Weekdays :</label>
                                                        <div class="weekDays-selector col-sm-12">
                                                            {% for val in week %}
                                                                {% set add = "false" %}
                                                                {% for day in days %}
                                                                    {% if val == day %}
                                                                        {% set add = "true"%}
                                                                    {% endif %}
                                                                {% endfor %}

                                                                {% if loop.index == 1 %}
                                                                    <input type="checkbox" id="weekday-{{val}}" {{ "checked" if
                                                                    add=='true' else "" }} class="weekday" name="weekdays[]" value="{{val}}" data-validation="checkbox_group" data-validation-qty="min1" />
                                                                {% else %}
                                                                    <input type="checkbox" id="weekday-{{val}}" {{ "checked" if
                                                                    add=='true' else "" }} class="weekday" name="weekdays[]" value="{{val}}" />
                                                                {% endif %}
                                                                <label for="weekday-{{val}}">{{val}}</label>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                                    <div class="row days ">
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label>{{translate.select_schedule}}</label>
                                                                <select
                                                                    class="form-control selectSchedule chosen-select"
                                                                    id="selectSchedule" name="selectSchedule" required
                                                                    data-validation-event="change" data-validation="">
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- {% if slug == "Edit" %}
                                                    {% for subgame in selectedSubGames %}
                                                        <div class="day col-md-12">
                                                            <div id="day_{{subgame.day}}" class="col-sm-2">
                                                                <input type="text" class="form-control " readonly disabled value="{{subgame.day}}">
                                                            </div>
                                                            <div id="schedule_{{subgame.day}}" class="col-sm-10">
                                                                <div class="form-group start_time col-sm-6" style="display:flex;align-items: center;justify-content: space-evenly;">
                                                                    <div class="col-sm-7">
                                                                        <select class="form-control selectSchedule chosen-select"
                                                                            id="selectSchedule"
                                                                            name="schedule[{{subgame.day}}][]" required data-validation-event="change" data-validation=""
                                                                            >
                                                                            
                                                                            <option value="">Select Schedule</option>
                                                                            
                                                                            {% for arr in subGameList %}
                                                                                <option value="{{arr._id}}"  {{ "selected" if arr._id== subgame.selectedSchedule else "" }}>
                                                                                {{arr.scheduleName}}</option>
                                                                            {% endfor %}
                                                
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %} -->


                                                    <div class="row groupOfHalls">
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label>{{translate.select_group_of_halls}} :</label>
                                                                <select data-placeholder="{{translate.select_group_of_halls}}"
                                                                    multiple
                                                                    class="form-control chosen-select-halls js-select1"
                                                                    id="groupHallSelected" name="groupHallSelected"
                                                                    data-validation="required length"
                                                                    data-validation-length="min1"
                                                                    data-validation-event="change">
                                                                    <option value="">{{translate.select_group_of_halls}}</option>
                                                                    {% for grpHall in groupHallArray %}
                                                                    {% set selected = "true" %}

                                                                    {% if grpHall.isnotSelected == true %}
                                                                    {% set selected = "false" %}
                                                                    {% endif %}

                                                                    <option {{ "selected" if selected=='true' else "" }}
                                                                        value="{{grpHall.id}}"
                                                                        data-halls="{{ grpHall.halls | dump }}">
                                                                        {{grpHall.name}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <div id="error-contain" class="chzn-container">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="hallDivs">
                                                        {% if slug == "Edit" %}
                                                        {% for ghall in groupHallArray %}
                                                        {% if ghall.isnotSelected == true %}
                                                        {% else %}
                                                        <div class="row" id="hall_{{ghall.id}}">
                                                            <div class="col-lg-6 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>{{ghall.name}} :</label>
                                                                    <select data-placeholder="{{translate.select_halls}}" multiple
                                                                        class="form-control js-select-{{ghall.id}} selectIndividualHalls"
                                                                        id="halls[{{ghall.id}}]"
                                                                        name="halls[{{ghall.id}}][]"
                                                                        data-validation="required length"
                                                                        data-validation-length="min1"
                                                                        data-validation-event="change"
                                                                        onchange="individualHallSelection(this )">
                                                                        <option value="">{{translate.select_halls}}</option>
                                                                        {% if ghall.halls.length > 0%}
                                                                        {% for hall in ghall.halls %}
                                                                        {% set selected = "false" %}
                                                                        {% for selectedHalls in ghall.selectedHalls
                                                                        %}
                                                                        {% if selectedHalls.id == hall.id %}
                                                                        {% set selected = "true" %}
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                        <option value="{{hall.id}}"
                                                                            data-hallName="{{hall.name}}" {{ "selected"
                                                                            if selected=='true' else "" }}>{{hall.name}}
                                                                        </option>
                                                                        {% endfor %}
                                                                        {% endif %}

                                                                    </select>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>

                                                    <div class="row masterHall">
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label>{{translate.select_master_hall}}:</label>
                                                                <select data-placeholder="{{translate.select_master_hall}}"
                                                                    class="form-control js-select-masterhall"
                                                                    id="masterhall" name="masterhall"
                                                                    data-validation="required"
                                                                    data-validation-event="change">
                                                                    <option value="">{{translate.select_master_hall}}</option>`
                                                                    {% if slug == "Edit" %}
                                                                    {% for hall in availableForSelectionMasterHals
                                                                    %}
                                                                    {% set selected = "false" %}
                                                                    {% if hall.id == masterHall %}
                                                                    {% set selected = "true" %}
                                                                    {% endif %}
                                                                    <option value="{{hall.id}}" {{ "selected" if
                                                                        selected=='true' else "" }}>{{hall.name}}
                                                                    </option>
                                                                    {% endfor %}
                                                                    {% endif %}

                                                                </select>
                                                                <div id="error-contain " class="chzn-container">
                                                                    <span id="masterHall-error"
                                                                        style="color: rgb(228, 91, 91);display: none;">This
                                                                        {{translate.hall_is_already_designated_as_a_master_hall_in_the_normal_event_please_select_a_different_hall_or_change_the_setting}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            {% if isSavedGameEdit == true %}
                                                            <input type="submit" class="btn btn-success sbBtn btn-flat"
                                                                value="{{translate.submit}}">
                                                            <a href="/savedGameList"
                                                                class="btn btn-danger btn-flat">{{translate.cancel}}</a>
                                                            {% else %}
                                                            <input type="submit" class="btn btn-success sbBtn btn-flat"
                                                                value="{{translate.submit}}">
                                                            <a href="/gameManagement"
                                                                class="btn btn-danger btn-flat">{{translate.cancel}}</a>
                                                            {% endif %}


                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="/dist/js/chosen.jquery.js "></script>
<link href="/dist/css/chosen.min.css " rel="stylesheet " />
<link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
    rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript"></script>
<script>
    let allHalls = [];
    let selectedMasterHall = [];

    function individualHallSelection(sel) {
        //console.log("check validadity",$(sel).isValid())
        let seleHallsTemp = [];
        let allGroups = $(".chosen-select-halls").val();
        let userSelectedMasterHall = $("#masterhall").val(); console.log("userSelectedMasterHall", userSelectedMasterHall)
        if (allGroups.length > 0) {
            for (let g = 0; g < allGroups.length; g++) {
                let allValue = $(`.js-select-${allGroups[g]}`).val();
                seleHallsTemp.push(...allValue);
            }
        }
        console.log("seleHallsTemp", seleHallsTemp, allHalls)
        if (seleHallsTemp.length > 0) {
            let seleHallsT = seleHallsTemp.filter(function (elem, index, self) {
                return index === self.indexOf(elem);
            });
            console.log("after removing temp array", seleHallsT);

            let masterHallHtml = `<option value="">Select Master Hall</option>`;
            for (let h = 0; h < seleHallsT.length; h++) {
                let result = allHalls.find(item => item.id == seleHallsT[h]);
                if (result) {
                    masterHallHtml += `<option value="${result.id}" ${(result.id == userSelectedMasterHall) ? "selected" : ""} >${result.name}</option>`
                }

            }
            console.log("masterHallHtml---", masterHallHtml)
            $('#masterhall').empty().append(masterHallHtml);
        } else {
            $('#masterhall').empty().append(`<option value="">Select Master Hall</option>`);
        }
        console.log("all hals", allHalls)
    }

    $(document).ready(function () {
        let isDateChanged = false;
        $(".chosen-select").chosen();
        //$(".chosen-select-halls").chosen();
        $(".js-select1").select2({
            closeOnSelect: false,
            placeholder: "Select Group of Halls",
        });

        $(".js-select-masterhall").select2({
            closeOnSelect: false,
            placeholder: "Select Master Hall",
        });

        $(".js-select-timeSlot").select2({
            closeOnSelect: false,
            placeholder: "Select Time Slot",
        });

        initializeValidator();

        function initializeValidator() {
            $.validate({
                validateOnEvent: true,
                modules: 'logic',
                validateHiddenInputs: true
            });
        }

        $('#start_date').datetimepicker({
            minDate: moment().startOf('day').utc(),
            useCurrent: false,
            pickTime: false
        });

        $('#end_date').datetimepicker({
            minDate: moment().endOf('day').utc(),
            useCurrent: false,
            pickTime: false
        });

        let subGameArray = JSON.parse(`{{subGameList | dump | safe}}`);
        console.log("subGameList", subGameArray, typeof subGameArray)

        $('#saveGameNameModal').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });

        $('body').on('click', '.savedGame', function () {
            if ($("#addGameData").isValid()) {
                $('#saveGameNameModal').modal('toggle');
            } else {
                if ($(".has-error").length) {
                    let el = $('.has-error').first();
                    if (!$.isEmptyObject(el)) {
                        $('html, body').animate({
                            scrollTop: (el.offset().top)
                        }, 10);
                    }
                }
            }
        });

        $('body').on('click', '#nameofSaveGame', function () {
            if (!$("#saveGameNameForm").valid()) {
                let el = $('.has-error').first();
                if (!$.isEmptyObject(el)) {
                    $('html, body').animate({
                        scrollTop: (el.offset().top)
                    }, 10);
                }
                return false;
            }
            $('#saveGameNameModal').modal('toggle');
            console.log("saved game name", $("#saveGameName").val());
            $("#savedGameName").val($("#saveGameName").val());
            $.ajax({
                type: 'POST',
                url: host + "/saveDailySchedule",
                data: $("#addGameData").serialize(),
                success: function (resultData) {
                    if (resultData.status == 'success') {
                        swal("Created!", "Daily Schedule Saved Successfully!!", "success");
                    } else {
                        console.log(resultData);
                        swal("Error!", resultData.message, "error");
                    }
                }
            });
        });

        $(".weekday").on("click", function (e) {
            let dayName = $(this).attr("id");
            dayName = dayName.split("-");
            dayName = dayName[1];
            let isChecked = $(this).prop("checked");
            if (isChecked) {
                let dayHoursHTML = `
                    <div class="day col-md-12">
                        <div id="day_${dayName}" class="col-sm-2">
                            <input type="text" class="form-control " readonly disabled value="${dayName}">
                        </div>
                        <div id="schedule_${dayName}" class="col-sm-10">
                            <div class="form-group start_time col-sm-6" style="display:flex;align-items: center;justify-content: space-evenly;">
                                <div class="col-sm-7">
                                    <select class="form-control selectSchedule chosen-select"
                                        id="selectSchedule"
                                        name="schedule[${dayName}][]" required data-validation-event="change" data-validation=""
                                        >
                                        
                                        <option value="">Select Schedule</option>`
                for (let s = 0; s < subGameArray.length; s++) {
                    console.log("subGameArray", subGameArray[s], subGameArray.length)
                    dayHoursHTML += `<option value="${subGameArray[s]._id}" >
                                            ${subGameArray[s].scheduleName}</option>`

                    //<option value="">Select Schedule</option>
                }
                `</select>
                                </div>
                            </div>
                        </div>
                    </div>`;
                $(".days").append(dayHoursHTML);
                $(".chosen-select").chosen();
                //initializeValidator();
            } else {
                $(`#day_${dayName}`).parent(".day").remove();
            }
            initializeValidator();
        });

        //Fetch available groupofHalls
        $('#start_date').on('dp.change', function (e) {
            console.log("start date", e.date);
            isDateChanged = true;
            $('#timeSlot').prop('selectedIndex', 0);
        })

        $('#end_date').on('dp.change', function (e) {
            console.log("end date", e.date)
            isDateChanged = true;
            $('#timeSlot').prop('selectedIndex', 0);
        })


        // function groupHallOptions() {
        //     console.log("isDateChanged--", isDateChanged)

        //     console.log("groupHalloptions", $("#start_date").parent().parent(), $("#end_date").parent().parent());
        //     let flagStart = $("#start_date").parent().parent().hasClass("has-error");
        //     console.log("Start & end date error flags", flagStart);
        //     if (flagStart === false) {
        //         if (isDateChanged == true) {
        //             isDateChanged = false;
        //         } else {
        //             return false;
        //         }
        //         $.ajax({
        //             type: "GET",
        //             url: `/schedule/getAvailableGroupHalls/game_1`,
        //             data: {
        //                 startDate: $('#start_date').val(),
        //                 scheduleId: "{{scheduleId}}"
        //             },
        //             success: function (response) {
        //                 console.log(response);
        //                 if (response.status == "success") {
        //                     let groupHalls = response.groupHalls;
        //                     allHalls = response.groupHalls.allHalls;
        //                     let options = ``;
        //                     if (groupHalls) {
        //                         for (let i = 0; i < groupHalls.groupHallsAvailable.length; i++) {
        //                             console.log("groupHalls.groupHallsAvailable[i].halls", groupHalls.groupHallsAvailable[i].halls)
        //                             options += `<option value="${groupHalls.groupHallsAvailable[i]._id}" data-halls='${JSON.stringify(groupHalls.groupHallsAvailable[i].halls)}'>${groupHalls.groupHallsAvailable[i].name}</option>`;
        //                         }
        //                     }
        //                     $('#groupHallSelected').empty()
        //                         .append(options)
        //                         .removeAttr('disabled')
        //                         .trigger("change");
        //                     $('.hallDivs').children().remove();
        //                     //initializeValidator();
        //                 }
        //             }
        //         });
        //     } else {
        //         $('#groupHallSelected').empty().trigger("change")
        //         $('#groupHallSelected').prop('disabled', true).trigger("change");
        //     }
        // }

        $("#groupHallSelected").on('change', function () {
            let idName = $('#groupHallSelected option:selected').toArray().map(item => {
                console.log("item", item)
                console.log(item.getAttribute("data-halls"))
                let newObj = {};
                newObj["hallId"] = item.value;
                newObj["hallName"] = item.text;
                newObj["halls"] = JSON.parse(item.getAttribute("data-halls"))
                return newObj;
            });
            console.log("idName", idName)

            $.each(idName, function (key, value) {
                if (!$("#hall_" + value.hallId).length) {
                    let html = `

                    <div class="row" id="hall_${value.hallId}">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label>${value.hallName} :</label>
                                <select data-placeholder="{{translate.select_halls}}" multiple
                                        class="form-control js-select-${value.hallId} selectIndividualHalls"
                                    id="halls[${value.hallId}]" 
                                    name="halls[${value.hallId}][]"
                                    data-validation="required length"
                                    data-validation-length = "min1"
                                    data-validation-event="change"
                                    onchange="individualHallSelection(this )"
                                    >
                                    <option value="">{{translate.select_halls}}</option>`
                    if (value.halls.length > 0) {
                        for (let i = 0; i < value.halls.length; i++) {

                            html += `<option value="${value.halls[i].id}"}'>${value.halls[i].name}</option>`;
                        }
                    }
                    html += `</select>
                                
                            </div>
                        </div>
                    </div>`;

                    $(".hallDivs").append(html);
                    $(`.js-select-${value.hallId}`).select2({
                        closeOnSelect: false,
                        placeholder: "Select Halls",
                    });
                    initializeValidator();
                }
            });

            let existingItems = $.map($('.hallDivs > div'), div => div.id);
            idName.sort
            existingItems.sort
            console.log("existingItems", existingItems, idName)
            let tempIdName = idName.map(item => "hall_" + item.hallId)
            let diff = $(existingItems).not(tempIdName).get();
            console.log("tempIdName", tempIdName, diff)
            $.each(diff, function (key, value) {
                console.log("key and value", key, value)
                $('#' + value).remove();
                // console.log(" $('#' + value) $('#' + value) : ",$('#' + value))
                // $('#jackpotPriceDraws' + value).remove();
                // $('#s_' + value + '_color').remove();
                // $('#s_' + value + '_price').remove();
                // $('.hrTag').remove();
            });

            individualHallSelection(null);

        });



        // $.formUtils.addValidator({
        //     name: 'endDate',
        //     validatorFunction: function (value, $el, config, language, $form) {
        //         let startDate = document.getElementById("start_date").value;
        //         console.log("startDate", startDate)
        //         if (startDate) {
        //             startDate = moment(new Date(startDate)).startOf("day");
        //             let endDate = moment(new Date(value)).endOf("day");
        //             let diff = endDate.diff(startDate, "days");
        //             //console.log("start end 1", diff, config, $form);
        //             //groupHallOptions();
        //             return diff >= 1;
        //         } else {
        //             return true;
        //         }
        //     },
        //     errorMessage: 'Minimum Days Gap Should be 1 days',
        //     errorMessageKey: 'endDate'
        // });

        // $.formUtils.addValidator({
        //     name: 'startDate',
        //     validatorFunction: function (value, $el, config, language, $form) {
        //         // console.log(document.getElementById("end_date"));
        //         let endDate = document.getElementById("end_date").value;
        //         if (endDate == "") {
        //             return true;
        //         } else {
        //             // let diff = moment(new Date(endDate)).diff(new Date(value), "days");
        //             let startDate = moment(new Date(value)).startOf("day");
        //             endDate = moment(new Date(endDate)).endOf("day");
        //             let diff = endDate.diff(startDate, "days");
        //             //console.log("start end", diff, config, $form);
        //             //groupHallOptions();
        //             return diff >= 1;
        //         }
        //     },
        //     errorMessage: 'Minimum Days Gap Should be 1 days',
        //     errorMessageKey: 'startDate'
        // });

        $("#addGameData").submit(async function (event) {
            event.preventDefault();
            let checkMasterHall = await masterHallCheck()
            console.log(checkMasterHall, $("#addGameData").isValid(), "....>Submit");
            if (checkMasterHall && $("#addGameData").isValid() == true) {
                event.currentTarget.submit();
            } else {
                if ($(".has-error").length) {
                    let el = $('.has-error').first();
                    if (!$.isEmptyObject(el)) {
                        $('html, body').animate({
                            scrollTop: (el.offset().top)
                        }, 10);
                    }
                }
            }

        });

        $("#masterhall").on("change", async () => {
            let checkMasterHall = await masterHallCheck()
            console.log("checkMasterHall", checkMasterHall);
            if (!checkMasterHall) {
                $("#masterHall-error").show()
            } else {
                $("#masterHall-error").hide()
            }
        })


        async function masterHallCheck() {
            let idName = $('#groupHallSelected option:selected').toArray().map(item => {
                console.log("item", item);
                console.log(item.getAttribute("data-halls"));
                let newObj = {
                    hallId: item.value,
                    hallName: item.text,
                    halls: JSON.parse(item.getAttribute("data-halls"))
                };
                return newObj;
            });

            console.log("idName", idName);

            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "POST",
                    url: `/schedule/getMasterHallData`,
                    data: {
                        startDate: $('#start_date').val(),
                        masterHall: $('#masterhall').val(),
                        timeSlot: $('#timeSlot').val(),
                        groupHallSelected: idName,
                        scheduleId: "{{scheduleId}}"
                    },
                    success: function (response) {
                        console.log(response);
                        if (response.status === 'success' && response.data.length == 0) {
                            resolve(true);
                        } else {
                            resolve(false);
                        }
                    },
                    error: function (error) {
                        console.error("Error:", error);
                        reject(false);
                    }
                });
            });
        }



        if ("{{slug}}" == "Edit") {
            let ghId = JSON.parse(`{{groupOfHallsIds | dump | safe}}`);

            for (let i = 0; i < ghId.length; i++) {
                $(`.js-select-${ghId[i]}`).select2({
                    closeOnSelect: false,
                    placeholder: "Select Halls",
                });
            }
            allHalls = JSON.parse(`{{allHalls | dump | safe}}`);
        }

        $('#timeSlot').on('change', function () {
            //alert( this.value );
            if (this.value) {
                console.log("timeSlot change event", $("#start_date").parent().parent(), $("#end_date").parent().parent());
                let flagStart = $("#start_date").parent().parent().hasClass("has-error");
                let flagEnd = $("#end_date").parent().parent().hasClass("has-error");
                console.log("Start & end date error flags", flagStart, flagEnd);
                if (flagStart === false && flagEnd === false) {
                    $.ajax({
                        type: "GET",
                        url: `/schedule/getAvailableGroupHallsBasedSlots/game_1`,
                        data: {
                            startDate: $('#start_date').val(),
                            // endDate: $('#end_date').val(),
                            timeSlot: this.value,
                            scheduleId: "{{scheduleId}}"
                        },
                        success: function (response) {
                            console.log(response);
                            if (response.status == "success") {
                                let groupHalls = response.groupHalls;
                                allHalls = response.groupHalls.allHalls;
                                let options = ``;
                                if (groupHalls) {
                                    for (let i = 0; i < groupHalls.groupHallsAvailable.length; i++) {
                                        console.log("groupHalls.groupHallsAvailable[i].halls", groupHalls.groupHallsAvailable[i].halls)
                                        options += `<option value="${groupHalls.groupHallsAvailable[i]._id}" data-halls='${JSON.stringify(groupHalls.groupHallsAvailable[i].halls)}'>${groupHalls.groupHallsAvailable[i].name}</option>`;
                                    }
                                }
                                $('#groupHallSelected').empty()
                                    .append(options)
                                    .removeAttr('disabled')
                                    .trigger("change");
                                $('.hallDivs').children().remove();
                                //initializeValidator();
                            }
                        }
                    });

                    $.ajax({
                        type: "GET",
                        url: `/schedule/getSchedulesBySlot`,
                        data: {
                            timeSlot: this.value,
                            scheduleId: "{{scheduleId}}"
                        },
                        success: function (response) {
                            if (response.status == "success") {
                                subGameArray = response.schedules;
                                let $el = $(".selectSchedule");
                                $('.selectSchedule').empty().append('<option value="">Select Schedule</option>');
                                $.each(subGameArray, function (key, value) {
                                    $el.append($('<option/>', { value: value._id, text: value.scheduleName }));
                                });
                                $(".selectSchedule").trigger("chosen:updated");
                            }
                        }
                    });

                } else {
                    $('#groupHallSelected').empty().trigger("change")
                    $('#groupHallSelected').prop('disabled', true).trigger("change");
                }
            }

        });


    })



</script>
{% endblock %}