{% extends "partition/layout.html" %} {% block body %}
<style>
    .chosen-container-multi {
        width: 100% !important;
    }

    .chosen-container-multi .chosen-choices {
        padding: 5px !important;
    }

    .chosen-results {
        max-height: 100px !important;
        overflow: auto !important;
    }
</style>

<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{% if admin %}{{adminData.edit_admin}}{% else %}{{adminData.add_admin}}{% endif %}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{adminData.dashboard}}</a></li>
                <li><a href="/admin">{{adminData.admin}}</a></li>
                {% if admin %}
                <li class="active"><span>{{adminData.edit_admin}}</span></li>
                {% else %}
                <li class="active"><span>{{adminData.add_admin}}</span></li>
                {% endif %}
            </ol>
        </section>
        <!-- /Title -->
        <!-- Row  -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                {% if admin %}
                                <h6 class="panel-title txt-dark">{{adminData.edit_admin}}</h6>
                                {% else %}
                                <h6 class="panel-title txt-dark">{{adminData.add_admin}}</h6>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            {% if admin %}
                                            <form method="POST" action="/adminEdit/{{admin._id}}" name="addadmin"
                                                class="form-horizontal" id="adminForm">
                                                {% else %}
                                                <form method="POST" action="/addAdmin"
                                                    name="addadmin" class="form-horizontal" id="adminForm">
                                                    {% endif %}
                                                    <div class="form-group">
                                                        <label for="name" class="col-sm-3 control-label">{{adminData.admin_name}}*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                                                <input type="text" class="form-control" required name="name" id="name" value="{{admin.name}}" data-validation="" data-validation-length="" data-validation-error-msg="Name is Required" data-validation-error-msg-container="#name-error-dialog">
                                                                <!-- length alphanumeric -->
                                                            </div>
                                                            <div id="name-error-dialog"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email" class="col-sm-3 control-label">{{adminData.emailId}}*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-envelope"></i></div>
                                                                <input type="email" class="form-control"
                                                                     required
                                                                    name="email" id="email" value="{{admin.email}}"
                                                                    data-validation="email"
                                                                    data-validation-error-msg-container="#email-error-dialog">
                                                                   <!--  {{ "readonly disabled" if admin else "" }} -->
                                                            </div>
                                                            <div id="email-error-dialog"></div>
                                                        </div>
                                                    </div>
                                                    {% if admin %}
                                                    <div class="form-group">
                                                        <label for="password" class="col-sm-3 control-label">{{adminData.new_password}}*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                                                                <input type="password" class="form-control"
                                                                    name="newpassword" id="newpassword"
                                                                    data-minlength="" data-validation=""
                                                                    data-validation-length=""
                                                                    data-validation-error-msg-container="#pass-error-dialog">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default reveal"
                                                                        type="button"><i
                                                                            class="glyphicon glyphicon-eye-open"></i></button>
                                                                </span>
                                                            </div>
                                                            <div id="pass-error-dialog"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="phone" class="col-sm-3 control-label">{{adminData.confirm_password}}*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <!-- data-minlength="6" data-validation="length" data-validation-length="min6" -->
                                                                <div class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-check"></i></div>
                                                                <input type="password" class="form-control"
                                                                    name="copassword" id="copassword"
                                                                    equalTo="#newpassword" value="" data-minlength=""
                                                                    data-validation="" data-validation-length=""
                                                                    data-validation-length=""
                                                                    data-validation-error-msg="Confirm Password is Required"
                                                                    data-validation-error-msg-container="#conf-error-dialog">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default reveal"
                                                                        type="button"><i
                                                                            class="glyphicon glyphicon-eye-open"></i></button>
                                                                </span>
                                                                <input type="hidden" id="confirmvalue" value="0">
                                                            </div>
                                                            <div class="registrationFormAlert" style="color:red;"
                                                                id="CheckPasswordMatch2"></div>
                                                            <div id="conf-error-dialog"></div>
                                                        </div>
                                                    </div>

                                                    {% else %}
                                                    <div class="form-group">
                                                        <label for="password"
                                                            class="col-sm-3 control-label">{{adminData.password}}*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-lock"></i></div>
                                                                <input type="password" class="form-control"
                                                                    name="newpassword" id="newpassword"
                                                                    data-minlength="6" data-validation="length"
                                                                    data-validation-length="min6" data-validation-error-msg-container="#pass-error-dialog">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default reveal"
                                                                        type="button"><i
                                                                            class="glyphicon glyphicon-eye-open"></i></button>
                                                                </span>
                                                            </div>
                                                            <div id="pass-error-dialog"></div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="copassword" class="col-sm-3 control-label">{{adminData.confirm_password}}*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-user"></i></div>
                                                                <input type="password" class="form-control" required
                                                                    name="copassword" id="copassword" value=""
                                                                    data-minlength="6" data-validation="length"
                                                                    data-validation-length="min6"
                                                                    data-validation-length=""
                                                                    data-validation-error-msg="Confirm Password is Required"
                                                                    data-validation-error-msg-container="#conf-error-dialog">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default reveal"
                                                                        type="button"><i
                                                                            class="glyphicon glyphicon-eye-open"></i></button>
                                                                </span>
                                                                <input type="hidden" id="confirmvalue" value="0">
                                                            </div>
                                                            <div class="registrationFormAlert" style="color:red;" id="CheckPasswordMatch2">
                                                            </div>
                                                            <div id="conf-error-dialog"></div>
                                                        </div>
                                                    </div>

                                                    {% endif %}
                                                    <div class="form-group">
                                                        <label for="exampleInputpwd_4"
                                                            class="col-sm-3 control-label">{{adminData.status}}*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i
                                                                        class="glyphicon glyphicon-off"></i></div>
                                                                <select class="form-control" name="status" id="status">
                                                                    <option value="active" {{ "selected" if
                                                                        admin.status=='active' else "" }}>{{adminData.active}}
                                                                    </option>
                                                                    <option value="inactive" {{ "selected" if
                                                                        admin.status=='inactive' else "" }}>{{adminData.inactive}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-0">
                                                        <div class="col-sm-offset-3 col-sm-9">
                                                            <input type="submit" class="btn btn-success btn-flat"
                                                                value="{{adminData.submit}}">
                                                            <a href="/adminUser" class="btn btn-danger btn-flat">{{adminData.cancel}}</a>
                                                        </div>
                                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->

                <!-- /Row -->
            </div>
        </section>

    </div>
</div>

{% endblock %} {% block Jscript %}


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script src="/dist/js/chosen.jquery.js"></script>
<link href="/dist/css/chosen.min.css" rel="stylesheet" />
<script>
    // function checkPasswordMatch() {
    //     var password = $("#password").val();
    //     var confirmPassword = $("#copassword").val();
    //     console.log('password: ', password);
    //     console.log('confirmPassword: ', confirmPassword);
    //     if (password != confirmPassword) {
    //         $("#CheckPasswordMatch").html("Passwords does not match");
    //         $("#CheckPasswordMatch").css("color", "red");
    //     } else {
    //         $("#CheckPasswordMatch").html("Passwords match");
    //         $("#CheckPasswordMatch").css("color", "green");
    //         setTimeout(function() {
    //             $("#CheckPasswordMatch").html("");
    //         }, 500)
    //     }
    // }
    // $(document).ready(function() {
    //     $("#password").keyup(checkPasswordMatch);
    //     $("#copassword").keyup(checkPasswordMatch);
    // });

    function checkPasswordMatch32() {
        var password = $("#newpassword").val();
        var confirmPassword = $("#copassword").val();
        console.log('password: ', password);
        console.log('confirmPassword: ', confirmPassword);
        if (password != confirmPassword) {
            $("#CheckPasswordMatch2").html("Passwords does not match");
            $("#CheckPasswordMatch2").css("color", "red");
            $('#confirmvalue').val('1');

            $('#newpassword ,#copassword').attr("data-minlength", "6");
            $('#newpassword ,#copassword').attr("data-validation", "length");
            $('#newpassword ,#copassword').attr("data-validation-length", "min6");

        } else {
            console.log(" ok ehere : ")
            $('#confirmvalue').val('0');
            if (password == '' || confirmPassword == '') {

                $('#newpassword ,#copassword').attr("data-minlength", "");
                $('#newpassword ,#copassword').attr("data-validation", "");
                $('#newpassword ,#copassword').attr("data-validation-length", "");
            }

            $("#CheckPasswordMatch2").html("Passwords match");
            $("#CheckPasswordMatch2").css("color", "green");
            setTimeout(function () {
                $("#CheckPasswordMatch2").html("");
            }, 500)
        }
    }

    $(document).ready(function () {
        
        let admin = `{{ admin | dump | safe }}`;
        if (admin.length !== 0) {
            admin = JSON.parse(admin);
        }
        var host = window.location.origin;
        $("#newpassword").keyup(checkPasswordMatch32);
        $("#copassword").keyup(checkPasswordMatch32);
        $('.chosen-select').chosen({
            no_results_text: "Oops, nothing found!"
        });

        if ($('#status').find(":selected").val() == 'inactive') {
            $("#halls").val([]);
            $(".chosen-select").attr("disabled", true).trigger("chosen:updated");
        }

        $('.reveal').click(function () {
            console.log("the password element to change", $(this).parent().prev());
            let inputField = $(this).parent().prev();
            if (inputField.attr('type') === 'password') {
                inputField.attr('type', 'text');
            } else {
                inputField.attr('type', 'password');
            }

        });

        $('#status').on('change',function () {
            let option = $('#status').find(":selected").val();
            console.log("this",admin);
            if (option === "inactive") {
                // if (typeof admin !== "string" && !jQuery.isEmptyObject(admin.groupHall)) {
                //     $('#status').val('active');
                //     swal({
                //         type: 'warning',
                //         title:'Notice !',
                //         text: 'You need to unassign the admin from the assigned group of hall in order to incactivate the admin.'
                //     });
                // }
                $("#halls").val([]);
                $(".chosen-select").attr("disabled",true).trigger("chosen:updated");

            }else{
                $(".chosen-select").removeAttr("disabled").trigger("chosen:updated");
            }
        });

    });
</script>
{% endblock %}