{% extends "partition/layout.html" %} {% block body %}
<style>
    .m-b-1 {
        margin-bottom: 1em;
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Title -->
        <section class="content-header">
            {% if gameType %}
            <h1>Edit Game</h1>
            {% else %}
            <h1>Add Game</h1>
            {% endif %}
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li href="#">Game</li>
                {% if gameType %}
                <li class="active">Edit Game</li>
                {% else %}
                <li class="active">Add Game</li>
                {% endif %}
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                {% if gameType %}
                                <h6 class="panel-title txt-dark">Edit Game</h6>
                                {% else %}
                                <h6 class="panel-title txt-dark">Add Game</h6>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        {% if gameType %}
                                        <form method="POST" action="/editGameType/{{gameType._id}}" name="addGame" class="form-horizontal" enctype="multipart/form-data">
                                            {% else %}
                                            <form method="POST" action="/addGameType" name="addGame" class="form-horizontal" enctype="multipart/form-data">
                                                {% endif %}
                                                <table border="0" class="table display  pb-30">
                                                    <div class="col-sm-8">
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">

                                                                <div class="form-group">
                                                                    <div class="row ">
                                                                        <label for="name" class="mb-10 col-sm-12">Game Name:</label>
                                                                        <div class="col-sm-12">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                                                                <input type="text" class="form-control" required name="name" id="name" value="{{gameType.name}}" placeholder="Enter Game Name" data-validation-length="" data-validation-error-msg="Name is Required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="row ">
                                                                        <label for="avatar" class="mb-10 col-sm-12">Photo</label>
                                                                        <div class="col-sm-12">
                                                                            <div class="input-group">
                                                                                <div class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></div>
                                                                                <input type="file" class="form-control" id="avatar" name="avatar" {% if gameType %} {% else %}required {% endif %} accept="image/*">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="row ">
                                                                        <label class="mb-10 col-sm-12 ">How many rows allocate in a ticket:</label>
                                                                        <div class="col-sm-12 ">
                                                                            <input type="number" class="form-control" onkeypress="return event.charCode >= 48" min="1" required name="row" placeholder="Enter Row number" value="{{gameType.row}}" data-validation="required ">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col col-md-4">
                                                                        <label for="pattern" class=" form-control-label">Pattern</label>
                                                                    </div>
                                                                    <div class="col-10 col-md-6">
                                                                        <label class="switch">
                                                                        <input type="checkbox" name="pattern" {% if gameType.pattern == true %} checked {% else %} {% endif %}>
                                                                        <span class="slider round"></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="row ">
                                                                        <label class="mb-10 col-sm-12 ">How many columns allocate in a ticket:</label>
                                                                        <div class="col-sm-12 ">
                                                                            <input type="number" class="form-control" onkeypress="return event.charCode >= 48" min="1" required name="columns" placeholder="Enter Columns number" value="{{gameType.columns}}" data-validation="required ">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="row ">
                                                                        <label class="mb-10 col-sm-12 ">Total number of tickets allocate for this game:</label>
                                                                        <div class="col-sm-12 ">
                                                                            <input type="number" class="form-control" onkeypress="return event.charCode >= 48" min="1" required name="totalNoTickets" placeholder="Enter Total No Tickets" value="{{gameType.totalNoTickets}}" data-validation="required ">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="row ">
                                                                        <label class="mb-10 col-sm-12 ">How many tickets can the user buys:</label>
                                                                        <div class="col-sm-12 ">
                                                                            <input type="number" class="form-control" onkeypress="return event.charCode >= 48" min="1" required name="userMaxTickets" placeholder="Enter User Max Tickets" value="{{gameType.userMaxTickets}}" data-validation="required ">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group ">
                                                                    <div class="row ">
                                                                        <label class="mb-10 col-sm-12 "> How much number in tickets ( range 1 to 25 ):</label>
                                                                        <div class="col-sm-12 ">

                                                                            <label class="mb-10 col-sm-12 ">Minimum number:</label>
                                                                            <input type="number" class="form-control" onkeypress="return event.charCode >= 48" min="1" required name="rangeMin" id="rangeMin" placeholder="Enter number" value="{{gameType.rangeMin}}" data-validation="required ">

                                                                            <label class="mb-10 col-sm-12 ">Maximum number:</label>
                                                                            <input type="number" class="form-control" onkeypress="return event.charCode >= 48" min="1" required name="rangeMax" readonly id="rangeMax" placeholder="Enter number" value="{{gameType.rangeMax}}" value="25">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <tr>
                                                        <td colspan="2 ">
                                                            <div class="pull-left ">
                                                                <input type="submit" class="btn btn-success btn-flat " value="Submit ">
                                                                <a href="/gameType" class="btn btn-danger btn-flat ">Cancel</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Row -->
    </div>
</div>
{% endblock %} {% block Jscript %}
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js "></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css " rel="stylesheet " />
<link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css " integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin=" anonymous " />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js " integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin=" anonymous "></script>
<script>
    $(document).ready(function() {
        $('#startDate input').datetimepicker({
            minDate: new Date()
        });


        //this calculates values automatically 
        sum();
        $("#rangeMin").on("keydown keyup", function() {
            sum();
            var rangeMin = document.getElementById('rangeMin').value;
            if (rangeMin === "") {
                document.getElementById('rangeMax').value = parseInt(25);
            }

        });

        function sum() {
            var rangeMin = document.getElementById('rangeMin').value;
            if (rangeMin === "") {
                document.getElementById('rangeMax').value = parseInt(25);
            }
            var sum = parseInt(rangeMin) + parseInt(25);
            if (!isNaN(sum)) {
                document.getElementById('rangeMax').value = sum;
            }
        }

    });
</script>
{% endblock %}