{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
    .popover {
        max-width: 600px;
    }
    
    /* Make SweetAlert2 popup wider & styled like SweetAlert1 */
    .swal2-popup {
        width: 90% !important;
        max-width: 478px !important;
        padding-top: 0 !important;
        box-sizing: border-box;
        font-size: 16px !important;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        box-shadow: 0 0 25px rgba(0,0,0,0.3);
        background: #fff;
        border-radius: 5px;
    }

    /* Remove extra space below payment buttons container */
    .payment-options {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    /* Tighten space above action buttons */
    .swal2-actions {
        margin-top: 4px !important;
        padding-top: 0 !important;
        gap: 10px !important; /* controls space between buttons */
        display: flex !important;
        justify-content: flex-start !important; /* Align buttons left */
        gap: 10px; /* space between buttons */
    }

    /* Swap button order: Cancel first, Confirm second */
    .swal2-cancel {
        order: 0 !important;
    }

    .swal2-confirm {
        order: 1 !important;
    }

    /* Payment buttons styling */
    .payment-options button {
        margin: 0 8px 10px 8px;
        min-width: 90px;
        font-weight: 600;
        font-size: 14px;
    }

    /* Text inside the modal */
    .swal2-html-container {
        line-height: 1.5;
        margin-bottom: 15px;
    }

    /* Confirm button (yellow/orange) */
    .swal2-confirm.btn-warning {
        min-width: 110px;
        font-size: 14px;
        font-weight: 700;
        padding: 10px 22px;
        border-radius: 4px;
    }

    /* Cancel button styled same size as confirm */
    .swal2-cancel.btn-default {
        min-width: 110px;
        font-size: 14px;
        padding: 10px 22px;
        border-radius: 4px;
        margin-left: 10px; /* some spacing */
    }

    /* Make sure buttons align horizontally */
    .swal2-actions {
        display: flex !important;
        justify-content: center !important;
    }

    .swal2-actions button {
        min-width: 120px !important;  /* wider buttons */
        height: 45px !important;      /* taller buttons */
        font-size: 16px !important;   /* bigger text */
        padding: 10px 20px !important; /* more padding */
        border-radius: 6px !important; /* rounded corners */
    }

    .mt-10 {
        margin-top: 10px !important;
    }

</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Title -->
        <section class="content-header">
            <h1>{{deposit.deposit_requests}} {{deposit.table}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{deposit.dashboard}}</a></li>
                <li class="active" href="/deposit/requests">{{deposit.deposit_requests}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{deposit.deposit_requests}}</h6>
                            </div>
                            <div class="pull-right">
                                <!-- <a href="/addPlayer"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i> Add Player</button></a> -->
                                <button class="btn btn-success btn-xs btn-rounded" onClick="$('#myTable').DataTable().ajax.reload();">{{deposit.refresh_table}}</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class='input-group date' id='startDate'>
                                                <input type='text' class="form-control" name="start_date" id="start_date" placeholder="{{deposit.start_date}}" data-date-format="yyyy-mm-dd" autocomplete="off"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class='input-group date' id='endDate'>
                                                <input type='text' class="form-control" name="end_date" id="end_date" placeholder="{{deposit.end_date}}" data-date-format="yyyy-mm-dd" autocomplete="off"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-filter"
                                                            aria-hidden="true"></i></span>
                                                    <select name="transactionType" class="form-control"
                                                        id="transactionType">
                                                        <option value="offline">{{deposit.pay_in_hall}}</option>
                                                        <option value="online">{{deposit.vipps_cards}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <input type="button" name="search" id="search" value="{{deposit.search}}" class="btn btn-info" />
                                    </div>
                                </div>

                                <!-- <div class="panel-wrapper collapse in"> -->
                                    <!-- <div class="panel-body"> -->
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <input type="text" name="agent" id="agent" value="{{Agent.role}}" hidden>
                                                <table id="myTable" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>{{deposit.date_time}}</th>
                                                            <th>{{deposit.order_number}}</th>
                                                            <!-- <th>{{deposit.deposit_requests_table}}Transaction Id</th> -->
                                                            <th>{{deposit.customer_number}}</th>
                                                            <th>{{deposit.username}}</th>
                                                            <th>{{deposit.amount}}</th>
                                                            <th>{{deposit.wallet_amount}}</th>
                                                            <th>{{deposit.hall_name}}</th>
                                                            <th>{{deposit.status}}</th>
                                                            <th>{{deposit.action}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />
<script>
    function formatDate(date) {
        let d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    }
    $(document).ready(function() {
        let host = window.location.origin;
        let url = host + "/deposit/requests/get";
        let ajaxUrl = host + "/deposit/requests/get";
        let ajaxExportUrl = host + "/deposit/requests/get?export=all";
       
        let acceptFlag = '{{acceptFlag}}';
        let rejectFlag = '{{rejectFlag}}';

        $('#startDate input,#endDate input').datepicker();
        $('#startDate input,#endDate input').val(formatDate(new Date()));

        let start_date = $('#start_date').val();
        let end_date = $('#end_date').val();
        fetch_data('yes', start_date, end_date);

        function fetch_data(is_date_search, start_date = '', end_date = '') {
            $('#myTable').DataTable({
                "oLanguage": {
                    "sSearch": "{{deposit.serach}} {{deposit.username}}/{{deposit.customer_number}}",
                    "sLengthMenu": "{{deposit.show}} _MENU_ {{deposit.entries}}",
                    "oPaginate": {
                        sPrevious: "{{ deposit.previous }}",
                        sNext: "{{ deposit.next }}"
                    },
                    "sEmptyTable": "{{deposit.no_data_available_in_table}}",
                    "sInfo": "{{deposit.showing}} _START_ to _END_ of _TOTAL_ {{deposit.entries}}",
                    "sInfoEmpty": "{{deposit.showing}} 0 to 0 of 0 {{deposit.entries}}"
                },
                "processing": true,
                "serverSide": true,
                "order": [
                    [0, "desc"]
                ],
                "columnDefs": [{
                    "targets": [7,8],
                    "orderable": false
                }],
                "autoWidth": false,
                "pageLength": 10,
                "ajax": {
                    url: ajaxUrl,
                    type: "GET",
                    data: {
                        is_date_search: is_date_search,
                        start_date: start_date,
                        end_date: end_date,
                        transactionType: $("#transactionType").val()
                    }
                },
                //"dom": 'Bfrtip',
                dom:
                   "<'row'<'col-sm-3'l><'col-sm-4 text-center'B><'col-sm-5'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "buttons": [
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7],
                                format: {
                                    body: function (data, row, column, node) {
                                        if (column === 1) {
                                            return '\t' + data;
                                        }
                                        return data;
                                    }
                                }
                        }
                    }, {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7],
                            format: {
                                body: function (data, row, column, node) {
                                    if (column === 1) {
                                        return '\t' + data;
                                    }
                                    return data;
                                }
                            }
                        }
                    }
                ],
                "columns": [
                {
                    "data": "createdAt",
                    render: function(data, type, row, meta) {
                        return moment(row.createdAt).format('DD/MM/YYYY hh:mm a');
                    }
                },
                {
                    "data": "orderNumber"
                }, 
                // {
                //     "data": "transactionID"
                // }, 
                {
                    "data": "customerNumber",
                        render: function (data, type, row) {
                        let customerNumber = ''
                        if (data) {
                            customerNumber = data;
                        }
                        return customerNumber;
                    }
                },
                { 
                    "data": "playerName"
                }, {
                    "data": "amount"
                },  {
                    "data": "walletAmount"
                }, {
                    "data": "hallName"
                }, {
                    "data": "status",
                        render: function(data, type, row) {
                            if (row.status == "pending") {
                                return '<span class="badge bg-blue"> In Progress </span>';
                            } else if (row.status == "completed") {
                                return '<span class="badge bg-green"> Completed </span>';
                            } else if (row.status == "failed") {
                                return '<span class="badge bg-red"> Failed </span>';
                            }
                        }
                }, {
                    "data": "action",
                    render: function(data, type, row) {
                        let html = '';
                        if(row.operation == "Offline"){
                            if (acceptFlag == 'true') {
                                html += `<button type="button" class="btn btn-xs btn-rounded btn-success acceptRequest" id="` + row._id + `" ><i class="fa fa-check" aria-hidden="true"></i>{{deposit.acceptbtn}}</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp`
                            }

                            if (rejectFlag == 'true') {
                                html += `<button type="button"  name="delete" id="` + row._id + `" class="btn btn-danger btn-xs btn-rounded rejectRequest"><i class="fa fa-times" aria-hidden="true"></i>{{deposit.rejectbtn}}</button>`;
                            }
                        }
                        return html;
                    }
                }]
            });
        }

        $('#search').click(function() {
            let start_date = $('#start_date').val();
            let end_date = $('#end_date').val();
            if (start_date != '' && end_date != '') {
                $('#myTable').DataTable().destroy();
                fetch_data('yes', start_date, end_date);
            } else {
                alert("{{deposit.both_date_required}}");
            }
        });

        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    //Parameter
                    $('body').on('click', '.rejectRequest', function (e) {
                        e.preventDefault();
                        const id = $(this).attr('id');
                        const thisElement = this;

                        Swal.fire({
                            title: "{{deposit.are_you_sure}}?",
                            text: "{{deposit.do_you_want_to_reject_this_request}}?",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "{{deposit.yes_reject_it}}",
                            cancelButtonText: "{{deposit.cancel_button}}",
                            customClass: {
                                confirmButton: 'btn btn-warning',
                                cancelButton: 'btn btn-default'
                            },
                            buttonsStyling: false,
                            //showLoaderOnConfirm: true,
                            preConfirm: () => {
                                return $.ajax({
                                    type: 'POST',
                                    url: host + "/deposit/requests/reject",
                                    data: { id }
                                }).then(resultData => {
                                    if (resultData.status === 'success') {
                                        $(thisElement).closest('tr').hide(700);
                                        return resultData;
                                    } else {
                                        throw new Error(resultData.message || "An error occurred");
                                    }
                                }).catch(err => {
                                    Swal.showValidationMessage(err.message);
                                });
                            },
                            allowOutsideClick: () => !Swal.isLoading()
                        }).then((result) => {
                            if (result.isConfirmed && result.value) {
                                Swal.fire({
                                    title: "{{deposit.rejected}}!",
                                    text: "{{deposit.deposit_requset_is_rejct_successfully}}.",
                                    icon: "success",
                                    confirmButtonText: "OK",
                                    customClass: {
                                        confirmButton: 'btn btn-warning mt-10'
                                    },
                                    buttonsStyling: false
                                });

                                $("#myTable").DataTable().ajax.url(ajaxUrl).load();
                            }
                        });
                    });


                    $('body').on('click', '.acceptRequest', function () {
                        let id = $(this).attr('id');
                        let thisElement = this;

                        let selectedType = 'Cash'; // default selected payment

                        Swal.fire({
                            title: "{{deposit.are_you_sure}}?",
                            icon: 'warning',
                            html:
                            "{{deposit.do_you_want_to_accept_this_reuest}}?<br><br>" +
                            "<div class='payment-options text-center'>" +
                            "<button type='button' class='btn btn-primary active select-payment' data-value='Cash'>Cash</button> " +
                            "<button type='button' class='btn btn-default select-payment' data-value='Card'>Card</button>" +
                            "</div>",
                            showCancelButton: true,
                            confirmButtonText: "{{deposit.yes_accept_it}}",
                            cancelButtonText: "{{deposit.cancel_button}}",
                            customClass: {
                                confirmButton: 'btn btn-warning',
                                cancelButton: 'btn btn-default'
                            },
                            buttonsStyling: false,
                            didOpen: () => {
                                const buttons = Swal.getHtmlContainer().querySelectorAll('.select-payment');

                                buttons.forEach(btn => {
                                    btn.addEventListener('click', () => {
                                        buttons.forEach(b => {
                                            b.classList.remove('btn-primary', 'active');
                                            b.classList.add('btn-default');
                                        });
                                        btn.classList.remove('btn-default');
                                        btn.classList.add('btn-primary', 'active');
                                        selectedType = btn.getAttribute('data-value');
                                        Swal.resetValidationMessage(); // clear error
                                    });
                                });
                            },
                            preConfirm: () => {
                                if (!selectedType) {
                                    Swal.showValidationMessage('Please select one');
                                    return false;
                                }
                                return selectedType;
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                const paymentType = result.value;
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/deposit/requests/accept",
                                    data: { id: id, paymentType: paymentType },
                                    success: function (resultData) {
                                        if (resultData.status === 'success') {
                                            $(thisElement).closest('tr').hide(700);
                                            Swal.fire({
                                                title: "{{deposit.accepted}}!",
                                                text: "{{deposit.deposit_request_accepted_successfully}}.",
                                                icon: "success",
                                                confirmButtonText: "OK",
                                                customClass: {
                                                    confirmButton: 'btn btn-warning mt-10'
                                                },
                                                buttonsStyling: false
                                            });
                                            if (resultData?.paymentType.toLowerCase() == "cash" && resultData?.dailyBalance) {
                                                $("#rootChips").text(parseFloat(resultData.dailyBalance).toFixed(2));
                                            }
                                        } else {
                                            Swal.fire({
                                                title: "{{deposit.cancelled}}",
                                                text: resultData.message,
                                                icon: "error",
                                                confirmButtonText: "OK",
                                                customClass: {
                                                    confirmButton: 'btn btn-warning mt-10'
                                                },
                                                buttonsStyling: false
                                             });
                                        }
                                        $("#myTable").DataTable().ajax.url(ajaxUrl).load();
                                    },
                                    error: function () {
                                        Swal.fire("{{deposit.cancelled}}", "An error occurred.", "error");
                                    }
                                });
                            } 
                        });
                    });

                
                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });
    });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
{% endblock %}