{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
    .btn-group-new>.btn,
    .btn-new {
        padding: 2px 83px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }

    .cst {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: stretch;
    }

    .form-horizontal button {
        width: 50px;
    }

    button#search,
    button#filterReset {
        min-width: 55px;
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{{withdraw.withdraw_accountant_emails}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{withdraw.dashboard}}</a></li>
                <li class="active">{{withdraw.accountant_emails}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{withdraw.emailId}}</h6>
                            </div>
                           
                            <div class="pull-right">
                                <a href="/withdraw/add/emails"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i>{{withdraw.add_email}} </button></a>
                            </div>
                           
                            <div class="clearfix"></div>
                        </div>

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive responsive-table">
                                        <table id="myTable" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    <th>{{withdraw.sr_no}}.</th>
                                                    <th>{{withdraw.emailId}}</th>
                                                    <th>{{withdraw.action}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
   
    $(document).ready(function() {
        let host = window.location.origin;
    
        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "{{withdraw.search}} {{withdraw.emailId}}",
                "sLengthMenu": "{{withdraw.show}} _MENU_ {{withdraw.entries}}",
                "oPaginate": {
                    sPrevious: "{{ withdraw.previous }}",
                    sNext: "{{ withdraw.next }}"
                },
                "sEmptyTable": "{{withdraw.no_data_available_in_table}}",
                "sInfo": "{{withdraw.showing}} _START_ to _END_ of _TOTAL_ {{withdraw.entries}}",
                "sInfoEmpty": "{{withdraw.showing}} 0 to 0 of 0 {{withdraw.entries}}"
            },
            "processing": true,
            "serverSide": true,
            "bSort": false,
            "order":[[ 1, "asc" ]],
            "columnDefs":[{
                "targets":[1,2],
                "orderable":false,
                },
                { className: 'text-center', targets: [1], "width": "50%" },
                { className: 'text-center', targets: [2] },
            ],
            "scrollX": false,
            "autoWidth": false,
            "pageLength": 10,
            "ajax": host + "/withdraw/get/emails",
            "columns": [
                {   data: 'SrNo',
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { "data": "email" }, 
                {
                    "data": "action",
                    render: function (data, type, row) {
                        let html = '<div style="width : 100px !important;margin : 0 auto;text-align: center;">';
                        html += ` <a href="/withdraw/edit/emails/` + row._id + `"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a>`;
                        html += ` <button type="button" name="delete" id="` + row._id + `"class="btn btn-danger btn-xs delete btn-delete" title="Delete Email"><i class="fa fa-trash" aria-hidden="true"></i></button>`;
                        html += '</div>'
                        return html;
                    }
            }],
        });

        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    $('body').on('click', '.delete', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "{{withdraw.are_you_sure}}?",
                            text: "{{withdraw.you_will_not_be_able_to_recover_this_email}}!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "{{withdraw.delete_button}}!",
                            cancelButtonText: "{{withdraw.cancel_button}}!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/withdraw/delete/emails",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        console.log(resultData);
                                        if (resultData == 'success') {
                                            $(thisElement).parent().parent().parent().hide(700);
                                            swal("{{withdraw.deleted}}!", "{{withdraw.email_has_been_deleted}}.", "success");
                                        }
                                        // alert("Save Complete")
                                        let ajax_source = host + "/withdraw/get/emails";
                                        let table = $("#myTable").DataTable();
                                        table.ajax.url(ajax_source).load();
                                    }
                                });
                            } else {
                                swal("{{withdraw.cancelled}}", "{{withdraw.delete_action_has_been_cancelled}}.", "error");
                            }
                        });
                        return false;
                    });

                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

    });
</script>
{% endblock %}