{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
    .popover {
        max-width: 600px;
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Title -->
        <section class="content-header">
            <h1>Withdraw Amount History Table</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active" href="#">Withdraw</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Withdraw Amount History</h6>
                            </div>
                            <div class="pull-right">
                                <!-- <a href="/addPlayer"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i> Add Player</button></a> -->
                                <button class="btn btn-success btn-xs btn-rounded" onClick="$('#myTable').DataTable().ajax.reload();">Refresh Table</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='startDate'>
                                                <input type='text' class="form-control" name="start_date" id="start_date" placeholder="Start Date" data-date-format="yyyy-mm-dd" />
                                                <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='endDate'>
                                                <input type='text' class="form-control" name="end_date" id="end_date" placeholder="End Date" data-date-format="yyyy-mm-dd" />
                                                <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-4">
                                        <input type="button" name="search" id="search" value="Search" class="btn btn-info" />
                                    </div>
                                </div>

                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Full name</th>
                                                    <th>Status</th>
                                                    <th>Previous Balance</th>
                                                    <th>Withdraw Amount</th>
                                                    <th>After Balance</th>
                                                    <th>Date</th>
                                                    <th>Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
        let url = host + "/withdrawAmtHistory/getAllTXNHistory";

        let isAllPlayers = "{{withdrawAmtHistory  }}";
        if (isAllPlayers == 'true') {
            ajaxUrl = host + "/withdrawAmtHistory/getAllTXNHistory";
            ajaxExportUrl = host + "/withdrawAmtHistory/getAllTXNHistory?export=all";
        }

        // setInterval(function() {
        //     $('#myTable').DataTable().ajax.reload();
        // }, 30000);

        $('#startDate input,#endDate input').datepicker();


        fetch_data('no');

        function fetch_data(is_date_search, start_date = '', end_date = '') {
            $('#myTable').DataTable({
                "oLanguage": {
                    "sSearch": "Search Fullname"
                },
                "processing": true,
                "serverSide": true,
                "order": [
                    [0, "desc"]
                ],
                "autoWidth": false,
                "pageLength": 10,
                "ajax": {
                    url: ajaxUrl,
                    type: "GET",
                    data: {
                        is_date_search: is_date_search,
                        start_date: start_date,
                        end_date: end_date
                    }
                },
                "dom": 'lfBrtip',
                "buttons": [
                    'csv', 'excel'
                ],
                "columns": [{
                    "data": "playerName"
                }, {
                    "data": "status"
                }, {
                    "data": "previousBalance"
                }, {
                    "data": "withdrawAmount"
                }, {
                    "data": "afterBalance"
                }, {
                    "data": "createdAt",
                    render: function(data, type, row, meta) {
                        //return moment.utc(row.createdAt).format('DD/MM/YYYY hh:mm a');
                        return moment(row.createdAt).format('DD/MM/YYYY hh:mm a');
                    }
                }, {
                    "data": "remark"
                }, ],
            });
        }

        $('#search').click(function() {
            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();
            if (start_date != '' && end_date != '') {
                $('#myTable').DataTable().destroy();
                fetch_data('yes', start_date, end_date);
            } else {
                alert("Both Date is Required");
            }
        });
    });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
{% endblock %}