{% extends "partition/layout.html" %}


{% block body %}
		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">

				<!-- Title -->
				<section class="content-header">
				    <h1>Login History </h1>
				    <ol class="breadcrumb">
				        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				        <li class="active">Login History</li>
				    </ol>
				</section>
				<!-- /Title -->
				{% include "partition/notification.html" %}
				<!-- Row -->
				<section class="content">
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<!-- <h6 class="panel-title txt-dark">Player Table</h6> -->
									</div>
									<div class="pull-right">
									</div>
									<div class="clearfix"></div>
								</div>
								<input type="hidden" id="playerId" value="{{playerId}}">
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="table-wrap">
											<div class="table-responsive">
												<table id="myTable" class="table table-bordered table-striped" >
													<thead>
														<tr>
															<th>Date</th>
															<th>Ip</th>
															<th>Client</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				

			</div>
		</div>


{% endblock %}

{% block Jscript %}
<script>
$(document).ready( function () {
	var host = window.location.origin;
	  var playerId = $('#playerId').val();
	$('#myTable').DataTable({
		"oLanguage": {
			"sSearch": "Search Username"
		},
		// "scrollX": true,
		"processing": true,
		"serverSide": true,
		// "searching": false,
		"ordering": false,
		"autoWidth": false,
		"pageLength": 25,
		"ajax": host + "/player/getLoginHistory/" + playerId,
		"columns": [
			// { "data": "_id" },
			{ "data": "date" },
			{ "data": "ip" },
			{ "data": "client" },
			
		]
	});
} );

</script>
{% endblock %}
