{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
    .btn-group-new>.btn,
    .btn-new {
        padding: 2px 83px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Title -->
        <section class="content-header">
            <h1>Player Table </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active" href="/player">Player</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Players</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <input type="text" name="agent" id="agent" value="{{Agent.role}}" hidden>
                                        <table id="myTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Email address</th>
                                                    <th>Mobile Number</th>
                                                    <th>Firstname</th>
                                                    <th>DOB</th>
                                                    <th>Bank Id</th>
                                                    <th>HallName</th>
                                                    <th>Assign Access</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    var orderTable = "";
    var host = window.location.origin;
    $(document).ready(function() {
        let ajaxUrl = host + "/player/getPlayer";
        let isAllPlayers = "{{allPlayers}}";
        let agent = $('#agent').val();

        let editFlag = '{{editFlag}}';
        let deleteFlag = '{{deleteFlag}}';
        let statusFlag = '{{statusFlag}}';
        let viewFlag = '{{viewFlag}}';

        if (isAllPlayers == 'true') {}
        // orderTable =  

        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "Search Username"
            },
            "processing": true,
            "serverSide": true,
            "order": [
                [0, "desc"]
            ],
            "columnDefs": [{
                "targets": [9],
                "orderable": false
            }],
            "autoWidth": false,
            "pageLength": 100,
            "ajax": ajaxUrl,
            "pageLength": 25,
            "buttons": [
                // 'csv', 'excel'
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                }, {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                }
            ],
            "columns": [{
                "data": "username"
            }, {
                "data": "email"
            }, {
                "data": "phone"
            }, {
                "data": "nickname"
            }, {
                "data": "dob",
                render: function(data, type, row) {
                    let dt = new Date(row.dob);
                    let date = dt.getDate();
                    let month = parseInt(dt.getMonth() + 1);
                    let year = dt.getFullYear();
                    let hours = dt.getHours();
                    let minutes = dt.getMinutes();
                    let ampm = hours >= 12 ? 'pm' : 'am';
                    hours = hours % 12;
                    hours = hours ? hours : 12;
                    minutes = minutes < 10 ? '0' + minutes : minutes;
                    let createdAt = date + '/' + month + '/' + year + ' '; //+ hours + ':' + minutes + ' ' + ampm;
                    return createdAt;
                }
            }, {
                "data": 'bankId'
            }, {
                "data": 'hall',
                render: function(data, type, row) {
                    var $select = $('<select id="select1-' + row._id + '" ></select>', {
                        "id": row[3],
                        "value": data
                    });
                    $.each(data, function(k, v) {
                        var $option = $("<option></option>", {
                            "text": v.name,
                            "value": v._id
                        });
                        if (data === k) {
                            $option.attr("selected", "selected")
                        }
                        $select.append($option);
                    });
                    return $select.prop("outerHTML");
                }
            }, {
                "data": 'hall',
                render: function(data, type, row) {
                    let html;
                    if (data.length > 0) {
                        if (data[0].status == "Approved") {
                            html = '<span style="color:green">' + data[0].status + '</span>';
                        } else if (data[0].status == "Disapproved") {
                            html = '<span style="color:red">' + data[0].status + '</span>';
                        } else if (data[0].status == null) {
                            html = '<span style="color:red">---</span>';
                        } else {
                            html = `<button type="button" title="Approve" class="btn btn-xs btn-rounded btn-success acceptRequestBtn requestStatusBtn" data-btn="accept" id="` + row._id + `" value="` + data[0]._id + `" >
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" title="Reject"  id="` + row._id + `" value="` + data[0]._id + `"  data-btn="reject" class="btn btn-danger btn-xs btn-rounded requestStatusBtn rejectRequestBtn reject">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>`;
                        }
                    } else {
                        html = '<span style="color:red">---</span>';
                    }
                    return '<div id="dataHall-' + row._id + '">' + html + '</div>';
                }
            }, {
                "data": "status",
                render: function(data, type, row) {
                    return '<span id="status_' + row._id + '">' + row.status + '</span>';

                }
            }, {
                "data": "action",
                render: function(data, type, row) {
                    let html = '';
                    let st = (row.status == 'active') ? 'Block' : 'Active';
                    let stff = (row.status == 'active') ? 'lock' : 'unlock';

                    if (viewFlag == 'true') {
                        html += `<a href="/viewPlayer/` + row._id + `" class="btn btn-info btn-xs btn-rounded" title="View Player">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>`
                    } else {
                        html += `  `;
                    }

                    if (editFlag == 'true') {
                        html += `<a href="/playerEdit/` + row._id + `" title="Edit Player">
                                    <button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>
                                </a>`;
                    } else {
                        html += `  `;
                    }

                    if (statusFlag == 'true') {
                        html += ` <button type="button" title="` + st + ` Player" name="` + st + `" data-st="ac" id="` + row._id + `" class="btn btn-danger btn-xs playerActive btn-rounded">
                                    <i class="fa fa-` + stff + `" aria-hidden="true"></i>
                                </button>`;
                    } else {
                        html += `  `;
                    }

                    if (deleteFlag == 'true') {
                        html += ` <button type="button" name="delete" id="` + row._id + `" class="btn btn-danger btn-xs delete btn-rounded" title="Delete Player">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>`;
                    } else {
                        html += `  `;
                    }

                    return html;
                }
            }]
        });

        var table = $('#myTable').DataTable();



        $('#myTable tbody').on("click", 'tr', function() {
            var data = table.row(this).data();
            var id;
            $('#select1-' + data._id + '').change(function() {
                $("#dataHall-" + data._id).html('');

                id = $(this).val();

                var objData = data.hall;

                var newObj = false;
                $.each(objData, function() {
                    var testObject = this;
                    $.each(testObject, function(k, v) {
                        //alert(k);
                        if (id == v) {
                            newObj = testObject;
                        }
                    });
                });
                if (newObj.status == "pending") {
                    let buttonAdd = '<button type="button" title="Approve" class="btn btn-xs btn-rounded btn-success acceptRequestBtn requestStatusBtn" data-btn="accept" id="' + data._id + '" value="' + id + '" ><i class="fa fa-check" aria-hidden="true"></i></button>\
                                     <button type="button" title="Reject"  id="' + data._id + '" value="' + id + '"  data-btn="reject" class="btn btn-danger btn-xs btn-rounded requestStatusBtn rejectRequestBtn reject"><i class="fa fa-times" aria-hidden="true"></i></button>';
                    $("#dataHall-" + data._id).append(buttonAdd);
                } else if (newObj.status == "Approved") {
                    let spanAdd = '<span style="color:green;">' + newObj.status + '</span>'
                    $("#dataHall-" + data._id).append(spanAdd);
                } else {
                    let spanAdd = '<span style="color:red;">' + newObj.status + '</span>'
                    $("#dataHall-" + data._id).append(spanAdd);
                }
            });



            $(".acceptRequestBtn").click(function() {
                var playerId = $(this).attr("id");
                var optionId = $(this).attr("value");
                var btn = $(this).attr("data-btn");
                $.ajax({
                    type: "POST",
                    url: host + "/player/hallStatus",
                    data: {
                        playerId: playerId,
                        optionId: optionId,
                        btn: btn
                    },
                    success: function(response) {
                        console.log("response: ", response);
                        if (response.status == "success") {
                            if (response.data != null) {

                                var objData = response.data;

                                var newObj = false;
                                $.each(objData, function() {
                                    var testObject = this;
                                    $.each(testObject, function(k, v) {
                                        if (optionId == v) {
                                            newObj = testObject;
                                        }
                                    });
                                });
                                $("#dataHall-" + data._id).html('');
                                if (newObj.status == "Approved") {
                                    let spanAdd = '<span style="color:green;">"' + newObj.status + '"</span>'
                                    $("#dataHall-" + data._id).append(spanAdd);
                                } else {
                                    let spanAdd = '<span style="color:red;">"' + newObj.status + '"</span>'
                                    $("#dataHall-" + data._id).append(spanAdd);
                                }

                                table.ajax.reload();
                            }
                        } else {
                            alert('Hall Status Not Updated');
                        }
                    }
                })

            });


            $(".rejectRequestBtn").click(function() {
                var playerId = $(this).attr("id");
                var optionId = $(this).attr("value");
                var btn = $(this).attr("data-btn");
                $.ajax({
                    type: "POST",
                    url: host + "/player/hallStatus",
                    data: {
                        playerId: playerId,
                        optionId: optionId,
                        btn: btn
                    },
                    success: function(response) {
                        //console.log("response: ", response);
                        if (response.status == "success") {
                            if (response.data != null) {

                                var objData = response.data;

                                var newObj = false;
                                $.each(objData, function() {
                                    var testObject = this;
                                    $.each(testObject, function(k, v) {
                                        if (optionId == v) {
                                            newObj = testObject;
                                        }
                                    });
                                });
                                $("#dataHall-" + data._id).html('');
                                let spanAdd = '<span>"' + newObj.status + '"</span>'
                                $("#dataHall-" + data._id).append(spanAdd);
                                table.ajax.reload();
                            }
                        } else {
                            alert('Hall Status Not Updated');
                        }
                    }
                })

            });


        });




        // $('#myTable tbody').on("click", 'tr', function() {
        //     var data = table.row(this).data();
        //     $('#select1-' + data._id + '').change(function() {
        //         var id = $(this).val();
        //         $('#select2-' + data._id + '').val(id);
        //     });


        //     $('#select2-' + data._id + '').change(function() {
        //         var id = $(this).val();
        //         $('#select1-' + data._id + '').val(id);
        //     });
        // });

        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    //Parameter
                    $('body').on('click', '.delete', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this Player!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "Yes, delete it!",
                            cancelButtonText: "No, cancel Plz!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/player/getPlayerDelete",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        // alert(resultData)
                                        //console.log(resultData);
                                        if (resultData == 'success') {
                                            $(thisElement).parent().parent().hide(700);
                                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                        } else {
                                            alert("Something went wrong")
                                        }
                                        // alert("Save Complete")
                                    }
                                });
                                swal("Deleted!", "Player Deleted Succesfully.", "success");
                            } else {
                                swal("Cancelled", "Player Not Deleted", "error");
                            }
                        });
                        return false;
                    });

                    // Active & Deactive

                    $('body').on('click', '.playerActive', function(e) {
                        var id = $(this).attr('id');
                        let $this = $(this);
                        let st = $(this).attr('data-st');
                        var thisElement = this;
                        swal({
                            title: "Are You Sure?",
                            text: "Do You Want To Update The Status?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "Yes, Update It!",
                            cancelButtonText: "No, Cancel It!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/player/active",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData, data) {
                                        //console.log(data);
                                        if (resultData == 'success') {
                                            let cs = (st == 'ac') ? 'active' : 'block';
                                            if (st == 'ac') {
                                                $this.html('<i class="fa fa-unlock" aria-hidden="true"></i>');
                                                $this.attr('data-st', 'bl')
                                                $this.attr('title', 'Block')
                                                $('#status_' + id).text(cs);
                                            } else {
                                                $this.html('<i class="fa fa-lock" aria-hidden="true"></i>');
                                                $this.attr('data-st', 'ac')
                                                $this.attr('title', 'Active')
                                                $('#status_' + id).text(cs);
                                            }
                                            swal("Update!", "Player Status Updated Successfully..", "success");
                                        } else {
                                            alert("Something went wrong")
                                        }

                                    }
                                });
                                swal("Success!", "Player Status Updated Succesfully.", "success");
                            } else {
                                swal("Cancelled", "Player Status not Updated", "error");
                            }
                        });
                        return false;
                    });

                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

        // $("body").on("click", ".addChips", function() {
        //     var PlayerId = $(this).attr("id");
        //     // console.log("player id ----------->",PlayerId)
        //     var html = '<input type="hidden" id="add_chips_player_id" name="playerId" value="' + PlayerId + '" />';
        //     $("#chipsAdd").html(html);

        //     $.ajax({
        //         dataType: "json",
        //         type: "POST",
        //         url: host + "/player/get/chipsNotes",
        //         data: {
        //             'player_id': PlayerId
        //         },
        //         success: function(response) {
        //             //console.log("response: ", response);
        //             if (response.status == "success") {
        //                 if (response.data != null) {
        //                     $('#chips_note').val(response.data.note);
        //                 }
        //             } else {
        //                 alert('Notes not available');
        //             }
        //         }
        //     })
        // });

        // $("body").on("click", ".playerChipsAction", function() {
        //     //	$(".playerChipsAction").attr("disabled", true);
        //     var playerId = $('#add_chips_player_id').val();
        //     var action = $(this).attr("action");
        //     var action_chips = $('#action_chips').val();

        //     var chips_note = $('#chips_note').val();
        //     // if (parseFloat(action_chips) < 0 || isNaN(action_chips) || (parseFloat(action_chips) % 1 !== 0)) {
        //     if (parseFloat(action_chips) < 0 || isNaN(action_chips)) {
        //         document.getElementById('displayError').style.display = 'block';
        //         document.getElementById('displayError').style.color = 'red';
        //         return false;
        //     }

        //     if (parseFloat(action_chips) <= 0) {
        //         $('#displayError').html('please enter chips minimum 1');
        //         $('#displayError').css('color', 'red');
        //         $('#displayError').show();
        //         return false;
        //     }

        //     $.ajax({
        //         type: 'POST',
        //         url: host + "/player/chipsAction",
        //         data: {
        //             playerId: playerId,
        //             action: action,
        //             chips: action_chips,
        //             chips_note: chips_note
        //         },
        //         success: function(resultData) {
        //             $('#action_chips').val(0);
        //             //console.log(resultData);
        //             if (resultData.status == 'success') {
        //                 $('#responsive-modal').modal('hide');

        //                 $('#rootChips').html(resultData.rootChips);
        //                 $('#' + playerId).html(resultData.newChips);
        //             } else {
        //                 alert(resultData.message)
        //             }
        //             $(".playerChipsAction").attr("disabled", false);
        //             // alert("Save Complete")
        //         }
        //     });
        // });
        // $("body").on("click", "#action_chips", function() {
        //     document.getElementById('displayError').style.display = 'none';
        // });



    });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
{% endblock %}