{% extends "partition/layout.html" %} {% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Title -->
        <section class="content-header">
            <h1>{{roles.role_management_table}} </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{roles.dashboard}}</a></li>
                <li class="active" href="#">{{roles.role_management}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{roles.role_management}}</h6>
                            </div>
                            <div class="pull-right">
                                {% if addFlag %}
                                <a href="/add"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i>{{roles.add_agent_for_assign_role}} </button></a>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <!-- <input type="text" name="agent" id="agent" value="{{Agent.role}}" hidden> -->
                                        <table id="myTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>{{roles.sr_no}}.</th>
                                                    <th>{{roles.username}}</th>
                                                    <th>{{roles.action}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %} {% block Jscript %}
<script>
    let editFlag = '{{editFlag}}';
    let deleteFlag = '{{deleteFlag}}';
    let addFlag = '{{addFlag}}';
    var host = window.location.origin;
    var url = host + "/role/getRole";
    console.log("url", url);
    $(document).ready(function() {

        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "{{roles.search}} {{roles.username}}",
                "sLengthMenu": "{{roles.show}} _MENU_ {{roles.entries}}",
				"oPaginate": {
					sPrevious: "{{ roles.previous }}",
					sNext: "{{ roles.next }}"
				},
                "sEmptyTable": "{{roles.no_data_available_in_table}}",
                "sInfo": "{{roles.showing}} _START_ to _END_ of _TOTAL_ {{roles.entries}}",
                "sInfoEmpty": "{{roles.showing}} 0 to 0 of 0 {{roles.entries}}"
            },
            // "scrollX": true,
            // "searching": false,
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "autoWidth": false,
            "pageLength": 25,
            "ajax": url,
            "dom": 'lBfrtip',
            "columns": [{
                "data": "srno",
                render: function(data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            }, {
                "data": "agentName"
            }, {
                "data": "Action",
                render: function(data, type, row) {
                    let html = ` <div class="table-data-feature">`
                        if(editFlag == 'true'){
                          html += `<a href="/edit/${row._id}"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a>`
                        }
                        if(deleteFlag == 'true'){
                            html += `<a href="/delete/${row._id}"><button type="button" name="delete" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button></a>`
                        }
                                // <a href="/edit/` + row._id + `"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a>
                                // <a href="/delete/` + row._id + `"><button type="button" name="delete" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                                html += `</div>`;
                    return html;
                }
            }]
        });
    });
</script>

{% endblock %}