{% extends "partition/layout.html" %} {% block body %}
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Title -->
        <section class="content-header">
            <h1>{{cmsM.cms_management}} </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{cmsM.dashboard}}</a></li>
                <li class="active" href="#">{{cmsM.cms}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{cmsM.cms_management}}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr align="center">
                                                    <th>{{cmsM.sr_no}}</th>
                                                    <th>{{cmsM.cms_type}}</th>
                                                    <th>{{cmsM.action}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>{{cmsM.faq}}</td>
                                                    
                                                    
                                                    <td>
                                                        {% if (viewFlag) %}
                                                        <a href="/faq" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-eye " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                        {% if (editFlag) %}
                                                        <a href="/faq" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>{{cmsM.Terms_of_service}}</td>
                                                    
                                                    <td>
                                                        {% if (viewFlag) %}
                                                        <a href="/TermsofService" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-eye " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                        {% if (editFlag) %}
                                                        <a href="/TermsofService" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>{{cmsM.support}}</td>
                                                    
                                                    <td>
                                                        {% if (viewFlag) %}
                                                        <a href="/Support" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-eye " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                        {% if (editFlag) %}
                                                        <a href="/Support" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>{{cmsM.about_us}}</td>
                                                    
                                                    <td>
                                                        {% if (viewFlag) %}
                                                        <a href="/Aboutus" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-eye " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                        {% if (editFlag) %}
                                                        <a href="/Aboutus" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>{{cmsM.responsible_gameing}}</td>
                                                    
                                                    <td>
                                                        {% if (viewFlag) %}
                                                        <a href="/ResponsibleGameing" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-eye " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                        {% if (editFlag) %}
                                                        <a href="/ResponsibleGameing" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>{{cmsM.links_of_other_agencies}}</td>
                                                    <td>
                                                        {% if (viewFlag) %}
                                                        <a href="/LinksofOtherAgencies" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-eye " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                        {% if (editFlag) %}
                                                        <a href="/LinksofOtherAgencies" class="btn btn-info btn-xs btn-rounded "><i class="fa fa-pencil-square-o " aria-hidden="true "></i></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>




{% endblock %} {% block Jscript %}

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
{% endblock %}