{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{{cmsM.responsible_gameing}} </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{cmsM.dashboard}}</a></li>
                <li href="#">{{cmsM.responsible_gameing}} </li>

            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{cmsM.responsible_gameing}} </h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <form method="POST" action="/resposibleGameingEdit" name="addTerm" class="form-horizontal">
                                            <table border="0" class="table display  pb-30">
                                                <div class="col-sm-8">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="answer">{{cmsM.responsible_gameing}} :</label>
                                                                <div class="col-sm-10">
                                                                    <textarea class="form-control" placeholder="{{cmsM.enter}} {{cmsM.responsible_gameing}}" required name="answer" value="">{{data.description}}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <tr>
                                                    <td colspan="2">
                                                        <div class="pull-left">
                                                            {% if editFlag==true %}
                                                            <input type="submit" class="btn btn-success btn-flat" value="{{cmsM.submit}}">{% else %}  {% endif %}
                                                            <!-- [ No Permission Edit ] -->
                                                            <a href="/cms" class="btn btn-danger btn-flat">{{cmsM.cancel}}</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /Row -->
    </div>
</div>

{% endblock %} {% block Jscript %}
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" /> {% endblock %}