{% extends "partition/layout.html" %} {% block body %}

<style>
    .chosen-container-multi {
        width: 100% !important;
    }
    
    .chosen-container-multi .chosen-choices {
        padding: 5px !important;
    }
</style>

<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
         <!-- Title -->
        <section class="content-header">
            {% if GroupHall %}
            <h1>{{grouphallData.view_group_of_hall}}</h1>
            {% else %}
            <h1>{{grouphallData.view_group_of_hall}}</h1>
            {% endif %}
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{grouphallData.dashboard}}</a></li>
                <li><a href="/groupHall">{{grouphallData.group_of_hall}}</a></li>
                {% if GroupHall %}
                <li class="active">{{grouphallData.view_group_of_hall}}</li>
                {% endif %}
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{grouphallData.view_group_of_hall}}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <form method="POST" action="#" class="form-horizontal">
                                            <table border="0" class="table display  pb-30">
                                                <div class="col-sm-8">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-4" for="hallname">{{grouphallData.group_of_hall_name}}:</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control" id="name" disabled required name="name" value="{{GroupHall.name}}" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-4" for="assign">{{grouphallData.assign}}:</label>
                                                                <div class="col-sm-6">
                                                                    <select data-placeholder="Chose halls ..." multiple class="chosen-select form-control" readonly disabled>
                                                                            {% for singleHall in hallData %}
                                                                            {% set selected = "false" %}
                                                                                    {% for hall in GroupHall.halls %}
                                                                                        {% if hall.id == singleHall.id %}
                                                                                            {% set selected = "true" %}
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                <option {{ "selected" if selected == 'true' else "" }} value="{{singleHall._id}}">{{singleHall.name}}</option>
                                                                            {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-4" for="lastname">{{grouphallData.select_product}}:</label>
                                                                <div class="col-sm-8">
                                                                    <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select form-control" name="product" readonly disabled>
                                                                        {% for product in productData %}
                                                                        {% set selected = "false" %}
                                                                            {% for products in GroupHall.products %}
                                                                                {% if products == product.id %}
                                                                                    {% set selected = "true" %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            <option {{ "selected" if selected == 'true' else "" }} value="{{product._id}}">{{product.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-4" for="status">{{grouphallData.status}}:</label>
                                                                <div class="col-sm-8">
                                                                    <select class="form-control" name="status" id="status" readonly disabled>
                                                                        <option value="active" readonly {{ "selected" if GroupHall.status=='active' else "" }} >{{grouphallData.active}}</option>
                                                                        <option value="inactive" readonly {{ "selected" if GroupHall.status=='inactive' else "" }} >{{grouphallData.inactive}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <tr>
                                                    <td colspan="2">
                                                        <div class="pull-left">
                                                            <a href="/groupHall" class="btn btn-danger btn-flat">{{grouphallData.cancel}}</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /Row -->
    </div>
</div>

{% endblock %} {% block Jscript %}
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
<!-- <link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script> -->

<script>
    // $("#agentname").change(function() {
    //     var dateType = $('#agentname option:selected').val();
    //     var dateType1 = $('#agentname option:selected').text();
    //     console.log("Agent ID::::", dateType);
    //     console.log("Agent ID::::", dateType1);
    // });

    // $('#agentsData').multiselect({});

    $(document).ready(function() {
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!"
        });
    });

</script>
{% endblock %}