<!-- Register More Ticket Modal -->
<div id="registerMoreTicketModal" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">{{translate.register_more_physical_tickets}}</h4>
       </div>

       <div class="modal-body">
         <div class="mb-10">
            <form method="POST" id="addPhysicalTicketForm" class="form-inline">                     
               <div class="row">
                  <div class="col-md-6">
                     <label class="control-label" for="initialId">{{translate.initial_id_of_the_stack}}:</label>
                     <input type='text' class="form-control initialId"
                     name="initialId" id="initialId"
                     placeholder="{{translate.initial_id_of_the_stack}}"
                     value="{{initialId}}"
                     data-validation="required"
                     data-validation-error-msg = " "
                     autocomplete="off" 
                     {{ "disabled" if session.role == "admin" else "" }}/>
                  </div>
   
                  <div class="col-md-6">
                     <input type="button" class="btn btn-secondary scanButton btn-flat"
                     value="Scan" {{ "disabled" if session.role == "admin" else "" }}> 
                     <input type="button" class="btn btn-success submitButton btn-flat"
                     value="{{translate.submit}} (Space)" {{ "disabled" if session.role == "admin" else "" }}> 
                  </div>
               </div>

               <div class="row" style="margin-top: 10px;">
                  <div class="alert alert-success alert-dismissible alertSuccess" style="display: none">
                     <strong class="alert-success-text">{{translate.data_updated_successfully}}.</strong>
                 </div>
                 <div class="alert alert-danger alert-dismissible alertError" style="display: none">
                     <strong class="alert-error-text">{{translate.something_went_wrong}}.</strong>
                 </div>
               </div>

            </form>
         </div>
         
         
         <div>
               <div class="col-sm-12 text-center mb-1">
                  <h3><b>{{translate.registered_tickets}}</b></h3>
               </div>
               <div class="col-sm-12">
                  <div class="table-wrap">
                     <div class="table-responsive">
                        <table id="registerMoreTicketTable" class="table table-hover display text-center">
                        <thead>
                           <tr>
                              <th>{{translate.ticket_type}}</th>
                              <th>{{translate.initial_id}}</th>
                              <th>{{translate.final_id}}</th>
                              <th>{{translate.tickets_sold}}</th>
                              <th>{{translate.action}}</th>
                           </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                        </table>
                     </div>
                  </div>
               </div>
         </div>
         
       </div>

       <div class="modal-footer">
         
      </div>
     </div>
   </div>
</div>

<!-- Register More Ticket Edit Modal -->
<div id="editModal" class="modal fade modal-wide" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title">{{translate.register_more_tickets_edit}}</h4>
           </div>
           <div class="modal-body">
               <div id="registerMoreTicketErrorContainer" class="hidden alert alert-danger" role="alert"></div>
               <div id="registerMoreTicketsuccessContainer" class="hidden alert alert-success" role="alert"></div>
               
               <form id="editRegisterTicketForm">
                   <div class="row">
                       <div class="col-md-6">
                           <label class="control-label" for="editInitialId">{{translate.initial_id_of_the_stack}}:</label>
                           <input type='text' class="form-control editInitialId"
                           name="editInitialId" id="editInitialId"
                           placeholder="{{translate.initial_id_of_the_stack}}"
                           value=""
                           data-validation="required"
                           data-validation-error-msg = " "
                           autocomplete="off" 
                           />
                       </div>

                       <!-- <div class="col-md-6">
                           <label class="control-label" for="editFinalId">Final Id of the Stack:</label>
                           <input type='text' class="form-control editFinalId"
                               name="editFinalId" id="editFinalId"
                               placeholder="Final Id of the Stack"
                               value=""
                               data-validation="required"
                               data-validation-error-msg = " "
                               autocomplete="off" 
                               />
                           
                       </div> -->
                       <input type="hidden" name ="editTicketColorId", class="editTicketColorId" value="">
                       
                   </div>
                   <br>
                   <div class="row">
                       <div class="col-md-6">
                           <input type="button" class="btn btn-secondary scanEditButton btn-flat"
                           value="{{translate.scan}}"> 
                           <input type="button" class="btn btn-success submitEditButton btn-flat"
                           value="{{translate.edit}} (Space)"> 
                       </div>
                   </div>
                   
               </form>
           </div>
       </div>
   </div>
</div>

<div id="registerSoldTicketModal" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
               aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{translate.register_sold_tickets}}</h4>
         </div>

         <div class="modal-body">
            <h2 class="text-center" id="nextGameNameInModal"></h2>
            <br>
            <form id="physicalTicketForm">
               <div class="form-box">
                  <div class="form-inline text-center">
                     
                     <div class="form-group">
                           <label class="control-label" for="finalIdSoldTicket">{{translate.final_id_of_the_stack}}:</label>
                           <input type='text' class="form-control finalIdSoldTicket"
                              name="finalIdSoldTicket" id="finalIdSoldTicket"
                              placeholder="{{translate.final_id_of_the_stack}}"
                              value="{{finalIdSoldTicket}}"
                              data-validation="required number"
                              data-validation-error-msg = " "
                              autocomplete="off" />
                     </div>
                     <input type="button" class="btn btn-secondary scanButtonSoldTicket btn-flat"
                     value="Scan"> 
                     <input type="button" class="btn btn-success submitButtonSoldTicket btn-flat"
                     value="{{translate.submit}} (F2)"> 
                     <div class="text-center" style="margin: 5px">
                           <div class="alert alert-success alert-dismissible alert-small alertSuccess" style="margin-bottom: 0px !important; display: none">
                              <strong class="alert-success-text">{{translate.data_updated_successfully}}.</strong>
                           </div>
                           <div class="alert alert-danger alert-dismissible alert-small alertError" style="margin-bottom: 0px !important; display: none">
                              <strong class="alert-error-text">{{translate.something_went_wrong}}.</strong>
                           </div>
                     </div>
                  </div>
               </div>
         </form>
         <br>
         
         <div class="table-container">
               <div class="table-wrap">
                  <div class="table-responsive">
                     <table id="physicalTicketTable" class="table table-hover table-bordered display">
                     <thead>
                        <tr>
                           <th class="text-center">{{translate.ticket_type}}</th>
                           <th class="text-center">{{translate.initial_id}}</th>
                           <th class="text-center">{{translate.final_id}}</th>
                           <th class="text-center">{{translate.action}}</th>
                        </tr>
                     </thead>
                     <tbody>
                        
                     </tbody>
                     </table>
                  </div>
               </div>
            
         </div>

         <div class="button-container text-center">
               <button type="button" class="btn btn-primary purchasePhysicalTickets" id="physicalTicketSubmit">{{translate.submit}} (Space)</button>
               <button type="button" class="btn btn-danger cancelPhysicalTickets">{{translate.cancel}}</button>
         </div>
         </div> 

         <div class="modal-footer">
            
         </div>
      </div>
   </div>
</div>


<div id="upcomingGamesModal" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
               aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{translate.upcoming_games}}</h4>
         </div>

         <div class="modal-body">
            <div class="table-wrap">
               <div class="table-responsive">
                  <table id="upcomingGamesTable" class="table table-hover display  pb-30">
                  <thead>
                     <tr>
                        <th>{{translate.sub_game_id}}</th>
                        <th>{{translate.sub_game_name}}</th>
                        <th>{{translate.start_time}}</th>
                        <th>{{translate.ticket_color_type}}</th>
                        <th>{{translate.ticket_price}}</th>
                        <th>{{translate.total_number_of_tickets_sold}}</th>
                        <th>{{translate.Total_earned_from}} <br> {{translate.tickets_sold}}</th>
                        <th>{{translate.status}}</th>
                        <th>{{translate.action}}</th>
                     </tr>
                  </thead>
                  <tbody>
                     
                  </tbody>
                  </table>
               </div>
            </div>
         </div> 

         <div class="modal-footer">
            
         </div>
      </div>
   </div>
</div>

<!-- Stop Game Modal -->
<div id="stopGameModal" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
               aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{translate.stop_game_options}}</h4>
         </div>

         <div class="modal-body">
            <div class="row">
               <div class="col-md-4">
                  <div class="panel panel-default text-center">
                     <div class="panel-heading">
                        <h4>{{translate.stop_game_without_refund}}</h4>
                     </div>
                     <div class="panel-body">
                        <button type="button" class="btn btn-success btn-lg btn-block stopGameOption" 
                                data-option="stop_game_without_refund">
                           {{translate.stop_game_without_refund}}
                        </button>
                     </div>
                  </div>
               </div>

               <div class="col-md-4">
                  <div class="panel panel-default text-center">
                     <div class="panel-heading">
                        <h4>{{translate.stop_game_and_refund_all_halls}}</h4>
                     </div>
                     <div class="panel-body">
                        <button type="button" class="btn btn-success btn-lg btn-block stopGameOption" 
                                data-option="stop_game_and_refund">
                           {{translate.stop_game_and_refund}}
                        </button>
                     </div>
                  </div>
               </div>

               <div class="col-md-4">
                  <div class="panel panel-default text-center">
                     <div class="panel-heading">
                        <h4>{{translate.select_hall_to_stop_game_in_hall}}</h4>
                     </div>
                     <div class="panel-body">
                        <div class="form-group">
                           <select class="form-control" id="hallSelectionDropdown">
                              <option value="">{{translate.select_hall}}</option>
                           </select>
                        </div>
                        <button type="button" class="btn btn-success btn-lg btn-block stopGameOption" 
                                data-option="stop_game_hall" id="stopHallButton">
                           {{translate.stop_game_hall}}
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{translate.cancel}}</button>
         </div>
      </div>
   </div>
</div>


