{% extends "partition/layout.html" %} {% block body %}

<style>
    .action-btn {
        background-color: orange;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .trash-icon {
        cursor: pointer;
    }
    .table-bordered > tbody > tr > td {
        vertical-align: middle;
    }
    .form-box {
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 20px;
        width: 70%;
        margin: 0 auto;
    }
    .form-inline .form-group {
        margin-right: 10px;
    }
    .table-container, .button-container {
        /* width: 70%; */
        margin: 10px auto;
        padding: 10px;
        text-align: center;
    }
    .alert-small {
      padding: 5px 15px;
      margin-top: 20px;
      font-size: 14px;
    }
    
    @media (max-width: 768px) {
        .form-box, .table-container, .button-container {
            width: 100%;
        }
    }
</style>

<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
           
            <h1>{{translate.register_sold_ticket}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{translate.dashboard}}</a></li>
                <li class="active">{{translate.register_sold_ticket}}</li>
            </ol>
           
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        

                        <h2 class="text-center">{{translate.game}} : {{gameData.gameName}}</h2>
                        <form id="physicalTicketForm">
                            <div class="form-box">
                                <div class="form-inline text-center">
                                    
                                    <div class="form-group">
                                        <label class="control-label" for="finalId">{{translate.final_id_of_the_stack}}:</label>
                                        <input type='text' class="form-control finalId"
                                            name="finalId" id="finalId"
                                            placeholder="{{translate.final_id_of_the_stack}}"
                                            value="{{finalId}}"
                                            data-validation="required number"
                                            data-validation-error-msg = " "
                                            autocomplete="off" />
                                    </div>
                                    <input type="button" class="btn btn-secondary scanButton btn-flat"
                                    value="Scan"> 
                                    <input type="button" class="btn btn-success submitButton btn-flat"
                                    value="Submit"> 
                                    <div class="text-center" style="margin: 5px">
                                        <div class="alert alert-success alert-dismissible alert-small alertSuccess" style="margin-bottom: 0px !important; display: none">
                                            <strong class="alert-success-text">{{translate.data_updated_successfully}}.</strong>
                                        </div>
                                        <div class="alert alert-danger alert-dismissible alert-small alertError" style="margin-bottom: 0px !important; display: none">
                                            <strong class="alert-error-text">{{translate.something_went_wrong}}.</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        

                        <div class="table-container">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                  <table id="physicalTicketTable" class="table table-hover table-bordered display">
                                    <thead>
                                      <tr>
                                        <th class="text-center">{{translate.ticket_type}}</th>
                                        <th class="text-center">{{translate.Initial_id}}</th>
                                        <th class="text-center">{{translate.final_id}}</th>
                                        <th class="text-center">{{translate.action}}</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                          
                        </div>

                        <div class="button-container text-center">
                            <button type="button" class="btn btn-primary purchasePhysicalTickets" id="physicalTicketSubmit">{{translate.submit}}</button>
                            <button type="button" class="btn btn-danger cancelPhysicalTickets">{{translate.cancel}}</button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
   
    let gameId = `{{gameData._id}}`;
    
    initializeValidator();

    function initializeValidator() {
        $.validate({
            validateOnEvent: true,
            modules: 'logic',
            validateHiddenInputs: true
        });
    }

    $('#physicalTicketTable').DataTable({
        "bSort": false,
        "order":[[ 0, "desc" ]],
        "columnDefs":[{
            "targets":[],
            "orderable":false,
        },
        { className: 'text-center', targets: [3] },
        ],
        "oLanguage": {
          "sSearch": "{{translate.search}} ",
          "sLengthMenu": "{{translate.show}} _MENU_ {{translate.entries}}",
          "sInfo" : "{{translate.showing}} _START_ to _END_ of _TOTAL_ {{translate.entries}}",
          "oPaginate": {
            sPrevious: "{{ translate.previous }}",
            sNext: "{{ translate.next }}"
          },
          "sInfoEmpty": "{{translate.showing}} 0 to 0 of 0 {{translate.entries}}",
        },
        "scrollX": false,
        "searching": false,
        "processing": true,
        //"serverSide": true,
        "autoWidth": false,
        //"pageLength": 10,
        "bLengthChange": false,
        "ajax": {
            url:  host + "/getSellPhysicalTickets/"+gameId,
            type: "GET",
            data: {
                gameId: gameId,
            },
        },
        "columns": [
            { "data": "ticketColor" }, 
            { "data": "initialId" }, 
            { "data": "finalId" }, 
            {
                "data": "action",
                render: function (data, type, row) {
                    let html = '<div style="width : 100px !important;margin : 0 auto;text-align: center;">';

                        html += ` <button type="button" name="delete"  id="` + row.id + `"class="btn btn-danger btn-xs btn-delete delete" title="Delete Registered Tickets"><i class="fa fa-trash" aria-hidden="true"></i></button>`;

                    html += '</div>'
                    return html;

                }
            }
        ],
    });

    on_scanner("finalId");
    document.addEventListener("keypress", function (e) {
        console.log("tagName", e.target.tagName);
        if (e.target.tagName !== "INPUT") {
            if (!$('#finalId').val()) {
                $('#finalId').focus()
            }
        }
    });

    function on_scanner(id) {
        let is_event = false; // for check just one event declaration
        let input = document.getElementById(id);
        input.addEventListener("focus", function () {
            if (!is_event) {
                is_event = true;
                input.addEventListener("keypress", function (e) {
                    //console.log("keyCode", e.keyCode);
                    setTimeout(function () {
                        if (e.keyCode == 13) {
                            // scanner(input.value);
                            console.log(input.value);
                            if(input.value != ""){
                                if(input.value.toString().length >= 22){
                                    let scanned_value = input.value.toString();
                                    if(scanned_value.length > 22){
                                        scanned_value  = scanned_value.toString().slice(-22);
                                    }
                                    input.value = +scanned_value.substr(14, 7);
                                    if ($('#initialId').val()) {
                                        if (!$('#finalId').val()) {
                                            $('#finalId').focus()
                                        }
                                    }else{
                                        $('#initialId').focus()
                                    }
                                }
                            }
                            //input.select();
                        }
                    }, 250)
                })
            }
        });
    }

    $(".scanButton").on("click", function(){
        let finalId = $(".finalId").val();
        if(!finalId){
            $(".finalId").focus()
        }
    });

    //$("#physicalTicketForm").submit(function( event ){
    $('body').on('click', '.submitButton', function (event){
        event.preventDefault();
        if($("#physicalTicketForm").isValid() == true){
            
        }else{
            if ($(".has-error").length) {
                let el = $('.has-error').first();
                if (! $.isEmptyObject(el)) {
                    $('html, body').animate({
                        scrollTop: (el.offset().top)
                    },10);
                }
            }
            return false;
        }
        $(".submitButton").attr("disabled", true);
        $(".scanButton").attr("disabled", true);
        let finalId = $(".finalId").val();
        let hallId = $('#hallName').find(":selected").val();
        let agentId = $('#agentName').find(":selected").val();
        
        if( ( "{{session.role}}" == "admin" && finalId && hallId && agentId) || ("{{session.role}}" != "admin" && finalId)){
            $.ajax({
                type: "POST",
                url: `/addGamePhysicalTickets`,
                data: {
                    finalId: finalId,
                    gameId: gameId,
                    hallId: $('#hallName').find(":selected").val(),
                    agentId: agentId
                },
                success: function (response) {
                    console.log("response", response)
                    if (response.status == "success") {
                        $(".alert-success-text").html(response.message);
                        $(".alertSuccess").show().delay(2000).fadeOut();
                        //let table = $("#physicalTicketTable").DataTable();
                        //table.ajax.url(host + "/getSellPhysicalTickets/"+gameId).load();
                    }else{
                        $(".alert-error-text").html(response.message);
                        $(".alertError").show().delay(2000).fadeOut();
                    }
                },
                complete: function (data) {
                    $(".submitButton").attr("disabled", false);
                    $(".scanButton").attr("disabled", false);
                    let selectedValue = $('#hallName').find(":selected").val();
                    let selectedAgentValue = $('#agentName').find(":selected").val();
                    $('#physicalTicketForm')[0].reset();
                    $('form:first *:input[type!=hidden]:first').focus();
                    if(selectedValue){
                        $('#hallName').val(selectedValue);
                    }
                    if(selectedAgentValue){
                        $('#agentName').val(selectedAgentValue);
                    }
                    let table = $("#physicalTicketTable").DataTable();
                    if(selectedValue){
                        table.ajax.url(host + "/getSellPhysicalTickets/"+gameId+"?hallId="+selectedValue+"&agentId="+selectedAgentValue).load();
                    }else{
                        table.ajax.url(host + "/getSellPhysicalTickets/"+gameId).load();
                    }

                }
            });
        }else{
            $(".submitButton").attr("disabled", false);
            $(".scanButton").attr("disabled", false);
        }
    });


    $('body').on('click', '.delete', function (e) {
        let id = $(this).attr('id');
        let thisElement = this;
        swal({
            title: "{{translate.are_you_sure_you_want_to_delete_physical_ticket}}?",
            text: "{{translate.you_will_not_be_able_to_recover_this_physical_ticket}}!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#e69a2a",
            confirmButtonText: "{{translate.delete_button}}!",
            cancelButtonText: "{{translate.cancel_button}}!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'POST',
                    url: host + "/deleteSellPhysicalTicket",
                    data: {
                        id: id,
                        gameId: gameId,
                        hallId: $('#hallName').find(":selected").val(),
                        agentId: $('#agentName').find(":selected").val()
                    },
                    success: function (resultData) {
                        if (resultData == 'success') {
                            let selectedValue = $('#hallName').find(":selected").val();
                            let selectedAgentValue = $('#agentName').find(":selected").val();
                            let table = $("#physicalTicketTable").DataTable();
                            if(selectedValue){
                                table.ajax.url(host + "/getSellPhysicalTickets/"+gameId+"?hallId="+selectedValue+"&agentId="+selectedAgentValue).load();
                            }else{
                                table.ajax.url(host + "/getSellPhysicalTickets/"+gameId).load();
                            }
                            swal("{{translate.deleted}}!", "{{translate.physical_ticket_deleted_succesfully}}.", "success");
                        } else {
                            alert("{{translate.something_went_wrong}}")
                        }
                    }
                });
                swal("{{translate.deleted}}!", "{{translate.physical_ticket_deleted_succesfully}}.", "success");
            } else {
                swal("{{translate.cancelled}}", "{{translate.physical_ticket_not_deleted}}", "error");
            }
        });
        return false;
    });


    $('body').on('click', '.cancelPhysicalTickets', function (e) {
        let role = "{{session.role}}";
        if(role == "admin"){
            $('#physicalTicketModal').modal('toggle');
            return false;
        }
        let id = $(this).attr('id');
        let thisElement = this;
        let ticketsCount = $('#physicalTicketTable').DataTable().rows().count();
        if(ticketsCount <= 0){
            $('#physicalTicketModal').modal('toggle');
            return false;
        }
        swal({
            title: "{{translate.are_you_sure_you_want_to_remove_all_physical_ticket}}?",
            text: "{{translate.you_will_not_able_to_recover_this_physical_ticket}} !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#e69a2a",
            confirmButtonText: "{{translate.delete_button}} !",
            cancelButtonText: "{{translate.cancel_button}}!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'POST',
                    url: host + "/deleteAllSellPhysicalTicket",
                    data: {
                        id: id,
                        gameId: gameId
                    },
                    success: function (resultData) {
                        if (resultData == 'success') {
                            let table = $("#physicalTicketTable").DataTable();
                            table.ajax.url(host + "/getSellPhysicalTickets/"+gameId).load();
                            swal("{{translate.deleted}}!", "{{translate.physical_ticket_deleted_succesfully}}.", "success");
                            $('#physicalTicketModal').modal('toggle');
                        } else {
                            alert("{{translate.something_went_wrong}}")
                        }
                    }
                });
                swal("{{translate.deleted}}!", "{{translate.physical_ticket_deleted_succesfully}}.", "success");
            } else {
                swal("{{translate.cancelled}}", "{{translate.physical_ticket_not_deleted}}", "error");
            }
        });
        return false;
    });


    $('body').on('click', '.purchasePhysicalTickets', function (e) {
        e.preventDefault();
        $(".purchasePhysicalTickets").attr("disabled", true);
        $(".cancelPhysicalTickets").attr("disabled", true);
        let finalId = $(".finalId").val();
        let hallId = $('#hallName').find(":selected").val();
        let agentId = $('#agentName').find(":selected").val();
        
        if( ( "{{session.role}}" == "admin" && hallId && agentId) || ("{{session.role}}" != "admin" && gameId )){
            $.ajax({
                type: "POST",
                url: `/purchasePhysicalTickets`,
                data: {
                    gameId: gameId,
                    hallId: hallId,
                    agentId: agentId
                },
                success: function (response) {
                    console.log("response", response)
                    if (response.status == "success") {
                        $(".alert-success-text").html(response.message);
                        $(".alertSuccess").show().delay(2000).fadeOut();
                        if (response.dailyBalance) {
                            $("#rootChips").text(parseFloat(response.dailyBalance).toFixed(2));
                        }
                        window.location.reload();
                    }else{
                        $(".alert-error-text").html(response.message);
                        $(".alertError").show().delay(2000).fadeOut();
                    }
                },
                complete: function (data) {
                    $(".purchasePhysicalTickets").attr("disabled", false);
                    $(".cancelPhysicalTickets").attr("disabled", false);
                    let selectedValue = $('#hallName').find(":selected").val();
                    let selectedAgentValue = $('#agentName').find(":selected").val();
                    if(selectedValue){
                        $('#hallName').val(selectedValue);
                    }
                    if(selectedAgentValue){
                        $('#agentName').val(selectedAgentValue);
                    }
                    let table = $("#physicalTicketTable").DataTable();
                    if(selectedValue){
                        table.ajax.url(host + "/getSellPhysicalTickets/"+gameId+"?hallId="+selectedValue+"&agentId="+selectedAgentValue).load();
                    }else{
                        table.ajax.url(host + "/getSellPhysicalTickets/"+gameId).load();
                    }
                }
            });
        }else{
            $(".purchasePhysicalTickets").attr("disabled", false);
            $(".cancelPhysicalTickets").attr("disabled", false);
        }
        //return false;
    });

</script>
{% endblock %}