{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>Player Table </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li href="/player">Player</li>
                <li class="active">Edit Player</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Edit Player</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <form method="POST" action="/playerEdit/{{player._id}}" name="adduser" class="form-horizontal">
                                            <table border="0" class="table display  pb-30">
                                                <div class="col-sm-6">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="firstname">First Name:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" id="firstname" placeholder="Enter name" required name="firstname" value="{{player.firstname}}" data-validation="length alphanumeric" data-validation-length="" data-validation-error-msg="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="lastname">Last Name:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" id="lastname" placeholder="Enter name" required name="lastname" value="{{player.lastname}}" data-validation="length alphanumeric" data-validation-length="" data-validation-error-msg="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">Username:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" id="username" placeholder="Enter username" required name="username" value="{{player.username}}" data-validation="length alphanumeric" data-validation-length="" data-validation-error-msg="" onkeyup="return forceLower(this);">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="email">Email:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" required name="email" placeholder="Enter email" id="email" value="{{player.email}}" data-validation="email">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="Phone_Number">Phone Number:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="number" class="form-control" min="1" required name="mobile" id="mobile" placeholder="Enter Phone Number" value="{{player.mobile}}" data-validation="length" data-validation-length="min10">
                                                                </div>
                                                            </div>
                                                            <!-- <div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="group">Group:</label>
																	<div class="col-sm-10">
																		<select required="required" class="form-control" id="" name="group">
																			{% for item in groups %}
																			<option value="{{item.id}}" {{ "selected" if  item.groupId == player.groupNumber }}>{{ item.groupId }}</option>
																			{% endfor %}
																		</select>
																	</div>
																</div> -->
                                                            {% if player %}
                                                            <!-- <div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="pwd_hr">Password:</label> 
																	<div class="col-sm-10">
																		<input type="password" class="form-control" id="password" placeholder="Enter password" data-minlength="0" name="password" value="{{player.password}}" data-validation="length" data-validation-length="min0">
																	</div>
																</div> -->
                                                            {% else %}
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="pwd_hr">Password:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" pattern=".{8,30}" data-minlength="8" data-validation="length" data-validation-length="min8" title="Password must be  8 characters minimum">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="pwd_hr">Confirm Password:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Enter confirm password" pattern=".{8,30}" data-minlength="8" data-validation="length" data-validation-length="min8" title="Conform password must be  8 characters minimum">
                                                                </div>
                                                            </div>
                                                            {% endif %} {#
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">Firstname:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" required name="firstname" value="{{player.firstname}}" data-validation="length alphanumeric" data-validation-length="" data-validation-error-msg="Firstname is required">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">Lastname:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" required name="lastname" value="{{player.lastname}}" data-validation="length alphanumeric" data-validation-length="" data-validation-error-msg="Lastname is required">
                                                                </div>
                                                            </div> #}
                                                        </div>
                                                    </div>
                                                </div>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="pull-right">
                                                            <input type="submit" class="btn btn-success btn-flat" value="Submit">
                                                            <a href="/player" class="btn btn-danger btn-flat">Cancel</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /Row -->
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
    });

    function forceLower(strInput) {
        strInput.value = strInput.value.toLowerCase();
    }

    var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}