{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{{gameReport.view_player_payout}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{gameReport.dashboard}}</a></li>
                <li class="active">{{gameReport.view_player_payout}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{gameReport.view_player_payout}}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <form method="POST" action="#" name="addHall" class="form-horizontal">
                                            <table border="0" class="table display  pb-30">
                                                <div class="col-sm-8">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">


                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">{{gameReport.username}}:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{username}}">
                                                                </div>
                                                            </div>

                                                            {% if Game =='game_4' %} {% else %}
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">Ticket Number:</label>
                                                                <div class="col-sm-10">

                                                                    {% for item in ticketNumber %}
                                                                    <!-- <div class="row" style="overflow: auto"> -->
                                                                    <p class="col-md-1">{{item}} </p>
                                                                    <!-- </div> -->
                                                                    {% endfor %}

                                                                </div>
                                                            </div>
                                                            {% endif %} {% if Game =='game_4' %}
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">{{gameReport.total_bet_placed}}:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{totalBetPlace}}">
                                                                </div>
                                                            </div>
                                                            {% else %}
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">{{gameReport.total_ticket_price}}:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{totalTicketPrice}}">
                                                                </div>
                                                            </div>
                                                            {% endif %}

                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">{{gameReport.winnings}}:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{totalWinning}}">
                                                                </div>
                                                            </div>


                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">{{gameReport.profit}}:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{Profit}}">
                                                                </div>
                                                            </div>


                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">{{gameReport.loss}}:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{Loss}}">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <tr>
                                                    <td colspan="2">
                                                        <div class="pull-left">
                                                            <a href="/payoutPlayer" class="btn btn-danger btn-flat">{{gameReport.cancel}}</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /Row -->
    </div>
</div>

{% endblock %} {% block Jscript %}
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" /> {% endblock %}