{% extends "admin/partials/layout.njk" %} 

{% block body %}

<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 20%;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form action="{{ config.baseUrl }}admin/profileUpdate" method="post" enctype="multipart/form-data" class="form-horizontal" id="profileForm">
                    <div class="card">
                        <div class="card-header">
                            <strong>Edit Super Admin </strong>Details
                        </div>
                        <div class="card-body card-block">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="name" class=" form-control-label">Name</label>
                                    </div>
                                    <div class="col-10 col-md-10">
                                        <input type="text" id="name" name="name" class="form-control" value="{{adminDetail.name}}" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-2">
                                        <label for="username" class=" form-control-label">Username</label>
                                    </div>
                                    <div class="col-10 col-md-10">
                                    <input type="text" id="username" name="username"  placeholder="username" class="form-control" value="{{adminDetail.username}}" required>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="balance" class=" form-control-label">Balance</label>
                                </div>
                                <div class="col-10 col-md-10">
                                    <input type="number" id="balance" name="balance" readonly placeholder="Balance" class="form-control" value="{{balance}}" required>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="phno" class=" form-control-label">Mobile Number</label>
                                </div>
                                <div class="col-10 col-md-10">
                                    <input type="phno" id="phno" name="phno" placeholder="Enter Phno" class="form-control" value="{{adminDetail.phno}}" required>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="password" class=" form-control-label">Password</label>
                                </div>
                                <div class="col-8 col-md-8">
                                    <input type="password" id="password" name="password" placeholder="Password" value="{{password}}" class="form-control passValidation" required>
                                </div>
                                <input type="checkbox" class="btn btn-success btn-sm" onclick="myFunction('ps')">
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="cpassword" class=" form-control-label">Confirm Password</label>
                                </div>
                                <div class="col-8 col-md-8">
                                    <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password" value="{{password}}" class="form-control  cpassValidation" required>
                                </div>
                                <input type="checkbox" class="btn btn-success btn-sm" onclick="myFunction('cps')">
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-2">
                                    <label for="profile_image" class=" form-control-label">Upload Image</label>
                                </div>
                                <div class="col-10 col-md-10">
                                    <input type="file" id="profile_image" accept="image/*" name="profile_image" class="form-control-file">
								</div>	
                                </div>
                            </div>
							<div class=" col-md-6">
                                <div class="row form-group m-t-20">
                                    <div class="col-12 col-md-12 text-center">
                                        <div class="profile_img">
                                            <img id="myImg" src="/admin/images/icon/{{ adminDetail.profilePic}}" alt="{{ adminDetail.name}}" />
                                        </div>
                                    </div>
                                    <div class="col col-md-12 text-center">
                                        <label for="profile_image" class=" form-control-label Profile_title">Role</label>
                                    </div>
                                    <div class="col-12 col-md-12">
                                        <input type="role" id="role" name="role" disabled readonly style="text-align: center;" class="form-control input_button" value="{{adminDetail.role}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success btn-sm">
                            Update
                        </button>
                        <a href="/admin/user"><button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-arrow-left"></i> Back
                        </button></a>
                    </div>
                    </div>
                </form> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020-2021 <a href="/admin/dashboard">{{settings.site_name}}</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
    function myFunction(el) {
        let fl = (el == 'ps') ? 'password' : 'cpassword';
        var x = document.getElementById(fl);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    $("#profileForm").validate({
        rules : {
				password : {
					minlength : 6
				},
				cpassword : {
					minlength : 6,
					equalTo : "#password"
				},
                profile_image: { 
                  extension: "jpg|jpeg|png"
                }
        },
        messages: {
            profile_image: {
                required: 'Please Upload Image',
                extension: 'This Format is not Support'
            }
        },
    });

    
</script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
</script>
{% endblock %}