{% extends "partition/layout.html" %} {% block body %}
<style>

    .loader, .loader:after {
           border-radius: 50%;
           width: 10em;
           height: 10em;
       }
       #loadingDiv {
           position:absolute;;
           top:0;
           left:0;
           width:100%;
           height:100%;
           background-color: #eaeaead1;
           text-align: center;
           vertical-align: middle;
           z-index: 99;
       }
       #loadingDiv img{
           padding-top: 20%;
       }
       .loadContain{
           position: relative;
       }
       .current-user-table{
           background: #dddddd;
           border: 1px solid #ddd;
       }


</style>

<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <div class="loadContain">
            <div class="cusotm-loader" id="loadingDiv"><img src="/admin/loading.gif"></div>

        <!-- Title -->
        <section class="content-header">
            <h1>{{themes.theme}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{themes.dashboard}}</a></li>
                <li href="#">{{themes.theme}} </li>

            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{themes.theme}}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <form method="POST" action="/themeEdit/" name="addTerm" class="" enctype="multipart/form-data">                                              
                                            <div class="panel-wrapper collapse in">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="name">{{themes.android}}: [ {% if fl == true %} {% if theme.android != '' %} {{themes.uploaded}} {% else %} {{themes.not_uploaded}} {% endif %} {% else %} {{themes.not_uploaded}} {% endif %} ]</label>
                                                                <input type="file" class="form-control" name="android" value="">
                                                            </div>                           
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="name">{{themes.version}}:</label>   
                                                                <input type="text" class="form-control" readonly name="versionAndroid" value="{% if fl == true %} {{theme.versionAndroid}} {% else %} 0 {% endif %}">
                                                            </div>   
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="name">{{themes.ios}}: [ {% if fl == true %} {% if theme.ios != '' %} {{themes.uploaded}} {% else %} {{themes.not_uploaded}} {% endif %} {% else %} {{themes.not_uploaded}} {% endif %} ]</label>   
                                                                <input type="file" class="form-control" name="ios" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="name">{{themes.version}}:</label>
                                                                <input type="text" class="form-control" readonly name="versionIOS" value="{% if fl == true %} {{theme.versionIOS}} {% else %} 0 {% endif %}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="name">{{themes.webgl}}: [ {% if fl == true %} {% if theme.webgl != '' %} {{themes.uploaded}} {% else %} {{themes.not_uploaded}} {% endif %} {% else %} {{themes.not_uploaded}} {% endif %} ]</label>
                                                                <input type="file" class="form-control" name="webgl" value=""> 
                                                            </div>   
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="name">{{themes.version}}:</label>
                                                                <input type="text" class="form-control" readonly name="versionWebGL" value="{% if fl == true %} {{theme.versionWebGL}} {% else %} 0 {% endif %}">
                                                            </div>   
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            {% if editFlag %}
                                                            <input type="submit" class="btn btn-success btn-flat" value="{{themes.submit}}">
                                                            {% endif %}
                                                            <a href="/dashboard" class="btn btn-danger btn-flat" id="backBtn">{{themes.cancel}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /Row -->
    </div>
</div>

{% endblock %} {% block Jscript %}
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
<script>
    $(document).ready(function() {
        
        $('body').on('.numericCls', 'keyup', function() {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });


        $(window).on('load', function(){
            setTimeout(removeLoader, 800); //wait for page load PLUS two seconds.
        }); 

        function removeLoader(){
            $( "#loadingDiv" ).fadeOut(500);  
        }
        
        $('body').on('keyup' , function(event){
            if(event.which == 82 || event.keyCode == 82){
                $( "#loadingDiv" ).show();
                setTimeout(removeLoader, 500);
            }
        });

    });
</script> {% endblock %}