{% extends "partition/layout.html" %} {% block body %}

<!-- Main Content -->
<div class="page-wrapper">
  <div class="container-fluid">

    <!-- Title -->
    <section class="content-header">
      <h1>{{orderH.view_order_details}}</h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{orderH.dashboard}}</a></li>
        <li class="active">{{orderH.view_order_details}}</li>
      </ol>
    </section>
    <!-- /Title -->
    {% include "partition/notification.html" %}
    <!-- Row -->
    <section class="content">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default card-view">
            <div class="panel-heading">
              <div class="pull-left">
                <h6 class="panel-title txt-dark">{{orderH.view_order_details}}</h6>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <div class="container">
                  <form class="form-horizontal" id="productCheckout">
                    <div class="form-group">
                      <label for="orderId" class="col-sm-2 control-label">{{orderH.order_id}}:</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="orderId" value="{{cart.orderId}}" readonly disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="userType" class="col-sm-2 control-label">{{orderH.player_type}}:</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="userType" value="{{cart.userType}}" readonly disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="playerName" class="col-sm-2 control-label">{{orderH.player_name}}:</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="playerName" value="{{cart.userName}}" readonly disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="orderDateTime" class="col-sm-2 control-label">{{orderH.order_date_time}}:</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="orderDateTime" value="{{cart.createdAt | date('DD/MM/YYYY, h:mm a')}}" readonly disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="paymentType" class="col-sm-2 control-label">{{orderH.payment_type}}:</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="paymentType" value="{{cart.paymentMethod}}" readonly disabled>
                      </div>
                    </div>
                    {% if Agent.role == "admin" %}
                    <div class="form-group">
                      <label for="agentName" class="col-sm-2 control-label">{{orderH.agent_name}}:</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="agentName" value="{{cart.agentName}}" readonly disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="hallName" class="col-sm-2 control-label">{{orderH.hall_name}}:</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="hallName" value="{{cart.hallName}}" readonly disabled>
                      </div>
                    </div>
                    {% endif %}
                    <div class="row" id="productCart">
                      <div class="col-sm-10">
                        <table class="table text-center table-bordered" id="cartTable">
                          <thead>
                            <tr>
                              <th>{{orderH.product_name}}</th>
                              <th>{{orderH.image}}</th>
                              <th>{{orderH.price_per_quantity}}</th>
                              <th>{{orderH.quantity}}</th>
                              <th>{{orderH.total_amount}}</th>
                            </tr>
                          </thead>
                          <tbody id="cartBody">
                            <tr>
                              <td colspan="6">{{orderH.no_product_selected}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    
                      <div class="col-sm-12">
                        <div class="col-sm-10">
                          <span>{{orderH.total_order_amount}} :</span> <span id="totalAmount">00:00</span>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <a class="col-sm-1 btn btn-danger" style="margin-left: 40%;" href="/orderHistory">{{orderH.back}}</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </section>
  </div>
</div>

{% endblock %}
{% block Jscript %}

<script>
  $(document).ready(function () {
    const cart = JSON.parse(`{{cart | dump | safe}}`) || [];
    console.log("Cart details", cart);
    let selectedProducts = [];
    let productCart = cart.productList || [];

    updateCart();

    function updateCart() {
      $('#cartBody').html('');
      if (productCart.length) {
        console.log("products in the cart", productCart);
        const tBody = $("<tbody></tbody>");
        // Loop through permissions data to build table body rows
        $.each(productCart, function (index, product) {
          console.log(index, product);
          const tableRow = $('<tr>');
          tableRow.append($('<td>').text(product.name));
          tableRow.append($('<td>').append(`<img src="${product.image}" width="50px" height="50px" />`))
          tableRow.append($('<td>').text(product.price));
          tableRow.append($('<td>').text(product.quantity
          ));
          tableRow.append($('<td>').attr('id', `totalAmount_${product.id}`).text(parseFloat(product.quantity * product.price).toFixed(2)));
          $('#cartBody').append(tableRow);
        });

      }
      calculateTotalAmount()
    }

    function calculateTotalAmount() {
      if (productCart.length) {
        let amount = 0;
        productCart.forEach(p => {
          amount = amount + (p.price * p.quantity)
        })
        $('#totalAmount').text(parseFloat(amount).toFixed(2))
      } else {
        $('#totalAmount').text(parseFloat(0).toFixed(2))
      }
    }

  })
</script>
{% endblock %}