{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
    .btn-group-new>.btn,
    .btn-new {
        padding: 2px 83px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }

    .cst {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: stretch;
    }

    .form-horizontal button {
        width: 50px;
    }

    button#search,
    button#filterReset {
        min-width: 55px;
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{{schedules.schedules_management}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{schedules.dashboard}}</a></li>
                <li class="active">{{schedules.schedules}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{schedules.schedules}}</h6>
                            </div>
                           
                            {% if (addSlug == true) %}
                            <div class="pull-right">
                                <a href="/createSchedule"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i>{{schedules.create_schedule}} </button></a>
                            </div>
                            {% endif %}
                            
                            <div class="clearfix"></div>
                        </div>

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive responsive-table">
                                        <table id="myTable" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    <th>{{schedules.schedules_id}}</th>
                                                    <th>{{schedules.schedules_name}}</th>
                                                    <th>{{schedules.schedules_type}}</th>
                                                    <th>{{schedules.total_number_of_games_added_in_scheduler}}</th>
                                                    <th>{{schedules.start_time}}</th>
                                                    <th>{{schedules.end_time}}</th>
                                                    <th>{{schedules.action}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    let isSuperAdmin = "{{Agent.isSuperAdmin}}"
    let viewSlug = '{{viewSlug}}';
    let editSlug = '{{editSlug}}';
    let deleteSlug = '{{deleteSlug}}';
    function onTypeChnage(sel){
        console.log("changed", sel.value)
        let ajax_source = host + "/getSchedules";
        let table = $("#myTable").DataTable();
        table.ajax.url(ajax_source).load();
    }
    $(document).ready(function() {
        let host = window.location.origin;
        let role = '{{Agent.role}}';
        $('.searchByType').on('change', function() {
            alert( $(this).find(":selected").val() );
        });

        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "{{schedules.search}}",
                "sLengthMenu": "{{schedules.show}} _MENU_ {{schedules.entries}}",
                "sInfo" : "{{schedules.show}} _START_ to _END_ of _TOTAL_ {{schedules.entries}}",
                "oPaginate": {
                    sPrevious: "{{ schedules.previous }}",
                    sNext: "{{ schedules.next }}"
                },
                "sInfoEmpty": "{{schedules.showing}} 0 to 0 of 0 {{schedules.entries}}",
            },
            "bSort": false,
            "order":[[ 0, "desc" ]],
            "columnDefs":[{
                "targets":[0,1,2,3,4,5,6],
                "orderable":false,
            },
            { className: 'text-center', targets: [3], "width": "20%" },
            { className: 'text-center', targets: [6] },
            ],
            "scrollX": false,
            "searching": true,
            "processing": true,
            "serverSide": true,
            //"ordering": false,
            "autoWidth": false,
            "pageLength": 25,
            //"ajax": host + "/getSchedules",
            "ajax": {
                url:  host + "/getSchedules",
                type: "GET",
                data: function (data) {
                    data.type = $("#searchByType option:selected").val();
                }
            },
            "columns": [
                { "data": "scheduleNumber" }, 
                { "data": "scheduleName" }, 
                { "data": "scheduleType" }, 
                { "data": "totalGames" }, 
                { "data": "startDate" }, 
                { "data": "endDate" }, 
                {
                    "data": "action",
                    render: function (data, type, row) {
                        let html = '<div style="width : 100px !important;margin : 0 auto;text-align: center;">';
                        if (viewSlug == 'true') {
                            html += ` <a href="/viewSchedule/` + row._id + `" name="view" class="btn btn-info btn-xs view btn-rounded" title="View Schedule"><i class="fa fa-eye" aria-hidden="true"></i></a>`
                        }
                        
                        if (editSlug == 'true') {
                            html += ` <a href="/editSchedule/` + row._id + `"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a>`;
                        }
                        
                        if (deleteSlug == 'true' ) {
                            html += ` <button type="button" name="delete" id="` + row._id + `"class="btn btn-danger btn-xs delete btn-delete" title="Delete Schedule"><i class="fa fa-trash" aria-hidden="true"></i></button>`;
                        }
                        
                        html += '</div>'
                        return html;
                    }
                }],
            initComplete: function(){
                let filterHtml = `
                
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-filter"
                                aria-hidden="true"></i></span>
                        <select name="searchByType" class="form-control searchByType" id="searchByType"
                        onchange="onTypeChnage(this);">
                            <option value="All"> {{schedules.all}} </option>
                            <option value="Auto"> Auto </option>
                            <option value="Manual"> Manual </option>
                        </select>
                    </div>
                                           
                `;
               $(".dataTables_filter").prepend(filterHtml)
            }
        });

        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    $('body').on('click', '.delete', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "{{schedules.are_you_sure}}?",
                            text: "{{schedules.you_will_not_be_able_to_recover_this_schedule}}!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "{{schedules.delete_button}}",
                            cancelButtonText: "{{schedules.cancel_button}}",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/deleteSchedule",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        console.log(resultData);
                                        if (resultData == 'success') {
                                            $(thisElement).parent().parent().parent().hide(700);
                                            swal("{{schedules.deleted}}!", "{{schedules.schedules_has_been_deleted}}.", "success");
                                        }
                                        // alert("Save Complete")
                                        let ajax_source = host + "/getSchedules";
                                        let table = $("#myTable").DataTable();
                                        table.ajax.url(ajax_source).load();
                                    }
                                });
                                //swal("Deleted!", "Schedule Deleted Succesfully.", "success");
                            } else {
                                swal("{{schedules.cancelled}}", "{{schedules.delete_action_has_been_cancelled}}.", "error");
                            }
                        });
                        return false;
                    });

                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

    });
</script>
{% endblock %}