{% extends "partition/layout.html" %} {% block body %}

<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="content-header">
            <h1>{{gameReport.payout_ticket_management}}</h1>
            <div class="choose-game">
                <label>Choose a Game:-</label>
                <select id="games" name="gamesList">
                    <option value="">{{gameReport.choose_a_game}}</option>
                    {% for item in DataOfGames %}
                    <option value="{{item._id}}">{{item.name}}</option>
                    {% endfor %}
                    </select>
            </div>
        </div>

        <!-- Title -->
        <section class="content-header" id="gameHeader">
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content" id="allGameDetails">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading" id="addGameID">
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="profitLoss">

        </div>

    </div>
</div>
{% endblock %}{% block Jscript %}
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function() {



        var socket = io();

        $("#gameHeader").hide();
        $("#allGameDetails").hide();

        // clear for internal content
        $("#gameHeader").empty();
        $("#addGameID").empty();
        $("#myTable").empty();
        $(".table-responsive").empty();
        $("#profitLoss").empty();
        $("#gameHeader").hide();
        $("#allGameDetails").hide();

        //Dropdown Wise Game Details Changes
        $("#games").change(function() {

            // clear for internal content
            $("#gameHeader").empty();
            $("#addGameID").empty();
            $("#myTable").empty();
            $("#profitLoss").empty();
            $(".table-responsive").empty();
            $("#gameHeader").hide();
            $("#allGameDetails").hide();

            // Game ID Select
            var selectedValue = $("#games option:selected").val();
            //console.log("option", selectedValue);

            // if any pervious key store so localStorage do Clear this  key
            localStorage.removeItem("selectedId");
            localStorage.clear();

            //localStorage Set
            localStorage.setItem("selectedId", selectedValue);

            if (selectedValue == "") { // if selectedValue is Blank
                // clear for internal content
                $("#gameHeader").empty();
                $("#addGameID").empty();
                $("#myTable").empty();
                $("#profitLoss").empty();
                $(".table-responsive").empty();
                $("#gameHeader").hide();
                $("#allGameDetails").hide();
            } else {
                gameDetailsGet(selectedValue);
            }
        }).val(function() {
            //Previous Value get
            var id = localStorage.getItem("selectedId");
            //console.log("id", id);
            if (id === null) {
                $("#gameHeader").hide();
                $("#allGameDetails").hide();

                // clear for internal content
                $("#gameHeader").empty();
                $("#addGameID").empty();
                $("#myTable").empty();
                $("#profitLoss").empty();
                $(".table-responsive").empty();
                $("#gameHeader").hide();
                $("#allGameDetails").hide();

            } else {
                gameDetailsGet(id);
            }

            return localStorage.getItem("selectedId");
        });

        function gameDetailsGet(values) {
            var gameTypeId = values;
            $.ajax({
                type: 'GET',
                url: host + "/PayoutGameManagementDetailListTickets/" + gameTypeId,
                success: function(resultData) {
                        // console.log("resultData", resultData);
                        if (resultData) {
                            var gameData = resultData.gameData;

                            let htmlHeader = '<h1>' + gameData.name + ' Table</h1>\
                            <ol class="breadcrumb">\
                                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>\
                                <li class="active">' + gameData.name + ' </li>\
                            </ol>';

                            let htmlGameID = ' <div class="pull-left">\
                                                    <h6 class="panel-title txt-dark">' + gameData.name + ' </h6>\
                                                </div>\ <div class="pull-right"><div> <label>{{gameReport.date}}: </label> <span id="date_menu_placeholder"></span> </div> </div>\
                                           <div class="clearfix"></div>';


                            var str = "";
                            str += '<table id="myTable" class="table table-hover display  pb-30"><thead><tr>';
                            for (var i = 0; i < resultData.theadField.length; i++) {
                                str += '<th>' + resultData.theadField[i] + '</th>';
                            }
                            str += '</tr></thead><tbody></tbody></table>';

                            $("#gameHeader").append(htmlHeader);
                            $("#addGameID").append(htmlGameID);
                            $(".table-responsive").append(str);
                            $("#profitLoss").append(profitLoss);
                            $("#gameHeader").show();
                            $("#allGameDetails").show();

                            var gameType = gameData.type;

                            var columns;
                            var typeId = gameData._id;

                            if (gameType == "game_1") {
                                columns = [{
                                    "data": "SubGameId",
                                     render: function (data, type, row, meta) {
                                        return row.SubGameId ? row.SubGameId : '';
                                    }
                                },{
                                    "data": "groupHallName"
                                }, {
                                    "data": "hallName"
                                }, {
                                    "data": "totalPhysical"
                                }, {
                                    "data": "totalDigital"
                                },{
                                    "data": "createdAt",
                                    render: function(data, type, row, meta) {
                                        return moment.utc(row.createdAt).format('DD/MM/YYYY hh:mm a');
                                    }
                                }, ];
                            } else if (gameType == "game_2") {
                                columns = [{
                                    "data": "SubGameId"
                                }, {
                                    "data": "groupHallName"
                                }, {
                                    "data": "hallName"
                                },  {
                                    "data": "totalTickets"
                                },
                                // , {
                                //     "data": "action",
                                //     render: function(data, type, row) {
                                //         return '<a href="/viewTicketPayout/' + row._id + '/' + gameType + '" class="btn btn-info btn-xs btn-rounded" title="View Game"><i class="fa fa-eye" aria-hidden="true"></i></a>';
                                //     }
                                // },
                                 {
                                    "data": "createdAt",
                                    render: function(data, type, row, meta) {
                                        return moment.utc(row.createdAt).format('DD/MM/YYYY hh:mm a');
                                    }

                                }];
                            } else if (gameType == "game_3") {
                                columns = [{
                                    "data": "SubGameId"
                                }, {
                                    "data": "groupHallName"
                                }, {
                                    "data": "hallName"
                                }, {
                                    "data": "totalTickets"
                                }, 
                                // {
                                //     "data": "action",
                                //     render: function(data, type, row) {
                                //         console.log("row", row, "gameType", gameType);
                                //         return '<a href="/viewTicketPayout/' + row._id + '/' + gameType + '" class="btn btn-info btn-xs btn-rounded" title="View Game"><i class="fa fa-eye" aria-hidden="true"></i></a>';
                                //     }
                                // }, 
                                {
                                    "data": "createdAt",
                                    render: function(data, type, row, meta) {
                                        return moment.utc(row.createdAt).format('DD/MM/YYYY hh:mm a');
                                    }
                                }, ];
                            } else if (gameType == "game_4") {
                                columns = [{
                                    "data": "Game"
                                }, {
                                    "data": "totalNumberOfTicketSold"
                                }, {
                                    "data": "action",
                                    render: function(data, type, row) {
                                        console.log("row", row, "gameType", gameType);
                                        return '<a href="/viewTicketPayout/' + row._id + '/' + gameType + '" class="btn btn-info btn-xs btn-rounded" title="{{gameReport.view_game}}"><i class="fa fa-eye" aria-hidden="true"></i></a>';
                                    }
                                }, {
                                    "data": "createdAt",
                                    render: function(data, type, row, meta) {
                                        return moment.utc(row.createdAt).format('DD/MM/YYYY hh:mm a');
                                    }
                                }, ];
                            } else if(gameType == "game_5" ){
                                columns = [{
                                    "data": "gameNumber"
                                }, {
                                    "data": "player.username"
                                }, {
                                    "data": "groupHalls",
                                    render: function(data, type, row, meta) {
                                        let groupofHall = "";
                                        if(row.groupHalls && row.groupHalls.length > 0){
                                            groupofHall = row.groupHalls[0].name;
                                        }
                                        return groupofHall;
                                    }
                                }, {
                                    "data": "halls",
                                    render: function(data, type, row, meta) {
                                        let halls = "";
                                        if(row.halls && row.halls.length > 0){
                                            halls = row.halls[0].name;
                                        }
                                        return halls;
                                    }
                                }, {
                                    "data": "otherData.ticketIds",
                                    render: function(data, type, row, meta) {
                                        let soldTickets = 0;
                                        if(row.otherData.ticketIds && row.otherData.ticketIds.length > 0){
                                            soldTickets = row.otherData.ticketIds.length;
                                        }
                                        return soldTickets;
                                    }
                                }, 
                                {
                                    "data": "createdAt",
                                    render: function(data, type, row, meta) {
                                        return moment.utc(row.createdAt).format('DD/MM/YYYY hh:mm a');
                                    }
                                }, ];
                            }

                            let targetCol = 0;
                            let notVis = 0;
                            if (gameType == "game_1") {
                                // targetCol = 3;
                                notVis = 5;
                            } else if (gameType == "game_2") {
                                // targetCol = 2;
                                notVis = 4;
                            } else if (gameType == "game_3") {
                                // targetCol = 2;
                                notVis = 4;
                            } else if (gameType == "game_4") {
                                targetCol = 2;
                                notVis = 3;
                            } else if (gameType == "game_5") {
                                notVis = 5;
                            }

                            var tableObject = "";

                            window.dataTableData = () => {
                                    if (tableObject) {
                                        $('#myTable').dataTable().fnDestroy();
                                    }

                                    var host = window.location.origin;
                                    let isSearch = true;
                                    let searchText = "{{gameReport.search_hall}}";
                                    if (gameType == "game_1") {
                                        isSearch =true;
                                        searchText ="{{gameReport.search_hall}}";
                                    } else if(gameType == "game_5"){
                                        isSearch =true;
                                        searchText ="{{gameReport.search_username}}";
                                    }
                                    tableObject = $('#myTable').DataTable({
                                        "oLanguage": {
                                            "sSearch": searchText,
                                            "sLengthMenu": "{{gameReport.show}} _MENU_ {{gameReport.entries}}",
                                            "oPaginate": {
                                                sPrevious: "{{ gameReport.previous }}",
                                                sNext: "{{ gameReport.next }}"
                                            },
                                            "sEmptyTable": "{{gameReport.no_data_available_in_table}}",
                                            "sInfo": "{{gameReport.showing}} _START_ to _END_ of _TOTAL_ {{gameReport.entries}}",
                                            "sInfoEmpty": "{{gameReport.showing}} 0 to 0 of 0 {{gameReport.entries}}"
                                        },
                                        "scrollX": true,
                                        "searching": isSearch,
                                        "processing": true,
                                        "serverSide": true,
                                        "order": [
                                            [notVis, "desc"]
                                        ],
                                        "columnDefs": [{
                                            "targets": [notVis],
                                            "visible": false
                                        }, { "className":  'text-center', "targets": "_all" }],
                                        "autoWidth": false,
                                        "pageLength": 25,
                                        "ajax": {
                                            url: host + "/payoutTicketsGetGameManagementDetailList",
                                            data: {
                                                gameType: gameType
                                            }
                                        },
                                        "columns": columns,
                                        "initComplete": function() {
                                            console.log("iiiiiiiiiiiiiiiiiiiiiiinnnnnnniiiiiiiiiittttt :")
                                            this.api().columns("2").every(function() {
                                                var column = this;
                                                var select = $('<select><option value="all">All</option></select>')
                                                    .appendTo($("#date_menu_placeholder").empty())
                                                    .on('change', function() {
                                                        var val = $.fn.dataTable.util.escapeRegex(
                                                            $(this).val()
                                                        );
                                                        //console.log(" $(this).val() $(this).val() $(this).val() : "+$(this).val())
                                                        column.search(val ? val : '', true, false).draw();
                                                    });

                                                select.append(`<option value="Today">Today</option>
                                                          <option value="Yesterday">Yesterday</option>
                                                          <option value="Weekly">Weekly</option>
                                                          <option value="Monthly">Monthly</option>`);
                                            });
                                        }
                                    });

                                }
                                // Document over
                            $(document).ready(function() {
                                dataTableData();
                            });


                            // if end
                        }
                        //success end
                    }
                    // ajax end
            });
            // function end
        }
        $('.sidebar-toggle').click(function () {
            console.log("sidebar clicked");
            $('.dataTables_scrollHeadInner').css('width', '100%');
            $('#myTable').css('width', '100%');
            setTimeout(function () {
                $('#myTable').DataTable().columns.adjust().draw();
            }, 200);
        })
        // Document over
    });
</script>
<script>
</script>
{% endblock %}