<html>

<head>
</head>

<body>
    <table cellpadding="0" cellspacing="0" width="340px;" style="margin:0px auto;box-shadow: 0px 0px 15px rgba(194,194,194,0.5);border-bottom-left-radius: 10px;border-bottom-right-radius:10px;font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td style="text-align: center;background: #2e0000;padding: 10px 15px;border-top-left-radius: 10px;border-top-right-radius:10px;"><img src="/dist/img/checked.png"></td>
        </tr>
        <tr>
            <td style="padding:25px 15px;text-align: center;">
                <h2>{{title}}</h2>
                <p style="font-weight: bold;margin:10px 0px;font-size: 14px;">{{message}}</p>
                <h2 style="margin-bottom: 0px;">Thank you</h2>
            </td>
        </tr>
    </table>
</body>

</html>