{% extends "partition/layout.html" %} {% block body %}

<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>Sub Game [ Game 1 ] Table</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">Voucher</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Sub Game [ Game 1 ]</h6>
                            </div>
                            <div class="pull-right">
                                {% if addFlag==true %}
                                <a href="/addSubGame"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i>Add Sub Game</button></a>{% else %}  {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    <th>Game Name</th>
                                                    <th>Number of Pattern/Rows</th>
                                                    <th>Status</th>
                                                    <th>Creation Date & Time</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;

        let editFlag = '{{editFlag}}';
        let deleteFlag = '{{deleteFlag}}';
        let viewFlag = '{{viewFlag}}';

        let newTable = $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "Search Game name"
            },
            // "scrollX": true,
            // "searching": false,
            "processing": true,
            "serverSide": true,
            "order": [
                [1, "desc"]
            ],
            "columnDefs": [{
                "targets": [3],
                "orderable": false
            }],
            "autoWidth": false,
            "pageLength": 25,
            "ajax": host + "/subGames/getSubGameList",
            "columns": [{
                "data": "gameName"
            }, {
                "data": "patternRow",
                render: function(data, type, row, meta) {
                    return row.patternRow.length;
                }
            },
            
            {
                "data": "status",
                render: function(data, type, row) {
                    let html;
                    if (data == "active") {
                        html = '<span style="color:green;">Active</span>';
                    } else {
                        html = '<span style="color:red;">Inactive</span>';
                    }
                    return html;
                }
            },
            { "data": "createdAt", render: function(data , type , row){
					
                    let dt = new Date(row.createdAt);
                    let date = dt.getDate();
                    let month = parseInt(dt.getMonth() + 1);
                    let year = dt.getFullYear();
                    let hours = dt.getHours();
                    let minutes = dt.getMinutes();
                    let ampm = hours >= 12 ? 'pm' : 'am';
                    hours = hours % 12;
                    hours = hours ? hours : 12;
                    minutes = minutes < 10 ? '0' + minutes : minutes;
                    month = month < 10 ? '0' + month : month;
                    let newDt = year + '/' + month + '/' + date + ' ' + hours + ':' + minutes + ' ' + ampm;
                    return newDt;
                                
                } 
             },
            {
                "data": "action",
                render: function(data, type, row) {

                    let html = '';

                    if (viewFlag == 'true') {
                        html += `<a href="/viewSubGame/` + row._id + `" class="btn btn-info btn-xs btn-rounded" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>`
                    } else {
                        html += `  `;
                    }

                    if (editFlag == 'true') {
                        html += `<a class="m-lr-3" href="/subGameEdit/` + row._id + `"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a>`;
                    } else {
                        html += `  `;
                    }

                    if (deleteFlag == 'true') {
                        html += `<button type="button" name="delete" id="` + row._id + `" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>`;
                    } else {
                        html += `  `;
                    }
                    return html;
                }
            }]
        });

        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    //Parameter
                    $('body').on('click', '.delete', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this sub game!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "Yes, delete it!",
                            cancelButtonText: "No, cancel Plz!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/subGames/getSubGameDelete",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        console.log(resultData);
                                        if (resultData == 'success') {
                                            $(thisElement).parent().parent().hide(700);
                                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                            newTable.ajax.reload();
                                        }
                                        // alert("Save Complete")
                                    }
                                });
                                swal("Deleted!", "Sub Game Deleted Succesfully.", "success");
                            } else {
                                swal("Cancelled", "Sub Game Not Deleted", "error");
                            }
                        });
                        return false;
                    });

                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

    });
</script>
{% endblock %}