<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background:#fff; font-family:Verdana, Geneva, sans-serif;font-size:14px;padding:0px;margin:0px;">
    <div style="height:100%;background:#fbfbfb;width:100%;max-width:600px;margin:0px auto;box-shadow:0px 0px 4px 1px #e5e5e5;-webkit-box-shadow:0px 0px 4px 1px #e5e5e5;-moz-box-shadow:0px 0px 4px 1px #e5e5e5;-ms-box-shadow:0px 0px 4px 1px #e5e5e5;-o-box-shadow:0px 0px 4px 1px #e5e5e5;">
        <div style="background:#2e0000;color:#fff;font-weight:bold;padding:15px;border-top-left-radius:10px;-webkit-border-top-left-radius:10px;-moz-border-top-left-radius:10px;-ms-border-top-left-radius:10px;-o-border-top-left-radius:10px;border-top-right-radius:10px;-webkit-border-top-left-radius:10px;-moz-border-top-left-radius:10px;-ms-border-top-left-radius:10px;-o-border-top-left-radius:10px;text-align: center;font-size: 18px;"><span>Spillorama Bingo Game</span></div>
        <div style="width:100%;">
            <img src="{{baseUrl}}email/banner.jpg" style="display:block;width: 50%;margin-left: 25%;margin-top: 2%;">
        </div>
        <div style="width:100%;height:100%;color:#000;text-align:center;background:#fff;border:1px solid #f5f5f5;border-bottom-left-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-bottom-left-radius:10px;-ms-border-bottom-left-radius:10px;-o-border-bottom-left-radius:10px;border-bottom-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-bottom-right-radius:10px;-ms-border-bottom-right-radius:10px;-o-border-bottom-right-radius:10px;">
            <p style="margin:0px;padding:30px 0px 0px;">Hi, <strong>{{uname}}</strong></p>
            <p style="margin:0px;padding:30px 30px 30px;">Here's your Promo Code - Valid Upto {{date}}</p>
            <div style="border:2px dotted #429edf;display:block;padding:10px 15px;max-width:200px;margin:0px auto 20px;">
                <div style="text-align:center;text-transform:uppercase;font-weight:bold;color:#2e0000;font-size:20px;line-height:26px;">{{code}}</div>
            </div>
            <p style="margin:0px;padding:20px 30px 20px;">Use This Promocode in Any of Game in Bingo For Purchase Ticket Before {{date2}}.</p>
            <p style="margin:0px;padding:20px 30px 20px;">Note: If you have any query regarding this email or promocode.
                <br>Email Here [ <b> support@bingo.com </b> ]</p>
            <div style="padding:20px 30px 5px;color:#000;">Thank you</div>
            <div style="padding:0px 30px 30px;color:#000;">Team Spillorama Bingo Game</div>
        </div>


        <div style="width:100%;height:100%;color:#000;text-align:center;background:#fff;border:1px solid #f5f5f5;margin:10px 0px 0px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;">
            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;border:0px;">
                <tr>
                    <td style="width:65%;">
                        <div style="padding:20px 0px;">
                            <p style="font-weight:bold;margin:0px;padding:0px 0px 5px;">Download the Spillorama Bingo Game!</p>
                            <p style="font-weight:bold;color:#be0202;margin:0px;padding:0px 0px 5px;">The Best Game Ever</p>
                        </div>

                        <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                            <tr>
                                <td style="text-align:right">
                                    <a href="javascript:void(0);"><img src="{{baseUrl}}email/app-store.png" style="padding-right:5px;"></a>
                                </td>
                                <td style="text-align:left">
                                    <a href="javascript:void(0);"><img src="{{baseUrl}}email/play-store.png" style="padding-left:5px;"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:35%;">
                        <div style="padding-top:15px;">
                            <img src="{{baseUrl}}email/extra-tasty-screen.png" style="display:block;width: 100%;">
                        </div>
                    </td>
                </tr>
            </table>
            <div style="background:#2e0000;color:#fff;border-bottom-left-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-bottom-left-radius:10px;-ms-border-bottom-left-radius:10px;-o-border-bottom-left-radius:10px;border-bottom-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-bottom-right-radius:10px;-ms-border-bottom-right-radius:10px;-o-border-bottom-right-radius:10px;">
                <div style="padding:15px 15px 15px;font-weight:bold;font-size:18px;"> Spillorama Bingo Game </div>
            </div>
        </div>
    </div>
</body>

</html>