{% extends "partition/layout.html" %} {% block body %}

<!-- Main Content -->
<div class="page-wrapper">
  <div class="container-fluid">

    <!-- Title -->
    <section class="content-header">
      <h1>Sell Products</h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Sell Products</li>
      </ol>
    </section>
    <!-- /Title -->
    {% include "partition/notification.html" %}
    <!-- Row -->
    <section class="content">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default card-view">
            <div class="panel-heading">
              <div class="pull-left">
                <h6 class="panel-title txt-dark">Sell Products</h6>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <div class="">
                  <form action="/agent/createCart" id="productCartForm" method="post" class="form-horizontal">
                    <input type="hidden" name="hallId" value="{{session.hall[0].id}}">
                    <div class="form-group">
                      <label for="userType" class="col-sm-2 control-label">Select User Type:</label>
                      <div class="col-sm-4">
                        <select name="userType" id="userType" class="form-control">
                          <option value="Physical">Physical Customer</option>
                          <option value="Online">Online User</option>
                          <option value="Unique">Unique Id Customer</option>
                        </select>                            
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="userName" id="usernameLabel">Customer Name:</label>
                     <div class="col-sm-4">
                      <input type="text" class="form-control" id="userNameInput" name="userName" placeholder="Enter Customer Name" value="" required>
                     </div>
                      <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#products">Add Products</button>
                    </div>
                    <div class="row" id="productCart">
                      <div class="col-sm-12">
                        <table class="table text-center table-bordered" id="cartTable">
                          <thead>
                            <tr>
                              <th>Product Name</th>
                              <th>Image</th>
                              <th>Category</th>
                              <th>Price Per Quantity</th>
                              <th>Quantity</th>
                              <th>Total Amount</th>
                            </tr>
                          </thead>
                          <tbody id="cartBody">
                            <tr>
                              <td colspan="6">No product selected</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
  
                      <div class="col-sm-12">
                        <div class="col-sm-10">
                          <span>Total Order Amount :</span> <span id="totalAmount">00.00</span> 
                        </div>
                        <div class="col-sm-2">
                          <button class="btn btn-primary" id="placeOrder" type="submit">Place Order</button>
                        </div>
                      </div>
  
                    </div>
                  </form>
                </div>
              </div>
            </div>
      </div>
    </section>
  </div>
  <div id="products" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Select Products</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <label for="productList">Select Products : </label>
              <select name="productList[]" id="productList" style="width: 75%;"></select>
            </div>
          </div>
          <br><br>
          <div class="row text-center">
            <button type="button" id="productSelected" class="btn btn-success">Done</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 
{% block Jscript %}
<script src="/dist/js/select2.min.js"></script>
<link href="/dist/css/select2.min.css" rel="stylesheet" />

<script>
  $(document).ready(function () {
    const products = JSON.parse(`{{products | dump | safe}}`);
    console.log("Prosuct list", products);
    let selectedProducts = [];
    let productCart = [];

    //unique id validation
    $("#userNameInput").on("input", function (e) {
      if ($("#userType").val() == "Unique") {
       if (e.keyCode >= 48 && e.keyCode <= 57) {
        return true
       }else{
         // Remove non-numeric characters
         this.value = this.value.replace(/[^0-9]/g, '');
       }
      }
    });


    $('#products').on('shown.bs.modal', function () {
      $('#productList').select2({
        dropdownParent: $('#products'),
        width: 'resolve',
        placeholder: "Select products",
        multiple: true,
        allowClear: true,
        CloseOnSelect: false,
        data: products.map(p => {
          const index = selectedProducts.findIndex(pr => pr == p._id.toString());
          if (index >= 0) {
            return { id: p._id, text: p.name, selected: true }
          } else {
            return { id: p._id, text: p.name }
          }
        })
      })
    });

    $('#productSelected').click(function (e) {
      console.log('selection', $('#productList').val());
      selectedProducts = $('#productList').val();
      $('#products').modal('toggle');
    });

    $('#products').on('hidden.bs.modal', function () {
      let filterProduct = [];
      products.forEach(product => {
        console.log(selectedProducts.includes(product._id));
        if (selectedProducts.includes(product._id)) {
          filterProduct.push({
            id: product._id,
            name: product.name,
            price: product.price,
            quantity: 1,
            image: product.productImage,
            category: product?.category?.name || "NA"
          })
        }
      });
      if (filterProduct.length) {
        //filter non selected or removed products
        productCart = productCart.filter(p => selectedProducts.includes(p.id));
        console.log("filtered products", productCart);
        //filter out newly added products
        filterProduct = filterProduct.filter(p => productCart.findIndex(pr => pr.id == p.id) < 0);
        console.log("filtered products 2", filterProduct);
        //push new products into product cart
        productCart.push(...filterProduct);
      } else {
        //cart is empty
        productCart = [];
      }
      updateCart();
    });


    $('body').on('change', '[id^="quantity_"]', function (e) {
      console.log("changed quantity for", $(this).attr('id'));
      const input = $(this);
      const id = $(this).attr('id').split('_')[1];
      productCart.forEach(p=>{
        if (p.id == id) {
          p.quantity = input.val();
          $(`#totalAmount_${id}`).text(parseFloat(p.quantity * p.price).toFixed(2))
        }
      })
      calculateTotalAmount()
    })

    $('#productCartForm').submit(function (e) {
     if (isNaN(parseFloat($("#totalAmount").text())) || parseFloat($("#totalAmount").text()) <= 0) {
        e.preventDefault()
        alert("Cart total amount is zero.")
     }
    })

    function updateCart() {
       $('#cartBody').html('');
      if (productCart.length) {
        console.log("products in the cart", productCart.length);
        const tBody = $("<tbody></tbody>");
        // Loop through permissions data to build table body rows
        $.each(productCart, function (index, product) {
          console.log(index,product);
          const tableRow = $('<tr>');
          tableRow.append(`<input type="hidden" name="productList[${index}][id]" value="${product.id}" >`)
          tableRow.append(`<input type="hidden" name="productList[${index}][image]" value="${product.image}" >`)
          tableRow.append($('<td>').append(`<input class="form-control" type="text" name="productList[${index}][name]" readonly value="${product.name}" >`));
          tableRow.append($('<td>').append(`<img src="${product.image}" width="50px" height="50px" />`))
          tableRow.append($('<td>').append(`<input class="form-control" type="text" name="productList[${index}][category]" readonly value="${product.category}" >`));
          tableRow.append($('<td>').append(`<input class="form-control" type="text" name="productList[${index}][price]" readonly value="${product.price}" >`));
          tableRow.append($('<td>').append($('<input>')
            .attr('type', 'number')
            .attr('min', 0)
            .attr('name', `productList[${index}][quantity]`)
            .attr('id', `quantity_${product.id}`)
            .attr('required', true)
            .val(product.quantity)
          ));
          tableRow.append($('<td>').attr('id', `totalAmount_${product.id}`).text(parseFloat(product.quantity * product.price).toFixed(2)));
           $('#cartBody').append(tableRow);
        });

      } else {
        const tBody = $("<tbody>");
        const tableRow = $('<tr>');
        tableRow.append($('<td>').attr('colspan', 6).text("No products selected."));
        console.log("cart is empty");
         $('#cartBody').append(tableRow);
      }
      calculateTotalAmount()
    }

    function calculateTotalAmount() {
      if (productCart.length) {
        let amount = 0;
        productCart.forEach(p=>{
          amount = amount + (p.price*p.quantity)
        })
        $('#totalAmount').text(parseFloat(amount).toFixed(2))

      }else{
        $('#totalAmount').text(parseFloat(0).toFixed(2))
      }
    }
    
    $('#userType').change(function (e) {
      if ($(this).val() == "Unique") {
        $('#usernameLabel').text("Unique ID :")
        $('#userNameInput').attr("placeholder","Enter Unique ID")
         $('#userNameInput').val('')
      }else{
        $('#usernameLabel').text("Customer Name:")
        $('#userNameInput').attr("placeholder", "Enter Customer Name")
      }
    })
  })
</script>
{% endblock %}