{% extends "partition/layout.html" %} {% block body %}
<style>
    .m-b-1 {
        margin-bottom: 1em;
    }
    
    .newGameNameStyle {
        font-weight: bold;
        column-count: 3;
    }

     .weekDays-selector input {
      display: none!important;
    }

    .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 50px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    }

    .weekDays-selector input[type=checkbox]:checked + label {
    background: #0583d7;
    color: #ffffff;
    }

</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

       
        <!-- Title -->
        <section class="content-header">
            <h1>{{translate.view}} {{gameData.name}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{translate.dashboard}}</a></li>
                <li href="#">{{gameData.name}}</li>
                <li class="active">{{translate.view}} {{gameData.name}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{translate.view}} {{gameData.name}}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper">
                            <div class="panel-body">
                                <form method="POST" action="#" name="addGTwo" class="">
                                        {% if Game.gameType=='game_3' %}
                                            <!-- Game Mode / Game Start Date and Time-->
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label>{{translate.game_name}} :-</label>
                                                        {% if gameType == 'game_1' %}
                                                        {% set nameofGame = Game.mainGameName %}
                                                        {% else %}
                                                        {% set nameofGame = Game.gameName %}
                                                        {% endif %}
                                                        <input type="text" class="form-control" name="mainGameName" value="{{nameofGame}}" id="mainGameName" disabled readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Game Start and End Date-Time -->
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <label class="">{{translate.start_date_and_time}}:-</label>
                                                        <div class='input-group date' id='startDate'>
                                                            <!-- <input type='text' class="form-control" name="start_date" id="start_date" value="{{StartDate}}" placeholder="Start Date" readonly disabled data-date-format="YYYY-MM-DD HH:mm" /> -->
                                                            <input type='text' class="form-control" name="start_date" id="start_date" value="" placeholder="Start Date" readonly disabled data-date-format="YYYY-MM-DD HH:mm" />
                                                            <span class="input-group-addon">
                                                                 <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label>{{translate.end_date_and_time}}:-</label>
                                                        <div class='input-group date' id='endDate'>
                                                            <input type='text' class="form-control" name="end_date" id="end_date" value="" readonly disabled placeholder="End Date" data-date-format="YYYY-MM-DD HH:mm" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon1 glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if gameData.type=='game_2' or gameData.type=='game_3' %}
                                                <!--Days Selection Selection-->
                                                {% set week = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"] %}
                                                <div class="row">
                                                    <div class="weekDays-selector col-sm-12">
                                                        {% for val in week %}
                                                            {% set add = "false" %}
                                                            {% for day in days %}
                                                                {% if val == day %}
                                                                    {% set add = "true"%}
                                                                {% endif %}
                                                            {% endfor %}
                                                            <input type="checkbox" id="weekday-{{val}}" {{ "checked" if add=='true' else "" }} class="weekday" disabled readonly />
                                                            <label for="weekday-{{val}}">{{val}}</label>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <hr>
                                                <h5><b>{{translate.time_period}} :</b></h5>
                                                <hr>
                                                <!--Time Selection Selection for Selected Day-->
                                                <div class="row days">
                                                    {% for day in days %}
                                                    <div class="day col-md-12">
                                                        <div id="day_{{day}}" class="col-sm-2">
                                                            <input type="text" class="form-control " readonly disabled value="{{day}}">
                                                        </div>
                                                        <div id="time_{{day}}" class="col-sm-10">
                                                            <div class="form-group start_time col-sm-6" style="display:flex;align-items: center;justify-content: space-evenly;">
                                                                <label class="col-sm-4" style="text-align:end;" for="days[{{day}}][]">{{translate.start_time}} :</label>
                                                                <div class="col-sm-7">
                                                                    <input type='text' class="form-control start_time1" name="days[{{day}}][]" id="{{day}}_startTime"
                                                                        placeholder="Select Start Time" data-date-format="HH:mm" value="{{timings[loop.index-1][0]}}" 
                                                                        autocomplete="off" readonly disabled/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group  end_time col-sm-6" style="display:flex;align-items: center;justify-content: space-evenly;">
                                                                <label class="col-sm-3" style="text-align:end;" for="days[{{day}}][]">{{translate.end_time}} : </label>
                                                                <div class="col-sm-7">
                                                                    <input type='text' class="form-control end_time1" name="days[{{day}}][]" id="{{day}}_endTime"
                                                                        placeholder="Select End Time" data-date-format="HH:mm" value="{{timings[loop.index-1][1]}}" 
                                                                        autocomplete="off" readonly disabled/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <hr>
                                            {% endif %}

                                            <!-- Specify if it's bot game -->
                                            <div class="row" id="botDetails">
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label>{{translate.is_bot_game}}?:</label>
                                                        <select name="isBotGame" id="isBotGame" class="form-control" required {{ "disabled" if Game.isBotGame==true
                                                            else "" }}>
                                                            <option value="No">No</option>
                                                            <option value="Yes" {{ "selected" if Game.isBotGame==true else "" }}>Yes</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                {% if Game.isBotGame == true %}
                                                <div class="col-lg-6 col-sm-6" id="totalNumberOfGames">
                                                    <div class="form-group">
                                                        <label>{{translate.how_many_bot_game_to_run}}:-</label>
                                                        <input type="number" class="form-control totalNumberOfGames" name="totalNumberOfGames"
                                                            value="{{Game.totalNumberOfGames}}" disabled placeholder="{{translate.total_bot_game_to_run}}">
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>

                                            <!--GroupofHalls and Halls Selection-->
                                            {% if gameData.type=='game_2' or gameData.type=='game_3' %}
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <label>{{translate.select}} {{translate.group_hall}}</label>
                                                        <select data-placeholder="{{translate.choose}} {{translate.group_hall}}..." multiple class="chosen-select form-control"
                                                            id="groupHallSelected" required disabled name="groupHalls">
                                                            {% for groupHall in Game.groupHalls %}
                                                            <option selected value="{{groupHall.id}}">{{groupHall.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <!-- </div> -->
                                            {% if gameData.type=='game_2' or gameData.type=='game_3' %}
                                                <!-- <hr>
                                                <h5><b>Sub Games :</b></h5>
                                                <hr> -->
                                                <div class="col-12" id="subGamesContainer" style="max-height: 600px;overflow-y:auto;">
                                                    <!-- SubGames will be added here -->
                                                    {% if Game.subGames.length %}
                                                        {% for subGame in Game.subGames %}
                                                            {% set subIndex =  loop.index0 %}
                                                            <div class="ch col-lg-12" style="border : 1px solid #00000033;margin-top:10px;">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-sm-6">
                                                                        <div class="form-group">
                                                                            <label>{{translate.sub_game_name}} :-</label>
                                                                            <input type="text" class="form-control" name="subGame[{{loop.index}}][name]"
                                                                                value="{{subGame.name}}" readonly disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <div class="form-group">
                                                                            <label>{{translate.ticket_price}}:-</label>
                                                                            <input type="number" class="form-control" 
                                                                            name="subGame[{{loop.index}}][ticketPrice]" value="{{subGame.ticketPrice}}" readonly disabled>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <div class="form-group">
                                                                            <label>{{translate.prize_of_lucky_number}} :</label>
                                                                            <input type="number" class="form-control" name="subGame[{{loop.index}}][luckyNumberPrize]" value="{{subGame.luckyNumberPrize}}" readonly disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <div class="form-group">
                                                                            <label>{{translate.notification_start_time}}:</label>
                                                                                <select name="subGame[{{loop.index}}][notificationStartTime]" class="form-control" readonly disabled>
                                                                                    <option value="{{subGame.notificationStartTime}}">{{subGame.notificationStartTime}}</option>
                                                                                </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-sm-6">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <label class="mb-10 col-sm-12 ">{{translate.total_seconds_to_display_ball}}:</label> 
                                                                                <div class="col-sm-12 ">
                                                                                    <input type="number" class="form-control" name="subGame[{{loop.index}}][seconds]" value="{{subGame.seconds}}" readonly disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="form-group " id="minTicketCount">
                                                                                <label>{{translate.minimum_ticket_count}} :-</label>
                                                                                <input type="number" class="form-control" name="subGame[{{loop.index}}][minTicketCount]" value="{{subGame.minTicketCount}}" readonly disabled>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                <div class="col-lg-12">
                                                                    <label>{{translate.jackpot_number_and_prize}} </label>
                                                                    <div class="col-12 m-b-1">
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name="subGame[{{subIndex}}][winningType]"
                                                                                id="inlineRadio1_{{subIndex}}" value="cash" {{ "checked" if subGame.winningType=='cash' else "" }} disabled>
                                                                            <label class="form-check-label" for="inlineRadio1_{{subIndex}}">{{translate.in_cash}}</label>
                                                                        </div>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name="subGame[{{subIndex}}][winningType]"
                                                                                id="inlineRadio2_{{subIndex}}" value="percent" {{ "checked" if subGame.winningType=='percent' else "" }}
                                                                                disabled>
                                                                            <label class="form-check-label" for="inlineRadio2_{{subIndex}}">{{translate.in_percent}}</label>
                                                                        </div>
                                                                    </div>
                                                                        {% for patternArray in subGame.allPatternArray %}
                                                                            {% set isGroup = "true" %}
                                                                            {% set ptrn = '' %}
                                                                            {% set ptrnIndex =  loop.index %}
                                                                            <!-- {% for pattern in patternArray %} -->
                                                                            {% if pattern.groupName != ptrn%}
                                                                                <div class="col-12 m-b-1 patternGroup_{{loop.index}}">
                                                                                    <div class="group-number">
                                                                                            <div class="group-type">
                                                                                                <input loopvalue="{{loop.index}}" type="text" name="grpp[{{loop.index}}][]" class="form-control ptrnVall_{{loop.index}}_${sdrVlNc}" readonly value="{{pattern.groupName}}">
                                                                                            </div>
                                                                                            <div class="group-number-input patternTotalDivList_{{ptrnIndex}}_{{subIndex}}">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    {% set ptrn = pattern.groupName %}
                                                                                {%endif%}
                                                                            <!-- {% endfor %} -->
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a href="/savedGameList" class="btn btn-danger btn-flat">{{translate.cancel}}</a>
                                            </div>
                                        </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Row -->
    </div>

   
</div>
{% endblock %} {% block Jscript %}
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js "></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css " rel="stylesheet " />
<link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css " integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin=" anonymous " />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js " integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin=" anonymous "></script>

<script>

    $(document).ready(function () {
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!"
        });
    })
    let subgameData = `{{ Game.subGames | dump | safe }}`;
    subgameData = JSON.parse(subgameData);
    console.log('subgameData',subgameData);
    let html = ``;
    for (let i = 0; i < subgameData.length; i++) {
        let ptrnData = subgameData[i].allPatternArray;
        console.log(`ptrnData${i}`,ptrnData);
        for (let p = 1; p <= ptrnData.length; p++) {
            let g = p - 1;
            let sGroup = ptrnData[g];
            console.log('ptrnData[p].patternName',sGroup);
            for (let s = 0; s < sGroup.length; s++) {
                if (!sGroup[s].patternType.includes(0) && sGroup[s].patternType != '') {
                    html += `<div class="group-number-input-inner">
                            <div class="group-number-checkbox">
                                <input type="text" class="form-control ptName_${p}_${i}" name="subGame[${i}][ptname]" id="ptName_${p}_${s}_${i}" data-patternId="${sGroup[s].patternId}" data-patternType="${sGroup[s].patternType}" disbled readonly value = "${sGroup[s].patternName}">
                            </div>
                            <div class="number-input">
                                <input type="number" class="form-control ptvalue_${p}_${i}" name="subGame[${i}][ptvalue]" id="ptvalue_${p}_${s}_${i}" value = "${sGroup[s].ballNumber}" disbled readonly>
                            </div>
                            <div class="number-input">
                                <input type="number" class="form-control ptvalue2_${p}_${i}" name="subGame[${i}][ptvalue2]" id="ptvalue2_${p}_${s}_${i}" value = "${sGroup[s].prize}" disbled readonly>
                            </div>`
                    if (subgameData[i].winningType == "percent") {
                        html += `<div class="number-input">
                                <input type="number" class="form-control ptvalue3_${p}_${i} percent" name="subGame[${i}][ptvalue3]" id="ptvalue3_${p}_${s}_${i}" value = "${sGroup[s].prize1}" disbled readonly>
                                </div></div>`;
                    } else {
                        html += `<div class="number-input">
                                <input type="number" class="form-control ptvalue3_${p}_${i}" name="subGame[${i}][ptvalue3]" id="ptvalue3_${p}_${s}_${i}" value = "${sGroup[s].prize1}" disbled readonly>
                                </div></div>`;
                    }

                } else {
                    html += `<div class="group-number-input-inner">
                            <div class="group-number-checkbox">
                                <input type="text" class="form-control ptName_${p}_${i}" name="subGame[${i}][ptname]" id="ptName_${p}_${s}_${i}" data-patternId="` + sGroup[s].patternId + `" data-patternType="` + sGroup[s].patternType + `" disbled readonly value = "${sGroup[s].patternName}">
                            </div>
                            <div class="number-input">
                                <input type="number" class="form-control ptvalue_${p}_${i}" name="subGame[${i}][ptvalue]" id="ptvalue_${p}_${s}_${i}" value = "${sGroup[s].ballNumber}" disbled readonly>
                            </div>`

                    if (subgameData[i].winningType == "percent") {
                        html += `<div class="number-input">
                                <input type="number" class="form-control ptvalue2_${p}_${i} percent" name="subGame[${i}][ptvalue2]" id="ptvalue2_${p}_${s}_${i}" value = "${sGroup[s].prize}" disbled readonly>
                                </div></div>`;
                    } else {
                        html += `<div class="number-input">
                                <input type="number" class="form-control ptvalue2_${p}_${i}" name="subGame[${i}][ptvalue2]" id="ptvalue2_${p}_${s}_${i}" value = "${sGroup[s].prize}" disbled readonly>
                                </div></div>`;
                    }
                }
            }
            console.log('p i',p,i);
            $('.patternTotalDivList_'+p+'_'+i).append(html);
            html = ``;
        }
    }
    let gameType = "{{gameData.type}}";
    let StartDateTemp = "{{StartDate}}";
    let dt = new Date(StartDateTemp);
    let date = dt.getDate();
    let month = parseInt(dt.getMonth() + 1);
    let year = dt.getFullYear();
    let hours = dt.getHours();
    let minutes = dt.getMinutes();
    let ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12;
    hours = hours ? hours : 12;
    minutes = minutes < 10 ? '0' + minutes : minutes;
    let StartDate = (gameType == "game_2") ? date + '/' + month + '/' + year : date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
    console.log("createdAt", StartDate)
    $("#start_date").val(StartDate)

    /* let GraceTimetemp = "{{GraceTime}}";
    let gdt = new Date(GraceTimetemp);
    let gdate = gdt.getDate();
    let gmonth = parseInt(gdt.getMonth() + 1);
    let gyear = gdt.getFullYear();
    let ghours = gdt.getHours();
    let gminutes = gdt.getMinutes();
    let gampm = ghours >= 12 ? 'pm' : 'am';
    ghours = ghours % 12;
    ghours = ghours ? ghours : 12;
    gminutes = gminutes < 10 ? '0' + gminutes : gminutes;
    let GraceTime = gdate + '/' + gmonth + '/' + gyear + ' ' + ghours + ':' + gminutes + ' ' + gampm;
    console.log("createdAt gracetime", GraceTime)
    $("#grace_time").val(GraceTime) */

    let EndTimetemp = "{{EndTime}}";
    console.log("createdAt endtime", EndTimetemp)
    let edt = new Date(EndTimetemp);
    let edate = edt.getDate();
    let emonth = parseInt(edt.getMonth() + 1);
    let eyear = edt.getFullYear();
    let ehours = edt.getHours();
    let eminutes = edt.getMinutes();
    let eampm = ehours >= 12 ? 'pm' : 'am';
    ehours = ehours % 12;
    ehours = ehours ? ehours : 12;
    eminutes = eminutes < 10 ? '0' + eminutes : eminutes;
    let EndTime = (gameType == "game_2") ? edate + '/' + emonth + '/' + eyear :edate + '/' + emonth + '/' + eyear + ' ' + ehours + ':' + eminutes + ' ' + eampm;
    console.log("createdAt endtime", EndTime)
    $("#end_date").val(EndTime);

</script>



{% endblock %}