{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>View Player Details</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">View Player Details</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">View Player Details</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <form method="POST" action="#" class="form-horizontal">
                                            <table border="0" class="table display  pb-30">
                                                <div class="col-sm-8">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <input type="text" class="playerId" value="{{Player._id}}" hidden>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">Username:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{Player.username}}">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="email">Email:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{Player.email}}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="mobile">Mobile:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{Player.phone}}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="nickname">Firstname:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{Player.nickname}}">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2">Date of Birth:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{DOB}}">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="nickname">Bank ID:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{Player.bankId}}">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="nickname">Hall Name:</label>
                                                                <div class="col-sm-10">
                                                                    {% for row in Player.hall %}
                                                                    <p class="col-md-3">{{row.name}}</p>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>


                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="nickname">Assign Access:</label>
                                                                <div class="col-sm-10">
                                                                    <p class="col-md-1">{{assginAccess}}</p>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2">Status:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" readonly disabled required value="{{Player.status}}">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="pull-left">
                                                            <a href="/player" class="btn btn-danger btn-flat">Cancel</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <label class="control-label mb-8 col-sm-2">Choose a Game:-</label>
        <select id="games" name="gamesList">
                <option value="">Choose Game Type</option>
                {% for item in DataOfGames %}
                <option value="{{item._id}}">{{item.name}}</option>
                {% endfor %}
        </select>
        <section id="gameHeader">
        </section>
        <section id="allGameDetails">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading" id="addGameID">
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive" id="Game">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- /Row -->
    </div>
</div>

{% endblock %} {% block Jscript %}
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script>
    $('#select1').change(function() {
        var id = $("#select1 option:selected").val();
        console.log("option", id);
        $('#select2').val(id);
    });

    $('#select2').change(function() {
        var id = $("#select2 option:selected").val();
        console.log("option", id);
        $('#select1').val(id);
    });


    $(document).ready(function() {

        $("#gameHeader").hide();
        $("#allGameDetails").hide();
        $("#gamesInfo").hide();
        // clear for internal content
        $("#gameHeader").empty();
        $("#addGameID").empty();
        $("#myTable").empty();
        $("#Game").empty();
        $("#gameHeader").hide();
        $("#allGameDetails").hide();

        //Dropdown Wise Game Details Changes
        $("#games").change(function() {

            // clear for internal content
            $("#gameHeader").empty();
            $("#addGameID").empty();
            $("#myTable").empty();
            $("#Game").empty();
            $("#gameHeader").hide();
            $("#allGameDetails").hide();
            $("#gamesInfo").hide();
            // Game ID Select
            var selectedValue = $("#games option:selected").val();
            // console.log("option", selectedValue);

            // if any pervious key store so localStorage do Clear this  key
            localStorage.removeItem("selectedId");
            localStorage.clear();

            //localStorage Set
            localStorage.setItem("selectedId", selectedValue);

            if (selectedValue == "") { // if selectedValue is Blank
                // clear for internal content
                $("#gameHeader").empty();
                $("#addGameID").empty();
                $("#myTable").empty();
                $("#Game").empty();
                $("#gameHeader").hide();
                $("#allGameDetails").hide();
                $("#gamesInfo").hide();
            } else {
                gameDetailsGet(selectedValue);
            }
        }).val(function() {
            //Previous Value get
            var id = localStorage.getItem("selectedId");
            //console.log("id", id);
            if (id === null) {
                $("#gameHeader").hide();
                $("#allGameDetails").hide();

                // clear for internal content
                $("#gameHeader").empty();
                $("#addGameID").empty();
                $("#myTable").empty();
                $("#Game").empty();
                $("#gameHeader").hide();
                $("#allGameDetails").hide();
                $("#gamesInfo").hide();
            } else {
                gameDetailsGet(id);
            }

            return localStorage.getItem("selectedId");
        });


        function gameDetailsGet(values) {
            var gameTypeId = values;
            //console.log("values", gameTypeId);
            $.ajax({
                type: 'GET',
                url: host + "/playerGameManagementDetailList/" + gameTypeId,
                success: function(resultData) {
                        console.log("resultData", resultData);
                        if (resultData) {
                            var gameData = resultData.gameData;

                            //let htmlHeader = '<h1>' + gameData.name + ' Table</h1>';


                            let htmlGameID = ' <div class="pull-left">\
                                              <h2 class="panel-title txt-dark">' + gameData.name + ' </h2>\
                                           </div>\
                                           <div class="clearfix"></div>';


                            var str = "";
                            str += '<table id="myTable" class="table table-hover display  pb-30"><thead><tr>';
                            for (var i = 0; i < resultData.theadField.length; i++) {
                                str += '<th>' + resultData.theadField[i] + '</th>';
                            }
                            str += '</tr></thead><tbody></tbody></table>';

                            //$("#gameHeader").append(htmlHeader);
                            $("#addGameID").append(htmlGameID);
                            $("#Game").append(str);
                            $("#gameHeader").show();
                            $("#allGameDetails").show();
                            $("#gamesInfo").show();
                            var gameType = gameData.type;
                            //console.log("gameType::::::", gameType);
                            var columns;
                            var typeId = gameData._id;
                            //console.log("typeId", typeId);
                            if (gameType == "game_1") {
                                columns = [{
                                    "data": "gameNumber"
                                }, {
                                    "data": "gameType"
                                }, {
                                    "data": "gameStartDate",
                                    render: function(data, type, row) {
                                        let dt = new Date(row.gameStartDate);
                                        let date = dt.getDate();
                                        let month = parseInt(dt.getMonth() + 1);
                                        let year = dt.getFullYear();
                                        let hours = dt.getHours();
                                        let minutes = dt.getMinutes();
                                        let ampm = hours >= 12 ? 'pm' : 'am';
                                        hours = hours % 12;
                                        hours = hours ? hours : 12;
                                        minutes = minutes < 10 ? '0' + minutes : minutes;
                                        let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                                        return createdAt;
                                    }
                                }, {
                                    "data": "variantGame"
                                }, {
                                    "data": "ticketColorType"
                                }, {
                                    "data": "ticketNumber"
                                }, {
                                    "data": "amtCategory"
                                }, {
                                    "data": "previousBalance",
                                    render: function(data, type, row) {
                                        return Math.round(row.previousBalance);
                                    }
                                }, {
                                    "data": "ticketPrice"
                                }, {
                                    "data": "winningPrice",
                                    render: function(data, type, row) {
                                        let html;
                                        if (row.winningPrice == null) {
                                            html = '--';
                                        } else if (row.winningPrice == 0) {
                                            html = '--';
                                        } else {
                                            html = row.winningPrice;
                                        }
                                        return html;
                                    }
                                }, {
                                    "data": "afterBalance",
                                    render: function(data, type, row) {
                                        return Math.round(row.afterBalance);
                                    }
                                }, {
                                    "data": "remark"
                                }, {
                                    "data": "createdAt",
                                    render: function(data, type, row) {
                                        let dt = new Date(row.createdAt);
                                        let date = dt.getDate();
                                        let month = parseInt(dt.getMonth() + 1);
                                        let year = dt.getFullYear();
                                        let hours = dt.getHours();
                                        let minutes = dt.getMinutes();
                                        let ampm = hours >= 12 ? 'pm' : 'am';
                                        hours = hours % 12;
                                        hours = hours ? hours : 12;
                                        minutes = minutes < 10 ? '0' + minutes : minutes;
                                        let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                                        return createdAt;
                                    }
                                }, ];
                            } else if (gameType == "game_2") {
                                columns = [{
                                    "data": "gameNumber"
                                }, {
                                    "data": "gameType"
                                }, {
                                    "data": "gameStartDate",
                                    render: function(data, type, row) {
                                        console.log("row", row);
                                        let dt = new Date(row.gameStartDate);
                                        let date = dt.getDate();
                                        let month = parseInt(dt.getMonth() + 1);
                                        let year = dt.getFullYear();
                                        let hours = dt.getHours();
                                        let minutes = dt.getMinutes();
                                        let ampm = hours >= 12 ? 'pm' : 'am';
                                        hours = hours % 12;
                                        hours = hours ? hours : 12;
                                        minutes = minutes < 10 ? '0' + minutes : minutes;
                                        let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                                        return createdAt;
                                    }
                                }, {
                                    "data": "ticketNumber"
                                }, {
                                    "data": "amtCategory"
                                }, {
                                    "data": "previousBalance",
                                    render: function(data, type, row) {
                                        return Math.round(row.previousBalance);
                                    }
                                }, {
                                    "data": "ticketPrice"
                                }, {
                                    "data": "winningPrice",
                                    render: function(data, type, row) {
                                        let html;
                                        if (row.winningPrice == null) {
                                            html = '--';
                                        } else {
                                            html = row.winningPrice;
                                        }
                                        return html;
                                    }
                                }, {
                                    "data": "afterBalance",
                                    render: function(data, type, row) {
                                        return Math.round(row.afterBalance);
                                    }
                                }, {
                                    "data": "remark"
                                }, {
                                    "data": "createdAt",
                                    render: function(data, type, row) {
                                        let dt = new Date(row.createdAt);
                                        let date = dt.getDate();
                                        let month = parseInt(dt.getMonth() + 1);
                                        let year = dt.getFullYear();
                                        let hours = dt.getHours();
                                        let minutes = dt.getMinutes();
                                        let ampm = hours >= 12 ? 'pm' : 'am';
                                        hours = hours % 12;
                                        hours = hours ? hours : 12;
                                        minutes = minutes < 10 ? '0' + minutes : minutes;
                                        let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                                        return createdAt;
                                    }
                                }, ];
                            } else if (gameType == "game_3") {
                                columns = [{
                                    "data": "gameNumber"
                                }, {
                                    "data": "gameType"
                                }, {
                                    "data": "gameStartDate",
                                    render: function(data, type, row) {
                                        let dt = new Date(row.gameStartDate);
                                        let date = dt.getDate();
                                        let month = parseInt(dt.getMonth() + 1);
                                        let year = dt.getFullYear();
                                        let hours = dt.getHours();
                                        let minutes = dt.getMinutes();
                                        let ampm = hours >= 12 ? 'pm' : 'am';
                                        hours = hours % 12;
                                        hours = hours ? hours : 12;
                                        minutes = minutes < 10 ? '0' + minutes : minutes;
                                        let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                                        return createdAt;
                                    }
                                }, {
                                    "data": "ticketNumber"
                                }, {
                                    "data": "amtCategory"
                                }, {
                                    "data": "previousBalance",
                                    render: function(data, type, row) {
                                        return Math.round(row.previousBalance);
                                    }
                                }, {
                                    "data": "ticketPrice"
                                }, {
                                    "data": "winningPrice",
                                    render: function(data, type, row) {
                                        let html;
                                        if (row.winningPrice == null) {
                                            html = '--';
                                        } else {
                                            html = row.winningPrice;
                                        }
                                        return html;
                                    }
                                }, {
                                    "data": "afterBalance",
                                    render: function(data, type, row) {
                                        return Math.round(row.afterBalance);
                                    }
                                }, {
                                    "data": "remark"
                                }, {
                                    "data": "createdAt",
                                    render: function(data, type, row) {
                                        let dt = new Date(row.createdAt);
                                        let date = dt.getDate();
                                        let month = parseInt(dt.getMonth() + 1);
                                        let year = dt.getFullYear();
                                        let hours = dt.getHours();
                                        let minutes = dt.getMinutes();
                                        let ampm = hours >= 12 ? 'pm' : 'am';
                                        hours = hours % 12;
                                        hours = hours ? hours : 12;
                                        minutes = minutes < 10 ? '0' + minutes : minutes;
                                        let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                                        return createdAt;
                                    }
                                }, ];
                            } else if (gameType == "game_4") {
                                columns = [{
                                    "data": "gameNumber"
                                }, {
                                    "data": "gameType"
                                }, {
                                    "data": "gameStartDate",
                                    render: function(data, type, row) {
                                        let dt = new Date(row.gameStartDate);
                                        let date = dt.getDate();
                                        let month = parseInt(dt.getMonth() + 1);
                                        let year = dt.getFullYear();
                                        let hours = dt.getHours();
                                        let minutes = dt.getMinutes();
                                        let ampm = hours >= 12 ? 'pm' : 'am';
                                        hours = hours % 12;
                                        hours = hours ? hours : 12;
                                        minutes = minutes < 10 ? '0' + minutes : minutes;
                                        let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                                        return createdAt;
                                    }
                                }, {
                                    "data": "ticketNumber"
                                }, {
                                    "data": "amtCategory"
                                }, {
                                    "data": "previousBalance",
                                    render: function(data, type, row) {
                                        return Math.round(row.previousBalance);
                                    }
                                }, {
                                    "data": "ticketPrice"
                                }, {
                                    "data": "winningPrice",
                                    render: function(data, type, row) {
                                        let html;
                                        if (row.winningPrice == null) {
                                            html = '--';
                                        } else {
                                            html = row.winningPrice;
                                        }
                                        return html;
                                    }
                                }, {
                                    "data": "afterBalance",
                                    render: function(data, type, row) {
                                        return Math.round(row.afterBalance);
                                    }
                                }, {
                                    "data": "remark"
                                }, {
                                    "data": "createdAt",
                                    render: function(data, type, row) {
                                        let dt = new Date(row.createdAt);
                                        let date = dt.getDate();
                                        let month = parseInt(dt.getMonth() + 1);
                                        let year = dt.getFullYear();
                                        let hours = dt.getHours();
                                        let minutes = dt.getMinutes();
                                        let ampm = hours >= 12 ? 'pm' : 'am';
                                        hours = hours % 12;
                                        hours = hours ? hours : 12;
                                        minutes = minutes < 10 ? '0' + minutes : minutes;
                                        let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                                        return createdAt;
                                    }
                                }, ];
                            }

                            $(document).ready(function() {
                                let orderCount =10;
                                if(gameType == "game_1"){
                                    orderCount =12;
                                }
                                var host = window.location.origin;
                                var playerId = $('.playerId').attr('value');
                                $('#myTable').DataTable({
                                    "oLanguage": {
                                        "sSearch": "Search GameID"
                                    },
                                    "scrollX": true,
                                    "searching": true,
                                    "processing": true,
                                    "serverSide": true,
                                    "order": [
                                        [orderCount, "desc"]
                                    ],
                                    "columnDefs": [{
                                        "targets": [10],
                                        "visible": false
                                    }, ],
                                    "autoWidth": false,
                                    "pageLength": 10,
                                    "ajax": {
                                        type: 'GET',
                                        url: host + "/playerGetGameManagementDetailList",
                                        data: {
                                            gameType: gameType,
                                            playerId: playerId
                                        }
                                    },
                                    "columns": columns,
                                });




                                // Document over
                            });
                            // if end
                        }
                        //success end
                    }
                    // ajax end
            });
            // function end
        }
        //Document over




    });
</script>
{% endblock %}