<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
</head>
<body style="background:#fff; font-family:Verdana, Geneva, sans-serif;font-size:14px;padding:0px;margin:0px;">
    <div style="background:#fbfbfb;width:100%;max-width:600px;margin:0px auto;box-shadow:0px 0px 4px 1px #e5e5e5;-webkit-box-shadow:0px 0px 4px 1px #e5e5e5;-moz-box-shadow:0px 0px 4px 1px #e5e5e5;-ms-box-shadow:0px 0px 4px 1px #e5e5e5;-o-box-shadow:0px 0px 4px 1px #e5e5e5;">
        <div style="background:#2e0000;color:#fff;font-weight:bold;padding:15px;border-top-left-radius:10px;-webkit-border-top-left-radius:10px;-moz-border-top-left-radius:10px;-ms-border-top-left-radius:10px;-o-border-top-left-radius:10px;border-top-right-radius:10px;-webkit-border-top-left-radius:10px;-moz-border-top-left-radius:10px;-ms-border-top-left-radius:10px;-o-border-top-left-radius:10px;font-size: 18px;text-align:center;">Spillorama Bingo</div>
        <div style="width:100%;color:#000;text-align:center;background:#fff;border:1px solid #f5f5f5;border-bottom-left-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-bottom-left-radius:10px;-ms-border-bottom-left-radius:10px;-o-border-bottom-left-radius:10px;border-bottom-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-bottom-right-radius:10px;-ms-border-bottom-right-radius:10px;-o-border-bottom-right-radius:10px;">
            <p style="margin:0px;padding:30px 0px 0px;">Hi <strong>{{username}}</strong></p>
            <p style="margin:0px;padding:30px 30px 10px;">{{message}}</p>

            {{#if additionalInfo}}
            <p style="margin:0px;padding:10px 30px 30px;">{{additionalInfo}}</p>
            {{/if}}

            {{#if actionUrl}}
            <div style="display:block;padding:10px 15px;max-width:200px;margin:0px auto 20px;">
                <a href="{{actionUrl}}"><button style="text-align:center;text-transform:uppercase;font-weight:bold;color:#feda02;font-size:18px;line-height:26px;background: #2e0000;border-radius:10px;cursor: pointer;padding: 15px;border:0px;">{{actionButtonText}}</button></a>
            </div>
            {{/if}}
            
            <div style="padding:20px 30px 5px;color:#000;">{{thank_you}}</div>
            <div style="padding:0px 30px 30px;color:#000;">Spillorama Bingo</div>
        </div>
        <div style="width:100%;color:#000;text-align:center;background:#fff;border:1px solid #f5f5f5;margin:10px 0px 0px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;">
            <div style="background:#2e0000;color:#fff;border-bottom-left-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-bottom-left-radius:10px;-ms-border-bottom-left-radius:10px;-o-border-bottom-left-radius:10px;border-bottom-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-bottom-right-radius:10px;-ms-border-bottom-right-radius:10px;-o-border-bottom-right-radius:10px;">
                <div style="padding:15px 15px 15px;font-weight:bold;font-size:18px;">Spillorama Bingo</div>
            </div>
        </div>
    </div>
</body>
</html> 