{% extends "partition/layout.html" %}

{% block body %}
{{session}}

		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">

				<!-- Title -->
				<div class="row heading-bg">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					  <h5 class="txt-dark">Stacks Table</h5>
					</div>
					<!-- Breadcrumb -->
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
					  <ol class="breadcrumb">
						<li><a href="index.html">Dashboard</a></li>
						<li><a href="#"><span>Stacks</span></a></li>
					  </ol>
					</div>
					<!-- /Breadcrumb -->
				</div>
				<!-- /Title -->
				{% include "partition/notification.html" %}
				<!-- Row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<!-- <h6 class="panel-title txt-dark">data Table</h6> -->
								</div>
								<div class="pull-right">
									<!-- <a href="/cashgames/addBlinds"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i> Add Stack</button></a> -->
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="table-wrap">
										<div class="table-responsive">
										<input type="hidden" id="gameType"  name="gameType" value="{{type}}">
										<input type="hidden" id="tableType"  name="gameType" value="{{tableType}}">
											<table id="myTable" class="table table-hover display  pb-30" >
												<thead>
													<tr>
														<th>Id</th>
														<th>Name</th>
														<th>Small Blind</th>
														<th>Big Blind</th>
														<th>Min Players</th>
														<th>Max Players</th>
														<th>Min BuyIn</th>
														<th>Type</th>
														<th>Status</th>
														<th>MaxBuyIn</th>
														<th>Limit</th>
														<!-- <th>Date</th> -->
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

{% endblock %}

{% block Jscript %}
<script>
$(document).ready( function () {
	var host = window.location.origin;
	 var texasId = $('#gameType').val();
	 var tableType = $('#tableType').val();
	$('#myTable').DataTable({
		"oLanguage": {
			"sSearch": "Search Username"
		},
		// "scrollX": true,
		"processing": true,
		"serverSide": true,
		// "searching": false,
		"ordering": false,
		"autoWidth": false,
		"pageLength": 25,
		"ajax": host + "/cashgames/getCashGamePoker/"+texasId+"/"+tableType,
		"columns": [
			{ "data": "tableNumber" },
			{ "data": "name" },
			{ "data": "smallBlind" },
			{ "data": "bigBlind" },
			{ "data": "minPlayers" },
			{ "data": "maxPlayers" },
			{ "data": "minBuyIn" },
			{ "data": "type" },
			{ "data": "status" },
			{ "data": "maxBuyIn" },
			{ "data": "isLimitGame",
			 render : function(data, type, row){
			 	if(data == true){
			 		return 'Limit';
			 	}else{
			 		return 'No Limit';
			 	}
			  }
			},
			// { "data": "createdAt" },
			// { "data": "email" },
			// {
			// 	"data": "image",
			// 	render : function(data, type, row){
			// 		return '<img height="100px" src="'+row.image+'"></img>'
			// 	}
			// },

			{
				"data": "action",
				render : function(data, type, row){
					return '</a> <button type="button" name="delete" id="'+row._id+'" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>'
					// <a href="/cashgames/blindsEdit/'+row._id+'"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button>
					// return '<a href="/userEdit/'+row._id+'"><button type="button" class="btn btn-warning btn-xs" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="'+row._id+'" class="btn btn-danger btn-xs delete"><i class="fa fa-trash" aria-hidden="true"></i></button> '
				}
			}
		]
	});

	$(function() {
		"use strict";

		var SweetAlert = function() {};

		SweetAlert.prototype.init = function() {

			//Parameter
			$('body').on('click', '.delete', function(e){
				var id = $(this).attr('id');
				var thisElement = this;
					swal({
							title: "Are you sure?",
							text: "You will not be able to recover this User!",
							type: "warning",
							showCancelButton: true,
							confirmButtonColor: "#e69a2a",
							confirmButtonText: "Yes, delete it!",
							cancelButtonText: "No, cancel Plz!",
							closeOnConfirm: false,
							closeOnCancel: false
					}, function(isConfirm){
							if (isConfirm) {
								$.ajax({
									type: 'POST',
									url: host + "/cashgames/CashPokerDelete",
									data: {id: id},
									success: function(resultData) {
										// alert(resultData)
										console.log(resultData);
										if (resultData == 'success') {
											$(thisElement).parent().parent().hide(700);
											swal("Deleted!", "Your imaginary file has been deleted.", "success");
										}else {
												alert("Something went wrong")
										}
										// alert("Save Complete")
									}
								});
									swal("Deleted!", "Table Deleted Succesfully.", "success");
							} else {
									swal("Cancelled", "Table Not Deleted)", "error");
							}
					});
					return false;
			});

		},
		$.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

		$.SweetAlert.init();
	});

} );


</script>
{% endblock %}
