{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
    .btn-group-new>.btn,
    .btn-new {
        padding: 2px 83px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }
    .cst {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: stretch;
    }

    .form-horizontal button {
        width: 50px;
    }

    button#search,
    button#filterReset {
        min-width: 55px;
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Title -->
        <section class="content-header">
            <h1>{{grouphallData.group_of_halls}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i>{{grouphallData.dashboard}}</a></li>
                <li class="active" href="#">{{grouphallData.group_of_halls}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{grouphallData.group_of_halls}}</h6>
                            </div>
                            <div class="pull-right">
                                {% if addFlag==true %}
                                <a href="/addGroupHall"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i>{{grouphallData.create_group_of_halls}}</button></a> {% else %} {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <input type="text" name="agent" id="agent" value="{{Agent.role}}" hidden>
                                        <table id="myTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>{{grouphallData.group_of_id}}</th>
                                                    <th>{{grouphallData.group_of_name}}</th>
                                                    <th>{{grouphallData.number_of_hall_assigned}}</th>
                                                    <th>{{grouphallData.tv_screen_url}}</th>
                                                    <th>{{grouphallData.status}}</th>
                                                    <th>{{grouphallData.action}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


{% endblock %} {% block Jscript %}
<script>
    var orderTable = "";
    var host = window.location.origin;
    $(document).ready(function() {

        let sessionRole = '{{session.role}}';
        let columns = [];
        if (sessionRole == 'agent') {
            columns = [{
                "data": "groupHallId"
            }, {
                "data": "name"
            }, {
                "data": "halls"
            }, {
                "data": "tvId",
                render: function (data, type, row) {
                    return `<a href="/tv/${data}" target="_blank"> ${host}/tv/${data} </a>`;
                }
            },
            {
                "data": "status",
                render: function (data, type, row) {
                    let html = `<p style="color:red">Inactive</p>`;
                    if (data && data == "active") {
                        html = `<p style="color:green">Active</p>`
                    }
                    return html;
                }
            }, {
                "data": "action",
                render: function(data, type, row) {
                    return '';
                }
            }];
        } else {
            columns = [{
                "data": "groupHallId"
            }, {
                "data": "name"
            }, {
                "data": "halls"
            },{
                "data": "tvId",
                render: function (data, type, row) {
                    return `<a href="/tv/${data}" target="_blank"> ${host}/tv/${data}</a>`;
                }
            },
            {
                "data": "status",
                render: function (data,type,row) {
                    let html = '';
                    if (data && data == "active") {
                        html += `<p style="color:green">Active</p>`
                    }else{
                        html += `<p style="color:red">Inactive</p>`
                    }
                    return html;
                }
            },{
                "data": "action",
                render: function(data, type, row) {
                    let html = '';
                    if (editFlag == 'true') {
                        html += `<a href="/groupHallEdit/` + row._id + `" style="padding: 0px 5px 0px 5px;"><button type="button" class="btn btn-warning btn-xs btn-rounded"  name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a>`;
                    }
                    if (deleteFlag == 'true') {
                        html += `<button type="button"  name="delete" id="` + row._id + `" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>`;
                    }
                    if (viewFlag == 'true' ) {
                        html += `<a href="/groupHallView/` + row._id + `" style="padding: 0px 5px 0px 5px;"><button type="button" class="btn btn-info btn-xs btn-rounded"  name="edit"><i class="fa fa-eye" aria-hidden="true"></i></button></a>`;
                    }
                    return html;
                }
            }];
        }

        let editFlag = '{{editFlag}}';
        let deleteFlag = '{{deleteFlag}}';
        let viewFlag = '{{viewFlag}}';

        let ajaxUrl = host + "/getGroupHall";
        function loadData() {
            $('#myTable').DataTable({
                //"language": { search: '', searchPlaceholder: "search" },
                "oLanguage": {
                    "sSearch": "{{grouphallData.search}}",
                    "sLengthMenu": "{{grouphallData.show}} _MENU_ {{grouphallData.entries}}",
                    "sInfo" : "{{grouphallData.show}} _START_ to _END_ of _TOTAL_ {{grouphallData.entries}}",
                    "oPaginate": {
                        sPrevious: "{{ grouphallData.previous }}",
                        sNext: "{{ grouphallData.next }}"
                    },
                    "sInfoEmpty": "{{grouphallData.showing}} 0 to 0 of 0 {{grouphallData.entries}}",
                },
                "order": [
                    [0, "desc"]
                ],
                "columnDefs": [{
                    "targets": [3],
                    "orderable": false
                }],
                "processing": true,
                "serverSide": true,
                "autoWidth": false,
                "pageLength": 100,
                "ajax": {
                    url: ajaxUrl,
                    type: "GET",
                },
                "pageLength": 25,
                "columns": columns
            });
        }
        loadData();

        var table = $('#myTable').DataTable();
        
        $('body').on('click', '.playersearch', function (e) {
            $('#myTable').DataTable().clear().destroy();
            loadData();
        });

        $('body').on('click', '.clickreset', function (e) {
            setTimeout(function () {
                $('#groupHall').trigger("change");
                $('#myTable').DataTable().clear().destroy();
                loadData();
            }, 1000);
        });



        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    //Parameter
                    $('body').on('click', '.delete', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "{{grouphallData.delete_message}}?",
                            text: "{{grouphallData.delete_player_message}}",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "{{grouphallData.delete_button}}",
                            cancelButtonText: "{{grouphallData.cancel_button}}",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/groupHall/getGroupHallDelete",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        // alert(resultData)
                                        console.log(resultData);
                                        if (resultData == 'success') {
                                            $(thisElement).parent().parent().hide(700);
                                            swal("{{grouphallData.deleted}}!", "{{grouphallData.group_hall_delete}}.", "success");
                                        } else {
                                            alert(resultData.message);
                                            // swal("Deleted!", "Group Hall Deleted Succesfully.", "success");
                                        }
                                        // alert("Save Complete")
                                    }
                                });
                            } else {
                                swal("{{grouphallData.cancelled}}", "{{grouphallData.group_hall_not_delete}}", "error");
                            }
                        });
                        return false;
                    });
                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
            $.ajax({
                type: 'GET',
                url: host + "/player/getGroupHalls",
                data: {
                    // id: id
                },
                success: function (resultData) {
                    console.log("List of GroupHalls", resultData);
                    if (resultData.status == 'success') {
                        console.log(resultData);
                        if (resultData.groups.length) {
                            for (const val of resultData.groups) {
                                $('#groupHall').append($(document.createElement('option')).prop({
                                    value: val._id,
                                    text: val.name
                                }));
                            }
                        }
                    } else {
                        console.log("something went wrong");
                    }
                }
            });
        });


    });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
{% endblock %}