{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{{loyaltyV.view_player_loyalty}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{loyaltyV.dashboard}}</a></li>
                <li class="active">{{loyaltyV.loyalty_management}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{loyaltyV.loyalty_management}}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <form method="POST" action="#" name="addHall" class="form-horizontal">
                                            <table border="0" class="table display  pb-30">
                                                <div class="col-sm-8">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="username">{{loyaltyV.username}}:</label>
                                                                <div class="col-sm-10">

                                                                    <input type="text" class="form-control" {{ "readonly disabled" if loyalty else "" }} required name="username" id="usernmae" value="{{loyalty.username}}">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="email">{{loyaltyV.emailId}}:</label>
                                                                <div class="col-sm-10">

                                                                    <input type="text" class="form-control" {{ "readonly disabled" if loyalty else "" }} required name="email" id="email" value="{{loyalty.email}}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="mobile">{{loyaltyV.mobile_number}}:</label>
                                                                <div class="col-sm-10">

                                                                    <input type="text" class="form-control" {{ "readonly disabled" if loyalty else "" }} required name="mobile" id="mobile" value="{{loyalty.phone}}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="nickname">{{loyaltyV.firstname}}:</label>
                                                                <div class="col-sm-10">

                                                                    <input type="text" class="form-control" {{ "readonly disabled" if loyalty else "" }} required name="nickname" id="nickname" value="{{loyalty.nickname}}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label mb-10 col-sm-2" for="pointsAmt">{{loyaltyV.loyalty_point_amount}}:</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" {{ "readonly disabled" if loyalty else "" }} required name="pointsAmount" id="pointsAmt" value="{{loyalty.loyaltyPoints}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <tr>
                                                    <td colspan="2">
                                                        <div class="pull-left">
                                                            <a href="/loyaltyManagement" class="btn btn-danger btn-flat">{{loyaltyV.cancel}}</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /Row -->
    </div>
</div>

{% endblock %} {% block Jscript %}
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" /> {% endblock %}