{% extends "partition/layout.html" %} {% block body %}
<style>
   .dataTables_scrollHeadInner, .table{
      width:100%!important
    };
</style>
<div class="page-wrapper">
  <div class="container-fluid">
    <section class="content-header">
      <h1>{{gameData.name}} {{translate.table}}</h1>
      <ol class="breadcrumb pull-right">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{translate.dashboard}}</a></li>
        <li class="active">{{gameData.name}} </li>
      </ol>
    </section>
    {% include "partition/notification.html" %}
    <section class="content">
      <!-- Upcoming Game -->
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default card-view">
            <div class="panel-heading">
              <div class="pull-left">
                <h6 class="panel-title txt-dark">{{gameData.name}}</h6>
              </div>
              <div class="pull-right">
                {% if gameData.type == 'game_2' %}
                <a href="/reportGame2">{{translate.game_history}}</a>
                {% else %}
                <a href="/reportGame3">{{translate.game_history}}</a>
                {% endif %}
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <h3><b>{{translate.game_tickets_are_availbale}}.</b></h3>
                  </div>
                  <div class="col-sm-12">
                    <div class="table-wrap">
                      <div class="table-responsive">
                        <table id="myTable" class="table table-hover display  pb-30">
                          <thead>
                            <tr>
                              <th>{{translate.game_id}}</th>
                              <th>{{translate.child_id}}</th>
                              <th>{{translate.game_name}}</th>
                              <th>{{translate.start_date}}</th>
                              <th>{{translate.total_no_ticket_sold}} <br> (UniqueId + Digital Sales)</th>
                              <th>{{translate.total_earned_from}} <br> {{translate.tickets_sold}}</th>
                              <th>{{translate.action}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if activeData.length %}
                            {% for activeGame in activeData %}
                            <tr>
                              <td>{{activeGame.gameId}}</td>
                              <td>{{activeGame.childId}}</td>
                              <td>{{activeGame.name}}</td>
                              <td id="activeStart" class="activeStart">{{activeGame.startDate}}</td>
                              <td>{{activeGame.totalSold}}</td>
                              <td>{{activeGame.totalEarning}}</td>
                              <td>
                                <div><a href="/viewGameTickets/{{gameData._id}}/{{activeGame.childId}}"
                                    class="btn btn-info btn-xs view btn-rounded"><i class="fa fa-eye"></i></a></div>
                              </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                              <td colspan="7" style="text-align: center;"> {{translate.no_data_available}}.</td>
                            </tr>
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <h3><b>{{translate.ongoing_game2}}</b></h3>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-12" style="max-width: 100%;">
                      {{translate.displayed_balls}} : <span class="balls" style="word-wrap: break-word;">
                        {% if runningData %}
                        {% for ball in runningData.displayedBalls %}
                        {% if loop.index == 1 %}
                        {{ball}}
                        {% else %}
                        ,{{ball}}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                      </span>
                    </div>
                    <div class="table-wrap col-sm-12">
                      <div class="table-responsive">
                        <table id="myTable2" class="table table-hover display  pb-30">
                          <thead>
                            <tr>
                              <th>{{translate.game_id}}</th>
                              <th>{{translate.child_id}}</th>
                              <th>{{translate.game_name}}</th>
                              <th>{{translate.start_date}}</th>
                              <th>{{translate.total_no_ticket_sold}} <br> (UniqueId + Digital Sales)</th>
                              <th>{{translate.total_earned_from}} <br> {{translate.tickets_sold}}</th>
                              <th>{{translate.action}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              {% if runningData %}
                              <td>{{runningData.gameId}}</td>
                              <td>{{runningData.childId}}</td>
                              <td>{{runningData.name}}</td>
                              <td id="runningStart" class="runningStart">{{runningData.startDate}}</td>
                              <td>{{runningData.totalSold}}</td>
                              <td>{{runningData.totalEarning}}</td>
                              <td>
                                <div><a href="/viewGameTickets/{{gameData._id}}/{{runningData.childId}}"
                                    class="btn btn-info btn-xs view btn-rounded"><i class="fa fa-eye"></i></a></div>
                              </td>
                              {% else %}
                              <td colspan="7" style="text-align: center;"> {{translate.no_data_available}}.</td>
                              {% endif %}
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <h3><b>{{translate.recent_game}}</b></h3>
                  </div>
                  <div class="col-sm-12">
                    <div class="table-wrap">
                      <div class="table-responsive">
                        <table id="recentTable" class="table table-hover display  pb-30">
                          <thead>
                            <tr>
                              <th>{{translate.game_id}}</th>
                              <th>{{translate.child_id}}</th>
                              <th>{{translate.game_name}}</th>
                              <th>{{translate.start_date}}</th>
                              <th>{{translate.total_no_ticket_sold}} <br> (Digital Sales)</th>
                              <th>{{translate.total_earned_from}} <br> {{translate.tickets_sold}}</th>
                              <th>{{translate.total_winnings}}</th>
                              <th>{{translate.action}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if recentData.length %}
                            {% for recentGame in recentData %}
                            <tr>
                              <td>{{recentGame.gameId}}</td>
                              <td>{{recentGame.childId}}</td>
                              <td>{{recentGame.name}}</td>
                              <td id="recentStart" class="recentStart">{{recentGame.startDate}}</td>
                              <!-- <td id="recentEnd" class="recentEnd">{{recentGame.endDate}}</td> -->
                              <td>{{recentGame.totalSold}}</td>
                              <td>{{recentGame.totalEarning}}</td>
                              <td>{{+recentGame.totalWinnings.toFixed(2)}}</td>
                              <td>
                                <div><a href="/viewGameTickets/{{gameData._id}}/{{recentGame.childId}}"
                                    class="btn btn-info btn-xs view btn-rounded"><i class="fa fa-eye"></i></a></div>
                              </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            {#<tr>
                              <td colspan="9" style="text-align: center;"> No data Avalilable.</td>
                            </tr>#}
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <h3><b>{{translate.scheduled_game}}</b></h3>
                  </div>
                  <div class="col-sm-12">
                    <div class="table-wrap">
                      <div class="table-responsive">
                        <table id="schedule" class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>GameID</th>
                              <th>{{translate.start_date}}</th>
                              <th>{{translate.day}}</th>
                              <th>{{translate.start_time_end_time}}</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %} {% block Jscript %}
<script src="/socket.io/socket.io.js"></script>
<script>
  $(document).ready(function () {
    let start_date = "{{Game.startDate}}";
    let end_date = "{{Game.endDate}}";
    let type = "{{gameData.type}}";

    $(".activeStart").each((i, e) => {
      let date = dateTimeFunction($(e).text(), false);
      $(e).text(date)
    });

    $(".runningStart").each((i, e) => {
      let date = dateTimeFunction($(e).text(), true);
      $(e).text(date)
    });

    $(".recentStart").each((i, e) => {
      let date = dateTimeFunction($(e).text(), true);
      $(e).text(date)
    });

    $(".recentEnd").each((i, e) => {
      let date = dateTimeFunction($(e).text(), true);
      $(e).text(date)
    });
    function dateTimeFunction(dateData, flag) {
      let dt = new Date(dateData);
      let date = dt.getDate();
      let month = parseInt(dt.getMonth() + 1);
      let year = dt.getFullYear();
      let hours = dt.getHours();
      let minutes = dt.getMinutes();
      let seconds = dt.getSeconds();
      let miliSeconds = dt.getMilliseconds();
      let ampm = hours >= 12 ? 'pm' : 'am';
      hours = hours % 12;
      hours = hours ? hours : 12;
      date = date < 10 ? '0' + date : date;
      month = month < 10 ? '0' + month : month;
      minutes = minutes < 10 ? '0' + minutes : minutes;
      seconds = seconds < 10 ? '0' + seconds : seconds;
      let dateTime = date + '/' + month + '/' + year + ' ' + (flag ? hours + ':' + minutes + ampm : '');
      return dateTime; // Function returns the dateandtime
    }


    let game = `{{ Game | dump | safe }}`;
    game = JSON.parse(game);
    console.log("days selected in this game", game.days);
    //Scheduled Game Code Starts Here
    let week = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    var start = moment(new Date()).startOf('day'),end = moment(new Date(end_date)).add(1, "day").startOf('day');
    days = [];
    //Extract name of days
    let daysForGame = Object.keys(game.days);
    //Assign Numbers for days
    for (let i = 0; i < week.length; i++) {
      const element = week[i];
      let index = daysForGame.findIndex(val => val == element);
      if (index >= 0) {
        days.push(i);
      }
    }
    console.log("days selected in this game as numbers", days);
    let result = [];
    //Loop for each day in days array
    for (let i = 0; i < days.length; i++) {
      const day = days[i];
      let tmp = start.clone().day(day);
      if (tmp.isAfter(start, 'd')) {
        result.push(moment(tmp));
      }
      //Add All Upcoming Days 
      while (tmp.isBefore(end)) {
        let data = tmp.add(7, 'days');
        // (tmp + 7) day should be before end date
        if (data.isBefore(end)) {
          result.push(moment(data));
        }
      }
    }
    //sort dates
    result = result.sort((a, b) => a - b);
    console.log("sorted result", result.map(m => m.format('LLLL')));
    result = result.map((m) => {
      return [game.gameNumber,
      m.format('lll'), m.format('dddd').substring(0, 3),
      `${game.days[m.format('dddd').substring(0, 3)][0]} - ${game.days[m.format('dddd').substring(0, 3)][1]}`
      ];
    });
    console.log("final processed result", result);

    $('#schedule').DataTable({
      // language: {
      //   "emptyTable": "{{translate.no_data_available_in_table}}"
      // },
      "oLanguage": {
          "sSearch":  "{{translate.search}}",
          "sEmptyTable": "{{translate.no_data_available_in_table}}",
          "sLengthMenu": "{{translate.show}} _MENU_ {{translate.entries}}",
          "oPaginate": {
              sPrevious: "{{ translate.previous }}",
              sNext: "{{ translate.next }}"
          },
          "sInfo": "{{translate.showing}} _START_ to _END_ of _TOTAL_ {{translate.entries}}",
          "sInfoEmpty": "{{translate.showing}} 0 to 0 of 0 {{translate.entries}}",
        },
      data: result,
      deferRender: true,
      scrollY: 200,
      scrollCollapse: true,
      scroller: true,
      autowidth: false,
      ordering: false
    });
    // $('#recentTable').DataTable({
    //   "oLanguage": {
    //       "sEmptyTable": "{{translate.no_data_available_in_table}}",
    //       "sLengthMenu": "{{translate.show}} _MENU_ {{translate.entries}}",
    //       "oPaginate": {
    //           sPrevious: "{{ translate.previous }}",
    //           sNext: "{{ translate.next }}"
    //       },
    //       "sInfo": "{{translate.showing}} _START_ to _END_ of _TOTAL_ {{translate.entries}}",
    //       "sInfoEmpty": "{{translate.showing}} 0 to 0 of 0 {{translate.entries}}",
    //     },
    //   deferRender: true,
    //   scrollY: 500,
    //   scrollCollapse: true,
    //   scroller: true,
    //   searching: false,
    //   ordering: false,
    //   autowidth: false
    // });
    //Live Update Balls in Running Games
    let runningGame = `{{ runningData | dump | safe }}`;

    //Display Withdraw Balls Live to Admin
    if (runningGame.length) {
      runningGame = JSON.parse(runningGame);
      let namespace;
      if (type === 'game_2') {
        namespace = '/Game2';
      }
      const socket = io('/admin');
      socket.on('balls', (data) => {
        console.log('getting Balls', data);
        if (data.id.toString() === game._id.toString()) {
          if (!data.finish) {
            $('.balls').text(data.balls.join());
          } else {
            console.log("Game Finished");
            setTimeout(() => {
              window.location.reload();
            }, 3000);
          }
        }
      });
    }
    setTimeout(() => {
      $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
    }, 2000);
  })
</script>
{% endblock %}