{% extends "partition/layout.html" %}


{% block body %}


<!-- Main Content -->
<div class="page-wrapper">
	<div class="container-fluid">

		<!-- Title -->
		<section class="content-header">
			<h1>{{physical.physical_ticket_list}}</h1>
			<ol class="breadcrumb">
				<li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{physical.dashboard}}</a></li>
				<!-- <li class="active">User profile</li> -->
			</ol>
		</section>
		<!-- /Title -->
		{% include "partition/notification.html" %}
		<!-- Row -->
		<section class="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<h6 class="panel-title txt-dark">{{physical.physical_ticket_list}}</h6>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">

								<div class="row">


									<div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class='input-group date' id='startDate'>
													<input type='text' class="form-control" name="start_date"
														id="start_date" placeholder="{{physical.start_date}}"
														data-date-format="yyyy-mm-dd" autocomplete="off" />
													<span class="input-group-addon">
														<span class="glyphicon glyphicon1 glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="col-sm-4">
											<div class="form-group">
												<div class='input-group date' id='endDate'>
													<input type='text' class="form-control" name="end_date"
														id="end_date" placeholder="{{physical.end_date}}"
														data-date-format="yyyy-mm-dd" autocomplete="off" />
													<span class="input-group-addon">
														<span class="glyphicon glyphicon2 glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-2">
										<input type="button" name="search" id="search" value="{{physical.search}}"
											class="btn btn-info" />
									</div>
								</div>

								<div class="table-wrap">
									<div class="table-responsive">
										<table id="myTable" class="table  table-hover display  pb-30">
											<thead>
												<tr>
													<th>{{physical.physical_ticket_number}}</th>
													<th>{{physical.game1_variants_game}}</th>
													<th>{{physical.ticket_type}}</th>
													<th>{{physical.ticket_price}}</th>
													<th>{{physical.Winning_row}}</th>
													<th>{{physical.total_winning}}</th>
													<!-- <th>Total Withdrawal Amount</th> -->
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

{% endblock %}

{% block Jscript %}
<script>
	function formatDate(date) {
		var d = new Date(date),
			month = '' + (d.getMonth() + 1),
			day = '' + d.getDate(),
			year = d.getFullYear();

		if (month.length < 2)
			month = '0' + month;
		if (day.length < 2)
			day = '0' + day;

		return [year, month, day].join('-');
	}
	var host = window.location.origin;
	var tableObject = "";
	window.dataTableData = () => {
		if (tableObject) {
			$('#myTable').dataTable().fnDestroy();
		}
		tableObject = $('#myTable').DataTable({

			"oLanguage": {
				"sSearch": "{{physical.search}} {{physical.ticket_number}}",
				"sLengthMenu": "{{physical.show}} _MENU_ {{physical.entries}}",
				"oPaginate": {
					sPrevious: "{{ physical.previous }}",
					sNext: "{{ physical.next }}"
				},
				"sEmptyTable": "{{physical.no_data_available_in_table}}",
				"sInfo": "{{physical.showing}} _START_ to _END_ of _TOTAL_ {{physical.entries}}",
				"sInfoEmpty": "{{physical.showing}} 0 to 0 of 0 {{physical.entries}}"
			},
			"processing": true,
			"serverSide": true,
			//"ordering": false,
			"order": [
				[0, "desc"]
			],
			"autoWidth": false,
			"searching": true,
			"pageLength": 10,
			"scrollX": true,
			"ajax": {
				"url": host + "/physical/ticketList",
				"type": "GET",
				"data": { fromDate: $('#start_date').val(), toDate: $('#end_date').val() },
				"dataSrc": function (json) {

					console.log("+++++++++++json json json json DataTable DataTable ++++ :", json)

					return json.data;
				}
			},

			"columns": [
				// { "data": "name", render: function(data , type , row){
				// 		return '<a href="/viewUniqueDetails/'+row._id+'">'+row.username+'</a>';
				// } },
				{ "data": "ticketId" },
				{ "data": "gameName" },
				{ "data": "ticketColorName" },
				{ "data": "ticketPrice" },
				{
					"data": "winningStats",
					render: function (data, type, row, meta) {
						if (row.winningStats && row.winningStats.lineTypeArray && row.winningStats.lineTypeArray.length > 0) {
							var $select = $('<select id="selecthall-' + row._id + '"></select>', {
								"id": row._id,
								"value": data
							});
							$.each(row.winningStats.lineTypeArray, function (k, v) {

								var $option = $("<option></option>", {
									"text": v.lineType + " ( " + v.wonAmount.toFixed(2) + " )",
									"value": k
								});
								if (data === v) {
									$option.attr("selected", "selected")
								}
								$select.append($option);
							});
							return $select.prop("outerHTML");
						} else {
							return "-"
						}


					}
				},
				{
					"data": "totalWinningOfTicket",
					render: function (data, type, row, meta) {
						if (row.winningStats) {
							return row.winningStats.finalWonAmount;
						} else {
							return '-';
						}

					}
				},

			],
			"initComplete": function () {

			}

		});

	}

	$(document).ready(function () {

		$('#startDate input,#endDate input').datepicker();
		$('#startDate input,#endDate input').val(formatDate(new Date()));
		$('.glyphicon1').click(function () {
			$("#startDate input").focus();
		});

		$('.glyphicon2').click(function () {
			$("#endDate input").focus();
		});


		dataTableData();


		$('#search').click(function () {
			dataTableData();
		});



		$(function () {
			"use strict";

			var SweetAlert = function () { };

			SweetAlert.prototype.init = function () {

				//Parameter
				$('body').on('click', '.delete', function (e) {
					var id = $(this).attr('id');
					var thisElement = this;
					swal({
						title: "Are you sure?",
						text: "You will not be able to recover this User!",
						type: "warning",
						showCancelButton: true,
						confirmButtonColor: "#e69a2a",
						confirmButtonText: "Yes, delete it!",
						cancelButtonText: "No, cancel Plz!",
						closeOnConfirm: false,
						closeOnCancel: false
					}, function (isConfirm) {
						if (isConfirm) {
							$.ajax({
								type: 'POST',
								url: host + "/user/getUserDelete",
								data: { id: id },
								success: function (resultData) {
									// alert(resultData)
									console.log(resultData);
									if (resultData == 'success') {
										$(thisElement).parent().parent().hide(700);
										swal("Deleted!", "Your imaginary file has been deleted.", "success");
									} else {
										alert("Something went wrong")
									}
									// alert("Save Complete")
								}
							});
							swal("Deleted!", "User Deleted Succesfully.", "success");
						} else {
							swal("Cancelled", "User Not Deleted)", "error");
						}
					});
					return false;
				});

			},
				$.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

			$.SweetAlert.init();
		});

	});


</script>
{% endblock %}