{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
  .btn-group-new>.btn,
  .btn-new {
    padding: 2px 83px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
  }

  .cst {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: flex-end;
  }

  .form-horizontal button {
    width: 50px;
  }

  button#search,
  button#filterReset {
    min-width: 55px;
  }

  /* .loader, .loader:after {
           border-radius: 50%;
           width: 10em;
           height: 10em;
       }
       #loadingDiv {
           position:absolute;;
           top:0;
           left:0;
           width:100%;
           height:100%;
           background-color: #eaeaead1;
           text-align: center;
           vertical-align: middle;
           z-index: 99;
       }
       #loadingDiv img{
           padding-top: 20%;
       }
       .loadContain{
           position: relative;
       } */
</style>
<!-- Main Content -->
<div class="page-wrapper">
  <div class="container-fluid">
    <!-- Title -->
    <section class="content-header">
      <h1>{{categoryData.category_management}} </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{categoryData.dashboard}}</a></li>
        <li class="active" href="/categoryList">{{categoryData.category_management}}</li>
      </ol>
    </section>
    <!-- /Title -->
    {% include "partition/notification.html" %}
    <!-- Row -->
    <section class="content">

      <!-- Modal Code Start -->
      <div class="row">
        <div class="container-fluid">
          <!-- The modal -->
          <div class="modal fade" id="form-Modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
            aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="modalLabel">{{categoryData.add_category}}</h4>
                </div>
                <div class="modal-body">
                  <div class="table-wrap">
                    <div class="table-responsive">
                      <form method="POST" name="category" class="form-horizontal addCategory" id="categoryForm">
                        <!-- action="/addcategory" -->
                        <table border="0" class="table display  pb-30">
                          <div class="col-sm-12">
                            <input type="text" id="categoryId" hidden name="categoryId">
                            <div class="form-group">
                              <label class="control-label mb-10 col-sm-4" for="name">{{categoryData.category_name}}:</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" id="name" placeholder="Enter Name" required
                                  name="name" data-validation="required" data-validation-error-msg="Please Enter Name">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label mb-10 col-sm-4" for="status">{{categoryData.status}}:</label>
                              <div class="col-sm-8">
                                <select class="form-control" name="status" id="status">
                                  <option value="active">{{categoryData.active}}
                                  </option>
                                  <option value="inactive">
                                    {{categoryData.inactive}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <div id="button_one" style="width: 50%;margin: 0 auto;text-align: center;">
                                <input type="submit" id="submit" class="btn btn-success btn-flat" value="{{categoryData.submit}}">
                                <input type="button" class="btn btn-danger btn-flat" data-dismiss="modal"
                                  value="{{categoryData.cancel}}">
                              </div>
                            </div>
                          </div>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Code End -->

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default card-view">
            <div class="panel-heading">
              <div class="pull-left">
                <h6 class="panel-title txt-dark">{{categoryData.category_management}}</h6>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#form-Modal">
                  <i class="fa fa-plus"></i>&nbsp {{categoryData.add_category}}
                </button>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <!-- DataTable Code Start -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-wrap">
                      <div class="table-responsive">
                        <input type="text" name="agent" id="agent" value="{{Agent.role}}" hidden>
                        <table id="myTable" class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>{{categoryData.sr_no}}</th>
                              <th>{{categoryData.category_name}}</th>
                              <th>{{categoryData.status}}</th>
                              <th>{{categoryData.action}}</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- DataTable Code End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %} {% block Jscript %}
<script>
  var orderTable = "";
  var table;
  var host = window.location.origin;
  // let data = {
  //   fromDate: '',
  //   toDate: '',
  //   groupHall: '',
  //   hallName: ''
  // }
  $(document).ready(function () {
    // console.log("document Loaded", data);
    let ajaxUrl = host + "/categoryTable";
    let deleteFlag = '{{deleteFlag}}';
    let editFlag = '{{editFlag}}';

    dataLoad();
    function dataLoad() {
      //Drawing Datatable
      $('#myTable').DataTable({
        "oLanguage": {
          "sSearch": "{{categoryData.search}} {{categoryData.category_name}}",
          "sLengthMenu": "{{categoryData.show}} _MENU_ {{categoryData.entries}}",
          "oPaginate": {
            sPrevious: "{{ categoryData.previous }}",
            sNext: "{{ categoryData.next }}"
          },
          "sEmptyTable": "{{categoryData.no_data_available_in_table}}",
          "sInfo": "{{categoryData.showing}} _START_ to _END_ of _TOTAL_ {{categoryData.entries}}",
          "sInfoEmpty": "{{categoryData.showing}} 0 to 0 of 0 {{categoryData.entries}}"
        },
        "processing": true,
        "serverSide": true,
        "order": [
          [0, "desc"]
        ],
        "columnDefs": [{
          "targets": [0,1,2,3],
          "orderable": false,
        }],
        "autoWidth": false,
        "pageLength": 100,
        "ajax": {
          url: ajaxUrl,
          type: "GET"
        },
        "pageLength": 10,
        "buttons": [
          // 'csv', 'excel'
          {
            extend: 'csvHtml5',
            exportOptions: {
              columns: [0, 1, 2, 3]
            }
          }, {
            extend: 'excelHtml5',
            exportOptions: {
              columns: [0, 1, 2, 3]
            }
          }
        ],
        "columns": [{
          "data": "srno",
          render: function (data, type, row, meta) {
            return meta.row + meta.settings._iDisplayStart + 1;
          }
        }, {
          "data": "name"
        }, {
          "data": "status",
          render: function (data,type,row) {
            return row.status === "active"?'<span style="color:green;font-weight:bold;">Active</span>': '<span style="color:red;font-weight:bold;">Inactive</span>';
          }
        }, {
          "data": "action",
          render: function (data, type, row) {
            let html = '<div style="width : 50%;margin : 0 auto;text-align: center;">';
            if (editFlag) {
              //  html += `<a href="#"` +/* row._id + */ ` style="display:inline-block;" class="btn btn-warning btn-xs btn-rounded" title="Edit Player">
              //                       <i class="fa fa-edit" aria-hidden="true"></i>
              //                   </a>`;
              html += ` <button type="button" name="edit" id="edit_` + row._id + `" class="btn btn-warning btn-xs edit btn-rounded" title="Edit Player"><i class="fa fa-edit" aria-hidden="true"></i></button>`
            } else {
              html += `  `;
            }
            if (deleteFlag) {
              html += ` <button type="button" name="delete" id="` + row._id + `" class="btn btn-danger btn-xs delete btn-rounded" title="Delete Player"><i class="fa fa-trash" aria-hidden="true"></i></button>`;
            } else {
              html += `  `;
            }
            html += '</div>'
            return html;
          }
        }]
      });
      table = $('#myTable').DataTable();
    }

    //:: Modal Related Code ::
    $('#form-Modal').on('hidden.bs.modal', function () {
      // Reset values of modal
      $(this).find('form').trigger('reset');
      $("#categoryForm").removeClass("editCategory").addClass("addCategory");
      $('#modalLabel').text('{{categoryData.add_category}}');
      $("#submit").attr("disabled", false);
    });

    $('body').on('click', '.edit', function () {
      let categoryId = $(this).attr('id');
      categoryId = categoryId.split("_");
      let category = $(this).parent().parent().parent()[0].innerText;
      console.log(categoryId, category);
      category = category.split("\t");
      category.pop();
      category.shift();
      category.push(categoryId[1]);
      console.log("this is final array", category);
      return openModal("edit", category);
    });

    // Submit Handler for Add and Edit Form.
    $('#submit').on('click', function (e) {
      $("#submit").attr("disabled", true);
      console.log("Form Valid?", $("#categoryForm")[0].checkValidity());
      if ($("#categoryForm")[0].checkValidity() && $("#categoryForm").isValid()) {
        e.preventDefault();
        let dataString = $("#categoryForm").serialize();
        console.log("Body before submit...", dataString);
        if ($("#categoryForm").hasClass("addCategory")) {
          console.log("adding category.....");
          $.ajax({
            method: 'POST',
            url: host + '/addCategory',
            data: dataString,
            success: function (response) {
              window.location.reload();
            }
          });
        } else if ($("#categoryForm").hasClass("editCategory")) {
          console.log("editing category.....");
          $.ajax({
            method: 'POST',
            url: host + '/editCategory',
            data: dataString,
            success: function (response) {
              window.location.reload();
            }
          });
        }
      }else{
        $("#submit").attr("disabled", false);
      }
    });

    //Delete category
    $('body').on('click', '.delete', function (e) {
      var id = $(this).attr('id');
      var thisElement = this;
      swal({
        title: "{{categoryData.delete_message}}?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#e69a2a",
        confirmButtonText: "{{categoryData.delete_button}}",
        cancelButtonText: "{{categoryData.cancel_button}}",
        closeOnConfirm: false,
        closeOnCancel: false
      }, function (isConfirm) {
        if (isConfirm) {
          $.ajax({
            type: 'POST',
            url: host + "/deleteCategory",
            data: {
              id: id
            },
            success: function (resultData) {
              console.log("Rejected Player Delete Response", resultData);
              if (resultData.status == 'success') {
                table.destroy();
                dataLoad();
                swal("{{categoryData.deleted}}", "{{categoryData.category_deleted}}", "success");
              } else {
                swal("{{categoryData.failed}}!",resultData.message, "error");
              }
            }
          });
        } else {
          swal("{{categoryData.cancelled}}!", "{{categoryData.category_delete_cancel}}", "error");
        }
      });
      return false;
    });
      
  });

  function openModal(action, data) {
    console.log("openModal", action, data);
    // Set values given in data
    if (data) {
      $("#categoryId").val(data[2]);
      $("#status").val(data[1].toLowerCase());
      $("#name").val(data[0]);
      if (action == 'edit') {
        $('#modalLabel').text('{{categoryData.edit_category}}');
        $("#categoryForm").removeClass("addCategory").addClass("editCategory");
      }
      $('#form-Modal').modal('toggle');
    }
    return;
  }
  //Update values in of query object for change.

</script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

{% endblock %}