{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
  .btn-group-new>.btn,
  .btn-new {
    padding: 2px 83px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
  }

  .cst {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: flex-end;
  }

  .form-horizontal button {
    width: 50px;
  }

  button#search,
  button#filterReset {
    min-width: 55px;
  }

  .profile-edit {
    width: 50% !important;
  }
</style>
<!-- Main Content -->
{% set action = "add" %}
<div class="page-wrapper">
  <div class="container-fluid">
    <!-- Title -->
    <section class="content-header">
      <h1>Hall Product Management </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active" href="/productList">Add Product in Hall</li>
      </ol>
    </section>
    <!-- /Title -->
    {% include "partition/notification.html" %}
    <!-- Row -->
    <section class="content">

      <!-- Search Filter Code Start -->

      <div class="row">

        <div class="container-fluid">
          <!-- The modal -->
          <div class="modal fade" id="form-Modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
            aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="modalLabel">Add/Remove Product</h4>
                </div>
                <div class="modal-body">

                  <div class="table-wrap">
                    <div class="table-responsive">
                      <form method="POST" name="productForHall" class="form-horizontal" id="productForHall">
                        <!-- action="/addProduct" -->
                        <table border="0" class="table display  pb-30">
                          <div class="col-sm-12">
                            <input type="hidden" id="hallId" name="hallId">
                            <div class="form-group">
                              <label class="control-label mb-10 col-sm-4" for="products">Select Products:</label>
                              <div class="col-sm-8">
                                <select class="form-control js-select-products" style="width: 250px;" name="products" id="products" multiple> 
                                </select>
                              </div>
                            </div>
                            <!-- multiple="multiple" -->
                            <div class="form-group">
                              <div class="form-group">
                                <div id="button_one" style="width: 50%;margin: 0 auto;text-align: center;">
                                  <input type="submit" id="submit" class="btn btn-success btn-flat" value="Submit">
                                  <input type="button" class="btn btn-danger btn-flat" data-dismiss="modal"
                                    value="Cancel">
                                </div>
                              </div>
                            </div>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Search Filter Code End -->

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default card-view">
            <div class="panel-heading">
              <div class="pull-left">
                <h6 class="panel-title txt-dark">Hall Product Management</h6>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <!-- DataTable Code Start -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-wrap">
                      <div class="table-responsive">
                        <table id="myTable" class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>Hall Id</th>
                              <th>Hall Name</th>
                              <th>Products</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- DataTable Code End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %} {% block Jscript %}
<link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
  rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
  type="text/javascript"></script>
<script>
  let viewFlag = `{{viewFlag}}`;
  let editFlag = `{{editFlag}}`;
  let deleteFlag = `{{deleteFlag}}`;
  let addFlag = `{{addFlag}}`;
  var orderTable = "";
  var table;
  var host = window.location.origin;
  $(document).ready(function () {
    $(".js-select-products").select2({
      placeholder : "No Products Available."
    });
    // console.log("document Loaded", data);
    let ajaxUrl = host + "/getHallsandProducts";

    dataLoad();
    function dataLoad() {
      //Drawing Datatable
      $('#myTable').DataTable({
        "oLanguage": {
            "sSearch": "{{products.search_product_name}}",
            "sLengthMenu": "{{products.show}} _MENU_ {{products.entries}}",
            "oPaginate": {
              sPrevious: "{{ products.previous }}",
              sNext: "{{ products.next }}"
            },
            "sEmptyTable": "{{products.no_data_available_in_table}}",
            "sInfo": "{{products.showing}} _START_ to _END_ of _TOTAL_ {{products.entries}}",
            "sInfoEmpty": "{{products.showing}} 0 to 0 of 0 {{products.entries}}"
        },
        "searching": false,
        "processing": true,
        "serverSide": true,
        "ordering": false,
        "autoWidth": false,
        "ajax": {
          url: ajaxUrl,
          type: "GET"
        },
        "pageLength": 25,
        "columns": [{
          "data": "hallId"
        }, {
          "data": "name"
        }, {
          "data": "products",
          render: function (data, type, row) {
            // for (let i = 0; i < row.products.length; i++) {
            //   const element = array[i];
            // }
            return row?.products.length;
          }
        }, {
          "data": "action",
          render: function (data, type, row) {
            let html = '<div style="width : 50%;margin : 0 auto;text-align: center;">';
            if(addFlag == 'true'){
              html += ` <button type="button" name="add-remove" id="add_` + row._id + `" class="btn btn-primary btn-xs add-remove btn-rounded" title="Add/Remove">Add/Remove</button>`
            }
            html += '</div>'
            return html;
          }
        }]
      });
      table = $('#myTable').DataTable();
    }

    //:: Modal Related Code ::
    $('#form-Modal').on('hidden.bs.modal', function () {
      // Reset values of modal
      $(this).find('form').trigger('reset');
      $("#hallId").val('')
      $("#button_one").css("display", "block");
      $("#submit").attr("disabled", false);
    });

    $('body').on('click', '.add-remove', function () {
      let hall = $(this).attr('id');
      hall = hall.split("_");
      return getHall(hall[1]);
    });

    // Submit Handler for Add and Edit Form.
    $('#submit').on('click', function (e) {
      $("#submit").attr("disabled", true);
      var data = new FormData(this.form);
      console.log("adding product.....");
      $.ajax({
        method: 'POST',
        url: host + '/addProductinHall',
        data: data,
        processData: false,
        contentType: false,
        success: function (response) {
          window.location.reload();
        }
      });
    });

    //Get Product
    function getHall(hall) {
      $.ajax({
        method: 'GET',
        url: host + '/getHallWithProduct/' + hall,
        success: function (response) {
          console.log("product found", response);
          $("#hallId").val(hall);
          return openModal(response.data);
        }
      });
    }


    function openModal(data) {
      console.log("openModal", data);
      // Set values given in data
      if (data) {
        let options = ``;
        for (let i = 0; i < data.products.length; i++) {
          options += `<option value="${data.products[i].id}" >${data.products[i].text}</option>`;
        }

        $("#products").empty().append(options)
        let opt = []
        if (data.selectedProducts?.length) {
          opt = data.products.filter(p=> data.selectedProducts.indexOf(p.id)>=0).map(r=>r.id);
           console.log("opt1", opt);
        }
        console.log("opt2",opt);
        $('#products').val(opt).trigger('change');
        $('#form-Modal').modal('toggle');
      }
      return;
    }
  });

</script>

{% endblock %}