{% extends "partition/layout.html" %} {% block body %}
<style>
    ul {
        list-style-type: none;
    }
    select:invalid {
        height: 0px !important;
        opacity: 0 !important;
        position: absolute !important;
        display: flex !important;
    }

    select:invalid[multiple] {
        margin-top: 15px !important;
    }

</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{{withdraw.add_email}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{withdraw.dashboard}}</a></li>
                {% if slug=="Add" %}
                <li class="active">{{withdraw.add_email}}</li>
                {% else %}
                <li class="active">{{withdraw.edit_email}}</li>
                {% endif %}
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                {% if slug=="Add" %}
                                <h6 class="panel-title txt-dark">{{withdraw.add_email}}</h6>
                                {% else %}
                                <h6 class="panel-title txt-dark">{{withdraw.edit_email}}</h6>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                {% if slug=="Add" %}
                                    <form method="POST" id="addGameData" action="/withdraw/add/emails" class="">
                                {% else %}
                                    <form method="POST" id="addGameData" action="/withdraw/edit/emails/{{emailData._id}}" class="">
                                {% endif %}
                                    <div class="table display pb-30">
                                        <input type="hidden" name="ctimezone" id="ctimezone" value="Europe/Oslo">
                                        <!-- Pattern Add / Buttons add -->
                                        <div class="">
                                            
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label>{{withdraw.accountant_emails}}* :</label>
                                                        <input type="text" class="form-control" name="email"
                                                            placeholder="{{withdraw.enter_email_id}}" value="{{emailData.email}}"
                                                            id="email" data-validation="required email server" data-validation-url="/withdraw/email/checkUnique/{{emailData._id}}">
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <input type="submit" class="btn btn-success sbBtn btn-flat"
                                                        value="{{withdraw.submit}}"> 
                                                    <a href="/withdraw/list/emails"
                                                        class="btn btn-danger btn-flat">{{withdraw.cancel}}</a>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}

<script>
    initializeValidator();

    function initializeValidator() {
        $.validate({
            validateOnEvent: true,
            modules: 'logic, date'
        });
    }
   
</script>
{% endblock %}