{% extends "partition/layout.html" %} {% block body %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css " />
<style>
    .wrapperSelected {
        height: 28px !important;
        border: 1px solid #ABADB3;
        margin: 0;
        padding: 4px 0 0 0;
        font-size: 14px;
    }

    .btn-group-new>.btn,
    .btn-new {
        padding: 2px 83px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }

    .tableTitle {
        font-weight: bold;
    }

    .DailyID {
        padding-left: 15px;
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header" id="gameHeader">

        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content" id="allGameDetails">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading" id="addGameID">
                            <span class="tableTitle">{{translate.game_name}}: </span>{{gameType.name}}
                            {% if gameType.type == "game_1" %}
                                <span class="tableTitle DailyID">{{translate.daily_schedule_id}}: </span> {{dataGame.dailyScheduleId}}
                            {% else %}
                                <span class="tableTitle DailyID">{{translate.daily_schedule_id}}: </span> {{dataGame.gameNumber}}
                            {% endif %}
                            
                            <div class="pull-right">
                                {% if addFlag %}
                                    <button type="button" id="addCloseDay" data-toggle="modal" data-target="#mainModal"
                                        class="btn btn-primary btn-md"> {{translate.add}}</button>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive responsive-table">
                                        <table id="myTable" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    <th>{{translate.close_date}}</th>
                                                    <th>{{translate.start_time}}</th>
                                                    <th>{{translate.end_time}}</th>
                                                    <th>{{translate.active}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{translate.date}} <span id="selectDate"></span></h4>
            </div>
            <form id="closeFrom">

                <div class="modal-body">

                    <div class="form-group col-sm-12">
                        <div class="row ">
                            <div class="col-sm-6">
                                <label for="startTime">{{translate.start_time}} :</label>
                                <input type="text" id="startTime" name="startTime" class="form-control" required
                                    placeholder="{{translate.select}} {{translate.start_time}}" data-date-format="HH:mm" autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <label for="endTime"> {{translate.end_time}} :</label>
                                <input type="text" id="endTime" data-date-format="HH:mm" name="endTime"
                                    class="form-control" placeholder="{{translate.select}} {{translate.end_time}}" autocomplete="off" required
                                    data-validation="required endTimeValid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{translate.update}}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{translate.close}}</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div class="modal fade" id="mainModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{translate.close_day}}:</h4>
            </div>
            <form id="addCloseFrom">

                <div class="modal-body">
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="closeDate">{{translate.select_date}}</label>
                                <input type="text" id="closeDate" name="closeDate" class="form-control"
                                    placeholder="{{translate.select_date}}" autocomplete="off" required
                                    data-validation="required">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="row ">
                            <div class="col-sm-6">
                                <label for="start_Time">{{translate.start_time}}</label>
                                <input type="text" id="start_Time" name="start_Time" class="form-control" required
                                    data-validation="required" placeholder="{{translate.select}} {{translate.start_time}}" data-date-format="HH:mm"
                                    autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <label for="end_Time"> {{translate.end_time}}</label>
                                <input type="text" id="end_Time" data-date-format="HH:mm" name="end_Time"
                                    class="form-control" placeholder="{{translate.select}} {{translate.end_time}}" autocomplete="off" required
                                    data-validation="required endDateValid">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{translate.add_close_day}}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{translate.close}}</button>
                </div>
            </form>
        </div>

    </div>
</div>


{% endblock %} {% block Jscript %}
<script src="/socket.io/socket.io.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js "></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    let dataTable
    let editFlag = '{{editFlag}}';
    let deleteFlag = '{{deleteFlag}}';
    let addFlag = '{{addFlag}}';
    let viewFlag = '{{viewFlag}}';
    let startFlag = '{{startFlag}}';
    let pauseFlag = '{{pauseFlag}}';
    let gameId = '{{dataGame._id}}'
    let gameStartDate = '{{dataGame.startDate}}'
    let gameEndDate = '{{dataGame.endDate}}'
    let gameType = '{{dataGame.gameType}}'

    if (gameType == 'game_1') {
        gameStartDate = moment(new Date(gameStartDate))
    }else{
         gameStartDate = moment(new Date(gameStartDate)) >= moment() ? moment(new Date(gameStartDate)) : moment()
    }

    $(document).ready(function () {

        dataTable = $("#myTable").DataTable({
            "oLanguage": {
                "sLengthMenu": "{{translate.show}} _MENU_ {{translate.entries}}",
                "oPaginate": {
                    sPrevious: "{{ translate.previous }}",
                    sNext: "{{ translate.next }}"
                }
            },
            "scrollX": false,
            "scrollCollapse": true,
            "processing": false,
            "serverSide": false,
            "autoWidth": false,
            "searching": false,
            "lengthChange": false,
            "ordering": false,
            "paging": false,
            "ajax": {
                url: host + "/getCloseDayData",
                data: {
                    gameId: gameId,
                    gameType: gameType
                }
            },
            "columns": [
                {
                    "data": "closeDate"
                },
                { "data": "startTime" },
                { "data": "endTime" },
                {
                    "data": "action",
                    render: function (data, type, row) {
                        let html = `<button style="margin-right:5px" type="button" data-date="${row.closeDate}" data-starttime="${row.startTime}" data-endtime="${row.endTime}" class="closeDaybtn btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit" aria-hidden="true"></i></button>`
                        html += `<button onclick="functionToExecute('${row.closeDate}')" class="btn btn-danger btn-sm edit btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>`
                        return html
                    }
                }
            ],
        })

        $('#startTime').datetimepicker({
            format: "LT"
        });

        $('#endTime').datetimepicker({
            format: "LT"
        });

        $('#start_Time').datetimepicker({
            format: "LT"
        });

        $('#end_Time').datetimepicker({
            format: "LT"
        });

        $(document).on("click", ".closeDaybtn", (e) => {
            let Date = e.currentTarget.dataset.date
            let startTime = e.currentTarget.dataset.starttime
            let endtVal = e.currentTarget.dataset.endtime

            $("#startTime").val(startTime)
            $("#endTime").val(endtVal)
            $("#selectDate").text(Date)

            console.log("$(this).data('id')", Date, startTime, endtVal);
        })


        $("#addCloseDay").on("click", (e) => {
            console.log("addCloseDay");
            $('#closeDate').val('')
            $('#start_Time').val('')
            $('#end_Time').val('')

            $("#closeDate").daterangepicker({
                opens: 'right',
                startDate:gameStartDate,
                endDate:gameStartDate,
                minDate: gameStartDate,
                maxDate: moment(new Date(gameEndDate)),
                locale: {
                    format: 'DD-MM-YYYY'
                },

            });
           
        })

        $("#closeFrom").submit((e) => {

            e.preventDefault();

            console.log($("#closeFrom").isValid());

            if ($("#closeFrom").isValid()) {
                $.ajax({
                    type: 'POST',
                    url: host + "/updateCloseDay",
                    data: {
                        startTime: $("#startTime").val(),
                        endTime: $("#endTime").val(),
                        date: $("#selectDate").text(),
                        gameId: gameId,
                        gameType: gameType
                    },
                    success: function (resultData) {
                        console.log("resultData", resultData);
                        $("#myModal").modal('hide')

                        if (resultData.status == 'success') {
                            swal("{{translate.updated}}!", resultData.message, "success");
                            dataTable.ajax.reload();
                        }
                        if (resultData.status == 'fail') {
                            swal({
                                type: "info",
                                title: "",
                                text: resultData.message,
                            });
                        }
                    }
                })
            }
        })

        $.formUtils.addValidator({
            name: 'endDateValid',
            validatorFunction: function (value, $el, config, language, $form) {
                let dates = $("#closeDate").val().split(" - ")
                console.log(dates);
                if (dates && dates.length && dates[0] === dates[1]) {
                    let endTime = value.split(":");
                    endTime = (+endTime[0]) * 60 + (+endTime[1]);
                    let startTime = $("#start_Time").val();
                    startTime = startTime.split(":");
                    startTime = (+startTime[0]) * 60 + (+startTime[1]);
                    if (!isNaN(startTime)) {
                        return endTime > startTime;
                    } else {
                        return true;
                    }
                } else {
                    return true;
                }
            },
            errorMessage: '{{translate.end_time_must_be_greater_than_start_time}}',
            errorMessageKey: 'endTimeError'
        });


        $.formUtils.addValidator({
            name: 'endTimeValid',
            validatorFunction: function (value, $el, config, language, $form) {
                let endTime = value.split(":");
                endTime = (+endTime[0]) * 60 + (+endTime[1]);
                let startTime = $("#startTime").val();
                startTime = startTime.split(":");
                startTime = (+startTime[0]) * 60 + (+startTime[1]);
                if (!isNaN(startTime)) {
                    return endTime > startTime;
                } else {
                    return true;
                }
            },
            errorMessage: '{{translate.end_time_must_be_greater_than_start_time}}',
            errorMessageKey: 'endTimeError'
        });

        $("#addCloseFrom").submit((e) => {

            e.preventDefault();
            let SD = $("#closeDate").val().split(" - ")[0].trim().split("-").reverse().join("-")
            let ED = $("#closeDate").val().split(" - ")[1].trim().split("-").reverse().join("-")
            console.log(">>>>>>>>", $("#closeDate").val());
            if ($("#addCloseFrom").isValid()) {
                $.ajax({
                    type: 'POST',
                    url: host + "/closeDayAdd",
                    data: {
                        startDate: SD,
                        endDate: ED,
                        startTime: $("#start_Time").val(),
                        endTime: $("#end_Time").val(),
                        gameId: gameId,
                        gameType: gameType
                    },
                    success: function (resultData) {
                        console.log("resultData", resultData);
                        $("#mainModal").modal('hide')

                        if (resultData.status == 'success') {
                            swal("{{translate.added}}!", resultData.message, "success");
                            dataTable.ajax.reload();
                        }
                        if (resultData.status == 'fail') {
                            swal({
                                type: "info",
                                title: "",
                                text: resultData.message,
                            });
                        }
                    }
                })
            }
        })

        initializeValidator();

        function initializeValidator() {
            console.log('initializeValidator');
            $.validate({
                validateOnEvent: true,
            });
        }
    })

    function functionToExecute(params) {
        let gameId = '{{dataGame._id}}'
        swal({
            title: "{{translate.delete_message}}?",
            text: "{{translate.not_be_able_to_recover_close_day}}!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#e69a2a",
            confirmButtonText: "{{translate.yes_delete}}",
            cancelButtonText: "{{translate.no_cancle}}",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'POST',
                    url: host + "/deleteCloseDay",
                    data: {
                        gameId: gameId,
                        closeDay: params,
                        gameType: gameType
                    },
                    success: function (resultData) {
                        console.log("resultData", resultData);

                        if (resultData.status == 'success') {

                            swal("{{translate.deleted}}!", "{{translate.close_day_deleted_success}}.", "success");

                            dataTable.ajax.reload();

                        }
                        if (resultData.status == 'fail') {
                            swal({
                                type: "info",
                                title: "",
                                text: "{{translate.close_day_not_deleted}}",
                            });
                        }

                    }
                })
            } else {
                swal("{{translate.cancelled}}", "{{translate.close_day_not_deleted}}", "error");
            }

        })

    }



</script>

{% endblock %}