@font-face {
    font-family: 'signikabold';
    src: url('../fonts/signika-bold-webfont.eot');
    src: url('../fonts/signika-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika-bold-webfont.woff2') format('woff2'),
         url('../fonts/signika-bold-webfont.woff') format('woff'),
         url('../fonts/signika-bold-webfont.ttf') format('truetype'),
         url('../fonts/signika-bold-webfont.svg#signikabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'signikalight';
    src: url('../fonts/signika-light-webfont.eot');
    src: url('../fonts/signika-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika-light-webfont.woff2') format('woff2'),
         url('../fonts/signika-light-webfont.woff') format('woff'),
         url('../fonts/signika-light-webfont.ttf') format('truetype'),
         url('../fonts/signika-light-webfont.svg#signikalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'signikaregular';
    src: url('../fonts/signika-regular-webfont.eot');
    src: url('../fonts/signika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika-regular-webfont.woff2') format('woff2'),
         url('../fonts/signika-regular-webfont.woff') format('woff'),
         url('../fonts/signika-regular-webfont.ttf') format('truetype'),
         url('../fonts/signika-regular-webfont.svg#signikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'signikasemibold';
    src: url('../fonts/signika-semibold-webfont.eot');
    src: url('../fonts/signika-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika-semibold-webfont.woff2') format('woff2'),
         url('../fonts/signika-semibold-webfont.woff') format('woff'),
         url('../fonts/signika-semibold-webfont.ttf') format('truetype'),
         url('../fonts/signika-semibold-webfont.svg#signikasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{margin:0;padding:0;}
body{margin:0;padding:0; font-family: 'signikaregular';font-size:14px;color:#000000;background:#D1AB4A;}

/* ============= top hedaer ================ */

.top-header{background:#af0505;color:#ffffff;font-size:17px;padding:10px 0; font-family: 'signikalight';}
.top-header span{color:#ffffff;}
.top-header span b{font-weight:400;color:#f7d873;}
.top-header span:nth-child(2){margin-left: 10px;padding-left: 10px;border-left: 1px solid #ffffff;}
.top-header a {color: #ffffff;border-left: 1px solid #ffffff;margin-left: 10px;padding-left: 10px;text-transform:capitalize !important;}
.top-header a:first-child{border:0px;}

.navbar-nav{display: inline-block; float: none; margin: 0px auto; text-align: center; width: 100%;}
.navbar-nav>li{float: none;display: inline-block; text-align: center; margin: 0px auto;}

/* ================================== */

/* =========== header =============== */

.header{background-image:url("../img/border-bg.jpg"),url("../img/header-bg.png");background-repeat:repeat-x,no-repeat;
background-position:0 bottom,center 0;}
.header .logo{display:inline-block;}
.header .logo img{width:16%;margin:0 0 4px;}
.navbar-nav{ display: inline-block; float: none; margin: 0px auto; text-align: center; width: 100%;}
.navbar-nav>li{float: none; display: inline-block;text-align: center;  margin: 0px auto;}


/* =================================== */

/* =========== navigation ============= */

.navbar{background:url("../img/border-bg.jpg") repeat-x scroll 0 bottom;margin-bottom:0 !important; background-color: #373737;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #F7D860 !important;    background-color: transparent !important;}
.navbar-nav {text-align: center}
.navbar-nav>li { display: inline-block; float: none}

@media only screen and (min-width:771px)
{
.nav .dropdown-menu{top:57px !important;background-color:#373737 !important;}
.nav .dropdown-menu>li>a {padding: 8px 20px !important;font-weight: 300 !important;color: #FFF !important;font-size: 17px;}
.nav .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {background-color: #960103 !important;}
}
/* ==================================== */

/* =================== about ============= */

.about .inner_pages{padding:20px 0 50px;}

/* ==================================== */

/* ============= top rated ============= */

.top-rated{background:url("../img/top-rated-bg.jpg") repeat scroll center 0;padding:40px 0 70px;background-size:cover; background-attachment: fixed; background-position: center}
.top-rated .col-sm-3.col-xs-6 {padding: 0 8px;}
.top-rated .inner{background:#2c2c2c;float:left;width:100%;}
.top-rated h1{font-size:32px;font-family: 'signikaregular';font-style:italic;color:#ffffff;margin-bottom:40px;}
.top-rated h1 b{color:#fcdc51;}
.top-rated .inner h2{float:left;width:100%;margin:0;}
.top-rated .inner h2 .title{background: rgba(8,12,13,1);
background: -moz-linear-gradient(top, rgba(8,12,13,1) 0%, rgba(5,66,47,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8,12,13,1)), color-stop(100%, rgba(5,66,47,1)));
background: -webkit-linear-gradient(top, rgba(8,12,13,1) 0%, rgba(5,66,47,1) 100%);
background: -o-linear-gradient(top, rgba(8,12,13,1) 0%, rgba(5,66,47,1) 100%);
background: -ms-linear-gradient(top, rgba(8,12,13,1) 0%, rgba(5,66,47,1) 100%);
background: linear-gradient(to bottom, rgba(8,12,13,1) 0%, rgba(5,66,47,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080c0d', endColorstr='#05422f', GradientType=0 );
font-size:28px; font-family: 'signikaregular';text-transform:uppercase;color:#ffffff;margin:5px 5px 2px;padding:10px 0;}
.top-rated .inner img{width:100%;float:left;max-width:100%;border-bottom: 1px solid #150302;border-left: 1px solid #150302;
border-right: 1px solid #150302;}

/* ====================================== */

/* ================== getting started ============== */

.getting-started {background-image:url("../img/border-bg.jpg"),url("../img/getting-started-bg.jpg");background-repeat:repeat-x,no-repeat;background-position:0 top,center 0;padding-top:3px;background-size:auto,auto 100%;}
.getting-started img{max-width:100%; width:100%;}
.getting-started .col-sm-4 img:nth-child(2) {display: none;}
.getting-started .last{background:#dbc165;}
.getting-started .col-sm-3{width: 23.2%;}
.getting-started .col-sm-4{width: 30%;}
.getting-started .col-sm-4:after {border-color: transparent transparent transparent #ffffff;  border-style: solid none solid solid; border-width: 10px 0 10px 10px; content: ""; position: absolute; right: -10px; top: 50%; z-index: 1; margin-top: -10px;}
.getting-started .row.last {background-color: #eed769;}
.getting-started .row.last > img {margin: 24% 7%;max-width: 86%;}
.getting-started .gs-number {background:#eed769;text-align:center;padding:0;position:relative; padding: 84px 0; border-right: 1px solid #e2cc62;}
.getting-started .gs-number .detail img{margin: 0 32.5%;max-width: 35%;}




.getting-started .gs-number a {clear: both;color: #ff0000;display: inline-block;font-size: 24px;margin: 40px 0 15px;text-transform: uppercase;font-family: signikabold;}


.col-sm-3:nth-child(2) p {font-size: 12px;line-height: 18px;text-transform: uppercase;font-family: signikabold;}
/* .getting-started .col-sm-3:nth-child(2){height:344px;}
.getting-started .col-sm-3:nth-child(3){height:344px;}
.getting-started .col-sm-3:nth-child(4){height:344px;} */

/*.getting-started .col-sm-3:nth-child(3) .play-now {display: inline-block;left: 33%;position: absolute;top: 46%;width: 90px;
z-index: 100;}*/
.inner_pages{background:url("../img/poker_inner_page_bg.jpg"); background-repeat:repeat; /*background-size:100% 100%;*/}
.page_title{border-top-right-radius:5px;-webkit-top-right-radius:5px;-moz--top-right-radius:5px;border-top-left-radius:5px;-webkit-top-left-radius:5px;-moz--top-left-radius:5px;padding:10px;background:#ffe29e;width:100%;color:#870105;border-top:5px solid #870105;margin:20px 0px;}
.page_title h1{margin:0px;}
.page_banner{margin:10px 0px;}
.sidebar_title{margin-bottom:0px;}
.sidebar_title h2{margin:0px;font-size:36px;}
.sidebar_bg{background:#870105;padding:10px;}
.sidebar_bg i{ border: 2px solid #ffe29e;border-radius: 50%;color: #ffe29e;font-size: 22px;margin: 0 10px;padding: 10px;
width: 50px;}
.list_view{background:#870105;}
.list_view ul{margin:0px;padding:0px;}
.list_view ul li{margin:0px;padding:10px 5px; list-style-type:none;/*font-size:16px;*/}
.list_view ul li.active{
background: rgba(6,65,47,1);
background: -moz-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6,65,47,1)), color-stop(100%, rgba(8,14,14,1)));
background: -webkit-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -o-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -ms-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: linear-gradient(to bottom, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06412f', endColorstr='#080e0e', GradientType=0 );}
.list_view ul li a{color:#fff;}
.list_view ul li a img { max-width: 10px;  margin-right: 5px;}
.list_view_with_number{background:#870105;}
.list_view_with_number ul{margin:0px;padding:0px;}
.list_view_with_number ul li{margin:0px;padding:10px 5px;/*font-size:16px;*/ list-style:none;color:#fff;}
.list_view_with_number ul li.active{
background: rgba(6,65,47,1);
background: -moz-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6,65,47,1)), color-stop(100%, rgba(8,14,14,1)));
background: -webkit-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -o-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -ms-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: linear-gradient(to bottom, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06412f', endColorstr='#080e0e', GradientType=0 );}
.list_view_with_number a{color:#fff;}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;}
  /*.list_view ul {
    counter-reset: foo;
    display: table;
}

.list_view li {
    counter-increment: foo;
    display: table-row;
	padding:10px;
}

.list_view li::before {
	font-family:'FontAwesome';
    content: "\f091";
	color:#fff;
    display: table-cell;
    text-align: right;
    padding:10px;
	font-size:16px;}*/
.list_view ul li:hover{
background: rgba(6,65,47,1);
background: -moz-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6,65,47,1)), color-stop(100%, rgba(8,14,14,1)));
background: -webkit-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -o-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -ms-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: linear-gradient(to bottom, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06412f', endColorstr='#080e0e', GradientType=0 );}

/* ================================================= */

/* ================ footer ===================== */

footer{background:url("../img/footer-bg.jpg") no-repeat scroll 0 0;background-size:100% 100%;
font-size:15px;line-height:22px;color:#ffffff;}
footer .col-sm-4.all-right:nth-child(1){background:url("../img/footer-logo-bg.jpg") no-repeat scroll 0 0;background-size:100% 100%;width: 30%;text-align:center;}
footer .col-sm-4.all-right:nth-child(1) img {margin-bottom: 60px;margin-top: 10px;max-width: 55%;}
footer .col-sm-4.all-right:nth-child(1) p{bottom: 25px;color: #ffffff;font-size: 21px;margin-bottom: 20px;position: relative;}
.text_controlar {font-size: 14px;color: #e5cd77;font-weight: 100;}
.text_poertres {font-size: 18px !important;}
footer .saftey{width:66.6%;}
footer .container > .col-sm-12 > div {min-height: 355px;}
footer .link, footer .saftey {min-height: 300px;}
footer ul{list-style:none;}
footer .link ul{list-style: outside none none;position: absolute;right:20%;top:30%;}
footer  ul li{margin-bottom:5px;}
footer  ul li a{color:#ffffff;}
footer  ul li a:hover{color:#f7d873;}
footer h2 {color: #f7d873;font-size: 28px;margin: 30px 0;}
footer .paypal {left: 4%;position: relative;}
footer .responsive{display:none;}

.ssl-img {padding: 100px 50px;}


/* ============================================= */

/* login */

.login .box {float: none;margin: 50px auto;padding: 20px;background: rgba(227, 200, 121,0.6);border-radius:10px;-weblit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;border:1px solid #D6906A;}
.login .box input{margin-bottom:15px;height:40px;}
.login .box h2 {color: #F7D873;margin: 0 0 20px;padding-bottom: 20px;border-bottom: 1px solid #f7d873;font-family:'signikalight';}
.login .box .btn{text-transform:uppercase;margin:0 auto;float:none;min-width:100px;}
.login .box label {color: #2D2C2C;margin: 12px 0 5px;font-weight:600;}
.login .box .checkbox{margin:0;}
.login .box .checkbox label input {position: relative;top: 16px;margin-right: 10px;margin-top: 0;margin-bottom: 0;}
.login .box .checkbox label {margin: 0;line-height: 20px;}
.login .box .checkbox a,.login .box  a{color:#F7D873;text-decoration:underline;}
.login .box  a.forgot-pass{margin-left:10px;}
.mtop10{margin:20px 0 10px;}
.btn{background:#960103 !important;border:0 !important; color:#fff }
.btn:hover{background:#373737 !important;}
.admin .user-detail{position:absolute;right:5%;top:20%;}
.admin.header{position:relative;}
.admin .user-detail .img-circle{z-index:1;}
.admin .user-detail .img-circle img {background: #AF0505;height: 100px;width: auto;border: 4px solid #D2AD52;border-radius: 100%;padding: 10px;}
.admin .user-detail .detail{background:rgba(219,187,102,0.8);min-height: 95px;margin-left: -16px;position: relative;top: 3px;border-radius:0 45px 45px 0;border: 3px solid #EEDFA6;text-align:left;padding-left:40px;padding-bottom:10px;padding-top:10px;text-transform:capitalize;}
.admin .user-detail .detail .name{font-size:16px;margin:5px 0;text-transform:capitalize;}
.buychips h2 .main-title {text-transform: uppercase;color: #ffffff;background:#FFE29E;display: inline-block;padding: 10px 30px;
color: #AF0505;font-size: 25px;text-transform: none;}
.buychips h1.title{color:#000000;font-size:25px;}
.buychips h2.main{background:url("../img/title-line.jpg") repeat-x scroll 0 50%;width:98%;margin:20px auto 30px;}



/* ======================================== */

/* user-admin design */

.navbar .nav.user-admin > li > a{padding:20px 24px;}
.buychips.top-rated .inner img{border:0;margin:20px auto !important;width:auto;float:none;}
.buychips .chips a.btn {width: 90%;margin: 0 0 20px;height: 40px;line-height: 100%;text-transform: uppercase;font-size: 22px;padding: 9px 0;color:#ffffff;}
.buychips h2 {text-transform: uppercase;color: #ffffff;}
.buychips .chips{margin-bottom:20px;}
.chips h3 {color: #ffffff;font-size: 30px;display: inline-block;width: 70%;border-bottom: 1px solid #BD9348;padding: 10px 0;
border-top: 1px solid #BD9348;}
.top-rated.buychips{background:rgba(0, 0, 0, 0) url("../img/poker_inner_page_bg.jpg") repeat scroll 0 0;}
.news .date {background: #870105;color:#ffffff;text-align: center;}
.news .date span {padding: 10px;display: inline-block;width: 100%;font-size: 40px;border-bottom: 1px solid #DEB657;}
.news .date h2{text-transform:capitalize;padding:10px;margin:0;font-size:22px;}
.news .date h2 small{color:#ffffff !important;}
.news .page_banner{margin:0 0 10px;}
.news .short-news{display:inline-block;width:100%;padding:10px 0;}
.news .short-news h2{font-size:15px;color:#ffffff;margin:0 0 10px;line-height:23px;}
.news .short-news a{float:left;font-size:13px;font-style:italic;}
.news .short-news a:hover{text-decoration:underline;}
.news .short-news img{max-width:100%;}
.news .short-news .img-block{padding-right:0;}
.news .list_view li{border-bottom:1px solid #D0AC4C;}
.news{padding-bottom:40px;}

/* ======================================== */

/* account page */
.top-rated.account{background:rgba(0, 0, 0, 0) url("../img/poker_inner_page_bg.jpg") repeat scroll 0 0;}
.top-rated.account .profile-pic .sub-inner{width:100%;float:left;max-width:100%;border-bottom: 1px solid #150302;border-left: 1px solid #150302;border-right: 1px solid #150302;background: #373737 none repeat scroll 0 0;min-height:150px;text-align:center;border-radius:10px;}
.top-rated.account .profile-pic .sub-inner img {height: 100%;max-width: 100%;padding: 5px;width: 100%;}
.top-rated.account  a.change {background: #D7B659;padding: 10px 20px;border-radius: 10px 0 0 10px;
position: relative;margin: -10px 0 10px;display: inline-block;color: #000000;text-transform:capitalize;padding-right: 35px;}
.top-rated.account a.change span {position: absolute;top: -4px;font-size: 23px;color: #AF0505;    right: -18px;}
.top-rated.account .detail .back label {background: #E0C47A;padding: 10px;text-transform: capitalize;width: 100%;border: 2px solid #C2A326;border-radius: 10px 0 0 10px;height:40px;}
.top-rated.account .detail .back input {background: #E0C47A;padding: 10px;text-transform: capitalize;width: 100%;border: 2px solid #C2A326;border-radius: 0px 10px 10px 0px;height:40px;}
.top-rated.account .detail .back:nth-child(2){padding-left:0;}
.top-rated.account a.change-text {position: absolute;top: 0;font-size: 23px;color: #C90207;right: 22px;}
.top-rated.account a.change-text span {position: absolute;top: -4px;font-size: 23px;color: #AF0505;    right: -18px;}
.top-rated.account .detail .form-group{display:inline-block;width:100%;margin-bottom:5px;}

/* ========================================= */

/* ============ school ============ */

.top-rated.school{background:rgba(0, 0, 0, 0) url("../img/poker_inner_page_bg.jpg") repeat scroll 0 0;padding-top:0;}
.school > img{max-width:100%;margin-bottom:60px;}
.school .inner a {color: #ffffff;text-transform: capitalize;text-align: left;width: 100%;display: inline-block;margin: 15px;text-decoration:underline;}
.school .inner{background-color:#000000;}
.school .inner > a {color: #ffffff;text-transform: capitalize;text-align: left;width: 90%;display: inline-block;margin: 5%;
text-decoration: underline;font-size: 12px;font-weight: 300 !important;font-family: 'signikalight';min-height: 30px;float: left;}

/* ========================================= */

/* ============ setting ============ */

.top-rated.setting{background:rgba(0, 0, 0, 0) url("../img/poker_inner_page_bg.jpg") repeat scroll 0 0;padding-top:0;}
.setting h2 .main-title {text-transform: uppercase;color: #ffffff;background:#FFE29E;display: inline-block;padding: 10px 30px;
color: #AF0505;font-size: 25px;text-transform: none;}
.setting h1.title {color: #000000;font-size: 25px;margin: 0 0 20px;font-style: normal;padding: 10px 0;border-bottom: 3px double #D3AB4C;}
.setting h2.main{background:url("../img/title-line.jpg") repeat-x scroll 0 50%;width:98%;margin:20px auto 30px;}
.setting .box {background:rgba(226, 202, 128,0.7);display: inline-block;padding: 10px;width: 100%;}
.setting label.labels {margin-right: 15px;}
.setting input[type="radio"] {top: 2px;position: relative !important;margin-right:10px;}
.setting .form-group{margin-bottom: 10px;display: inline-block;width: 100%;}
.setting .confirm {float: right;}
.setting .single {margin-bottom: 10px;border-bottom: 1px solid #D3AB4C;padding-bottom: 10px;}
.setting .single:nth-last-child(1){border-bottom:0;}
.display-time {background: #E2CA80;padding: 10px;}
.setting .display-time h2 {margin: 10px 0 0;}
.setting select{margin-top:-7px;}
.setting .btn{min-width:150px;}
.account .btn{min-width:150px;}


/* ========================================= */

/* ============= Help ===================== */
.top-rated.help{background:rgba(0, 0, 0, 0) url("../img/poker_inner_page_bg.jpg") repeat scroll 0 0;}
.help .nav-tabs {background:rgba(233,212,147,0.5);border-bottom: 0;}
.help .nav-tabs li {display: inline-block;width: 100%;background: none;}
.help .nav-tabs li a {padding: 10px 20px !important;color:#000000;border:0 !important;}
.help{padding:30px 0;}
.help .nav-tabs>li.active>a,.help .nav-tabs>li.active>a:focus,.help .nav-tabs>li.active>a:hover,.help .nav>li>a:focus,.help .nav>li>a:hover{background-color: rgba(255,255,255,0.5);border:0 !important;margin:0 !important;border-radius:0 !important;}
.help .detail h2 {margin: 0 0 10px;background:none;}
.help .detail{margin: 0 0 20px;}


/* ======================================== */

/* ========== Tools ======================= */

.modal .search-btn {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;font-size: 20px;height: 100%;position: absolute;right: 0;top: 0;width: 35px;}

/* ======================================== */

/* game */

.game .page_title h1{font-size:35px;}
.game .nav li a{background:rgba(21,40,38,0.59);padding: 10px 30px !important;color: #ffffff !important;font-size: 25px;min-width: 150px;text-align: center;border: 0 !important;}
.game .nav li.active a,.game .nav li:hover a,.game .nav li.active a:hover,.game .nav li a:focus,.game .nav li a:hover{background:rgba(135,1,5,0.59) !important;}
.game .nav li{margin-right:5px;background:none !important;}
.game .nav-tabs{border-bottom:1px solid #870105;margin-bottom:20px;}
.game .page_title {padding-left: 25px;}
.game .radio-grp {background: #e1c16c;padding: 10px 20px;border-radius: 7px;margin-bottom: 20px;font-size:20px;}
.game .radio-grp label{font-weight:300;}
.game .radio-grp .radio-inline{margin-left:10px;}
.game .drp-group select{background: url("../images/select-down.png") no-repeat scroll 95% 50% #e6ce8f;border:1px solid #c3a860;appearance: none;-webkit-appearance: none;-ms-appearance: none;-moz-appearance: none;-o-appearance: none;padding: 11px 19px;
height: 43px;color: #715c29;font-size: 16px;font-family: 'signikalight';}
/*.game .drp-group .col-md-2{width:20%;}*/
.game .drp-group {margin: 20px 0;}
.game .drp-group .fa-plus:before {color: #960103;}
.game .drp-group button.btn.btn-danger {height: 42px;text-transform: uppercase;width: 100%;font-size: 16px;line-height: 32px;}
.game .drp-group button.btn.btn-danger a{color:#ffffff;}
.game .drp-group button.btn.btn-danger:hover .fa-plus:before{color:#373737;}
.game .drp-group .fa-stack {width: 28px;height: 29px;margin-right:8px;}
.game .drp-group .fa-circle{font-size:25px;}
.game .drp-group .fa-plus{font-size:18px;line-height: 27px;}
.game table {background: #dabb69;border: 0;border-radius:7px;-webkit-border-radius:7px;-ms-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;color:#6b5a2c;text-align:center; font-family: 'signikalight';font-size:14px;}
.game table td,.game table th{border:0 !important;border-right:1px solid #e0ca8e !important;padding: 10px 15px !Important;}
.game table th{background:#bc9e50;color:#ffffff;font-size:18px;font-weight:300;}
.game table tr:nth-child(odd) td{background:#e1c16c;}
.game table td:nth-last-child(1),.game table th:nth-last-child(1){border-right:0 !important;}
.game table th{text-align:center;}
.game table td:nth-child(1),.game table th:nth-child(1){text-align:left;}
.game .tab-content .detail {background: #e1c16c;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;margin-bottom:20px;}
.game .tab-content .detail h2{background: #bc9e50;padding: 13px 0;width: 100%;text-align: center;font-family: 'signikalight';font-size: 18px;margin: 0;border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;color:#ffffff;}
.game .tab-content .detail .inner{padding:20px;text-align:center;color:#6b5a2c;font-family: 'signikalight';}
.game .tab-content .detail .inner h3{border-bottom:1px solid #bca15b;padding-bottom:20px;margin-bottom:20px;margin-top:0;font-size:16px;}
.game .tab-content .detail .inner h4{margin-bottom:20px;margin-top:0;font-size: 18px;line-height:25px;}
.game .tab-content .detail .inner p{margin-bottom:20px;margin-top:0;font-size: 16px;line-height:20px;}
.game .tab-content .detail .inner input.btn.btn-danger {width:80%;text-transform: uppercase;font-size: 16px;padding:8px 0;}
.game .tab-content .detail .inner table{background:#d8b358;}
.game .tab-content .detail .inner table tr:nth-child(odd) td {background: #e0bd5f;}
.game .tab-content .detail .inner h6{padding-bottom:20px;margin-bottom:20px;margin-top:0;font-size:16px;padding-bottom:0;}
.game .tab-content .detail .inner .lighted {background: #e0bd5f;padding: 15px 10px;border: 1px solid #bc9e50;margin-bottom: 15px;font-size: 15px;line-height:20px;}
.game .tab-content .detail .inner .players .ply {background: #dabb69;border: 1px solid #bc9e50;border-radius: 6px;padding: 10px 7px;}
.game .tab-content .detail .inner .players .ply .info{text-align:left;font-size:16px;padding-left:5px;}
.game .tab-content .detail .inner .players .ply .info .count{ font-family: 'signikabold';}
.game .tab-content .detail .inner .players .ply .img{padding-right:0;}
.game .tab-content .detail .inner .players .ply .img img{max-width:100%;}
.game .tab-content .detail .inner .players .ply .info .name {word-wrap: break-word;margin-bottom:6px;}
.game .tab-content .detail .inner .players .odd{padding-left:0;}
.game .tab-content .detail .inner .players .even{padding-right:0;}
.game .tab-content .detail .inner .players .odd,.tab-content .detail .inner .players .even{margin-bottom:20px;}
.game table tr:focus{background-color:#000000;}

.play_box_title{background: rgba(6,65,47,1);
background: -moz-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6,65,47,1)), color-stop(100%, rgba(8,14,14,1)));
background: -webkit-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -o-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: -ms-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
background: linear-gradient(to bottom, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06412f', endColorstr='#080e0e', GradientType=0 ); text-align:center; padding:2px;color:#fff;}
.play_box_video{ background:#ffe29e;padding:5px;}
.getting-started-content {background-image:url("../img/border-bg.jpg"),url("../img/getting-started-bg.jpg");background-repeat:repeat-x,no-repeat;background-position:0 top,center 0;padding-top:3px;background-size:auto,auto 100%;font-size:16px;}
.play_box_content{padding:10px; text-align:justify;}
.slider_banner{background:url("../img/top-rated-bg.jpg") repeat scroll center 0;padding:40px 0 40px;background-size:auto 100%;}
.slider_banner img{width:100%;}
.red_section{background:url("../img/top-rated-bg.jpg") repeat scroll center 0;padding:20px 0 50px;background-size:auto 100%;color:#fff;}
.custom_list ul{margin:0px;padding:0px;}
.custom_list ul li {list-style-image:url(../images/list_icon.png); list-style-position:inside;font-size:16px;}
.red{color:#ff0000;}
.m-t-b-15{margin:15px 0px;}
.contact .form-group {margin-bottom: 10px;}
.contact .form-group label {font-weight: normal; font-size: 15px; margin-bottom: 2px;}
.contact .form-group .form-control{background:#e6ce8f;border:1px solid #c3a860;appearance: none;-webkit-appearance: none;-ms-appearance: none;-moz-appearance: none;-o-appearance: none;padding: 8px 12px; color: #715c29;font-size: 16px;font-family: 'signikalight'; height: initial;}
.contact .form-group .form-control:focus{border-color:#66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(183,144,41,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(183,144,41,.6)}
.contact .form-group textarea.form-control {resize: none}
.contact .form-group .btn {padding: 8px 35px; font-size: 15px;}
.map{border:1px solid #960103;}
.map .embed-responsive-16by9 {padding-bottom: 66.25%;}
.contact_section{background:url("../img/top-rated-bg.jpg") repeat scroll center 0;padding:20px 0 20px;background-size:auto 100%;color:#fff;font-size:16px;}
.contact_section h2{color:#ffe29e;}
.contact_section label{color:#ffe29e;}
.underconstruction{	width:100%;	height:100%; margin:0px; padding:0px; font-family:'Roboto-Light',Arial, Helvetica, sans-serif; background: url(../img/under-construction.jpg) no-repeat center center fixed;  -webkit-background-size: cover;  -moz-background-size: cover; -o-background-size: cover;  background-size: cover;  position:relative;}
.underconstruction_wrapper {margin-top:50px; margin-bottom: 20px; }

.redirect_link { max-width:600px; margin: 0 auto; width:100%; text-align:center; color:#fff; text-transform:uppercase;}
.redirect_link h2{margin-top:25px;}
.redirect_link a{color:#cead5a; text-decoration:none;}
.redirect_link img{width:100%;}

/*============= create game =================== */

.center-block{margin:20px auto 40px;float:none !important;text-align:center;}
.center-block .drp-group select{margin-bottom:15px;}
.drp-group button.btn.btn-danger {width: auto;padding: 7px 30px;margin: 0 auto;min-width: 200px;}
#slider-container{width:350px;margin-left:30px;}
#slider-range-min{float:left;width:100%;margin:15px 0;}
.modal-body{display:inline-block;width:100%;}

/* ======================================= */
.slider{background:#000;}

.white_bg{background:rgba(255,255,255,0.51); color:#870105; padding:15px;}
.play_guide ul{margin:0px;padding:0px 20px;}
.play_guide ul li{padding:0px;margin:0px; list-style-type:decimal;font-size:20px;}
.play_guide h3{margin:5px 0px 0px;}
.play_rule{font-size:22px;margin:15px 0px;}
.play_sign_up_box{background:#ffdb4c;text-align:center;min-height:300px;margin:10px 5px 10px 0px;-webkit-box-shadow: 2px 0px 6px 2px rgba(0,0,0,0.13);-moz-box-shadow: 2px 0px 6px 2px rgba(0,0,0,0.13);
box-shadow: 2px 0px 6px 2px rgba(0,0,0,0.13);width:100%; padding-top:85px;}

.play_create_account_box{padding-top:85px;background:#ffd235;text-align:center;min-height:300px;margin:0px 0px 0px 2px;margin:10px 0px;-webkit-box-shadow: 2px 0px 6px 2px rgba(0,0,0,0.13);-moz-box-shadow: 2px 0px 6px 2px rgba(0,0,0,0.13);box-shadow: 2px 0px 6px 2px rgba(0,0,0,0.13);width:100%;}

.play_start_box{padding-top:85px;background:#ffc600;text-align:center;min-height:300px;margin:0px 0px 0px 2px;margin:10px 0px;-webkit-box-shadow: 2px 0px 6px 2px rgba(0,0,0,0.13);-moz-box-shadow: 2px 0px 6px 2px rgba(0,0,0,0.13);box-shadow: 2px 0px 6px 2px rgba(0,0,0,0.13);width:100%;}

.step{width:100px; height:100px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; background:#fff;color:#870105; margin:0 auto; box-shadow: 0px 0px 15px 1px #b9b9b9; font-size:35pt; padding:23px;}

.play_game_box{background:#870105; color: #fff;padding: 2px;text-align: center;font-size:22px;}

.play_box_image{background: #ffe29e;}
.play_box_image img{width:100%;}
.m-t-b-20{margin-top:20px;margin-bottom:20px;}
.m-t-20{margin-top:20px;}
.white_bg_bl_txt{ background:rgba(255, 255, 255, 0.51);color:#000;padding:10px;}
.rule_title{ font-weight:600; margin-top:10px; color:#870105; font-size:25pt;}
.pad-5{padding:5px;}
.addvertise img {width:100%;}
.payout_box{background:rgba(255,243,203,0.5);border:1px solid #984904; padding:10px;min-height:350px;}
.title-bottom h4 {text-align: center;font-size: 24pt;font-weight: 500;padding-top: 25px;}
.nopadding {padding:0 !important;}
.padding-left {padding:0 7px;}
.poker-img img {width:100%; margin-top:20px;}
.social-img-bg img {width:100%; margin-top:35px;}


.white_bg_bl_txt a{color:#870105;font-weight:bold;}
.sit_go_tournament{margin:20% auto 10%;}
.line_hr{border-color:#870105;margin:10px 0px;}
.tournament_title{color:#870105;font-size:28px;font-weight:500; margin-bottom:25px;}
.social_logos{position:absolute;top:10px;right:0px;}
.padd-five{padding:0px 5px !important;}
.device-title{color:#870105;font-size:18px;}
.fx_image img{width:100%;}


/* radio - checkbox */

body{-webkit-animation:bugfix infinite 1s}
@-webkit-keyframes bugfix{from{padding:0}to{padding:0}}
.checkbox-btn,.radio-btn{position:relative;padding-left:20px;}
.checkbox-btn input[type="checkbox"],.checkbox-btn input[type="radio"],.radio-btn input[type="checkbox"],.radio-btn input[type="radio"]{position:absolute;opacity:0;z-index:1}
.checkbox-btn label,.radio-btn label{display:inline-block;line-height:24px;vertical-align:middle;position:relative;padding-left:15px;cursor:pointer;user-select:none;color:#424242;margin-bottom: 0;color:#443816;font-family: 'signikalight';font-size:20px;}
.checkbox-btn label::after,.radio-btn label::after{position:absolute;content:"";width:18px;height:18px;left:0;top:0;margin-left:-18px;background-color:#e6ce8f;border:2px solid #ffe29e;-webkit-border-radius:3px;border-radius:3px;background-clip:padding-box;cursor:pointer}
.checkbox-btn label::before,.radio-btn label::before{position:absolute;content:"";width:10px;height:5px;top:6px;left:6px;margin-left:-18px;border:3px solid #ffe29e;border-top:none;border-right:none;background:transparent;-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0;-webkit-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out;z-index:1}
.checkbox-btn label:active::before,.radio-btn label:active::before{opacity:0.3}
.checkbox-btn input[type="checkbox"]:checked+label,.checkbox-btn input[type="radio"]:checked+label,.radio-btn input[type="checkbox"]:checked+label,.radio-btn input[type="radio"]:checked+label{color:#000}
.checkbox-btn input[type="checkbox"]:checked+label::after,.checkbox-btn input[type="radio"]:checked+label::after,.radio-btn input[type="checkbox"]:checked+label::after,.radio-btn input[type="radio"]:checked+label::after{border:3px solid #ffe29e}
.checkbox-btn input[type="checkbox"]:checked+label::before,.checkbox-btn input[type="radio"]:checked+label::before,.radio-btn input[type="checkbox"]:checked+label::before,.radio-btn input[type="radio"]:checked+label::before{opacity:1}
.checkbox-btn input[type="checkbox"]:disabled+label,.checkbox-btn input[type="radio"]:disabled+label,.radio-btn input[type="checkbox"]:disabled+label,.radio-btn input[type="radio"]:disabled+label{color:#787878;cursor:default}
.checkbox-btn input[type="checkbox"]:disabled+label::after,.checkbox-btn input[type="radio"]:disabled+label::after,.radio-btn input[type="checkbox"]:disabled+label::after,.radio-btn input[type="radio"]:disabled+label::after{border:2px solid #ffe29e;background-color:#ffffff}
.checkbox-btn input[type="checkbox"]:disabled+label::before,.checkbox-btn input[type="radio"]:disabled+label::before,.radio-btn input[type="checkbox"]:disabled+label::before,.radio-btn input[type="radio"]:disabled+label::before{display:none}
.radio-btn label::after{-webkit-border-radius:50%;border-radius:50%;background-clip:padding-box}
.radio-btn label::before{width:12px;height:12px;border:none;top:3px;left:3px;-webkit-border-radius:50%;border-radius:50%;background-clip:padding-box;background-color:#bc9e50;-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}


/*===============================================================
                            New css start
================================================================*/
.depo { display: block; margin-top: 25px;}
.depo .pay-box {padding:30px 0 20px}
.depo-withd {padding: 50px 0}
.depo-withd .nav-tabs {border: 0;}
.depo-withd .nav-tabs>li {width: 100%; border-radius: 0;}
.depo-withd .nav-tabs>li>a {background-color: #870105; display: block; border-radius: 0; padding: 15px 12px; font-size: 20px; line-height: 20px; border:0; color:#fff }
.depo-withd .nav > li:nth-child(1) > a {padding-left: 12px;}

.depo-withd .nav-tabs>li.active>a, .depo-withd .nav-tabs>li.active>a:focus, .depo-withd .nav-tabs>li.active>a:hover, .depo-withd .nav-tabs>li>a:hover {color:#fff; border: 0;
background: rgba(6,65,47,1);
    background: -moz-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6,65,47,1)), color-stop(100%, rgba(8,14,14,1)));
    background: -webkit-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -o-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -ms-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: linear-gradient(to bottom, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06412f', endColorstr='#080e0e', GradientType=0 );}

.depo-withd .tab-content {background-color: rgba(255,255,255,0.51);}
.dwCont-title {background: #ffe29e;  color: #870105; border-top: 5px solid #870105; padding: 10px 15px; font-size: 25px;}
.dwCont-body {padding:20px 15px 30px }
.dwCont-body .form-control {height: initial; padding: 11px 15px; background-color: transparent; border: 1px solid #870105; color: #000;
    font-size: 16px; line-height: normal;}
.dwCont-body .btn {padding: 12px 15px; background-color:#373737 !important; font-size: 16px; letter-spacing: 0.5px; line-height: normal }
.dwCont-body .btn:hover {background-color:#161616 !important; color:#fff; }
.dwCont-body .depo-balance {margin: 7px 0; font-size: 24px; line-height: normal;}
.dwCont-body .depo-balance span {margin-left: 10px;}



#bitcoin_modal .modal-sm {width: 400px;}
.pay-box { display: inline-block; position: relative; padding:15px; width: 100%; color: #fff; border-radius:4px; z-index: 0; font-size: 20px; font-weight: normal; background-color: #870105; text-align: center; margin-top: 12px;}
.pay-box .chips-value {float: left; padding-top: 4px; font-size:28px; font-family: 'signikasemibold';}
.pay-box .chips-value .cv-img {    vertical-align: middle; background-image: url("../img/chip.png"); background-repeat: no-repeat;     background-size: 100%;
    background-position: 0; width: 45px; height: 45px;  margin-right: 12px;  display: inline-block; }
.pay-box .chips-value .cv-text { font-size: 16px; font-family: 'signikalight'; color: #ccc;}
.pay-box .chips-amount {float: right; padding:8px 30px 7px; border-radius: 7px; font-size:26px; font-style: italic; font-family: 'signikasemibold';
    background: rgba(6,65,47,1);
    background: -moz-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6,65,47,1)), color-stop(100%, rgba(8,14,14,1)));
    background: -webkit-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -o-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -ms-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: linear-gradient(to bottom, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06412f', endColorstr='#080e0e', GradientType=0 ); 
}
.pay-box .chips-amount sup {font-family: 'signikasemibold'; font-size: 16px; position: relative; top: -5px; left: -1px;}
.pay-box:hover, .pay-box:focus { text-decoration: none; color: #fff; background: rgba(6,65,47,1);
    background: -moz-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6,65,47,1)), color-stop(100%, rgba(8,14,14,1)));
    background: -webkit-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -o-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -ms-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: linear-gradient(to bottom, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06412f', endColorstr='#080e0e', GradientType=0 ); }
.pay-box:hover .chips-value .cv-img { background-image: url(../img/chip-white.png);}
.pay-box:hover .chips-amount {background-color: #870105; background-image: none;}
.pay-box:hover .g2a-pay, .pay-box:focus .g2a-pay { background: #000000; background: -moz-linear-gradient(top, #000000 0%, #171717 100%); background: -webkit-linear-gradient(top, #000000 0%, #171717 100%); background: linear-gradient(to bottom, #000000 0%, #171717 100%);}
.pay-box .g2a-pay { position: absolute; top: -40px; right: 0; left: 0; margin: 0 auto; z-index: 9999999; background-color: #454444; border-radius: 50%; width: 64px; height: 64px; text-align: center; border: 1px solid #fff; box-shadow: 0px 2px 3px #000; padding: 12px; }
.pay-box .g2a-pay img {width: 45px; position: relative; top: -3px; left: -4px;}
.pay-box:hover .crypto-currncy, .pay-box:focus .crypto-currncy { background: #000000; 
background: -moz-linear-gradient(top, #000000 0%, #171717 100%); 
background: -webkit-linear-gradient(top, #000000 0%, #171717 100%); 
background: linear-gradient(to bottom, #000000 0%, #171717 100%);}
.pay-box .crypto-currncy { position: absolute; top: -40px; right: 0; left: 0; margin: 0 auto; z-index: 9999999; background-color: #454444; border-radius: 50%; width: 64px; height: 64px; text-align: center; border: 1px solid #d2d2d2; box-shadow: 0px 2px 3px #000; padding: 14px; }
.pay-box .crypto-currncy img {width: 45px; position: relative; top: -6px; left: -5px;}
.check_dep { position: absolute; height: 100%; top: 0; left: 0; right: 0; width: 100%; opacity: 0; z-index: 100; cursor: pointer; }
.depo input:checked~.pay-box { text-decoration: none; background: rgba(6,65,47,1);
    background: -moz-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6,65,47,1)), color-stop(100%, rgba(8,14,14,1)));
    background: -webkit-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -o-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: -ms-linear-gradient(top, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    background: linear-gradient(to bottom, rgba(6,65,47,1) 0%, rgba(8,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06412f', endColorstr='#080e0e', GradientType=0 ); color: #fff; }
.depo input:checked~.pay-box .g2a-pay { background: #000000;
background: -moz-linear-gradient(top, #000000 0%, #171717 100%); 
background: -webkit-linear-gradient(top, #000000 0%, #171717 100%); 
background: linear-gradient(to bottom, #000000 0%, #171717 100%);}

.modal-content {background: #d7b659 !important;}
.depo-modal-header {background: #ffe29e; color: #870105; border-top: 5px solid #870105; padding: 10px 15px;}
.depo-modal-header .modal-title {font-size: 20px;}
.depo-modal-header button.close {margin-top: 0; position: absolute; top: 10px; right: 12px; opacity: 1}
.depo-modal-header button.close span {font-size: 35px; color: #000;}

.pay-box input[type="radio"]{position: absolute; width: 100%; height: 100%; left: 0; top: 0; border-radius: 0; opacity: 0; cursor: pointer}

#gameContainer {width: 100%; background:transparent;}
#gameContainer canvas {width: 100%;}


.sub_title{color: #870105;margin: 20px 0px;font-size: 22px;font-family: 'signikasemibold';}
.sub_topic{color: #000;margin: 20px 0px;font-size: 18px;font-family: 'signikasemibold';}
.sub_topic_title{color: #000;margin: 20px 0px;font-size: 20px;font-family: 'signikasemibold';}
.list_topic ul{margin:0px 0px 10px;padding: 0px;}
.list_topic ul li{margin:0px 20px 5px;padding: 0px;}
.link-topic{color: #870105;text-decoration: underline;font-family: 'signikasemibold'; }
.bg-fixed{background-attachment: fixed;}


.app-icon {margin: 0; padding: 80px 0 0 90px}
.app-icon li {padding-bottom: 20px;}
.app-icon li i {font-size: 40px;}



















/*===============================================================
                    Responsive start 
 ==============================================================*/
@media screen and (min-width:992px) and (max-width:1199px){
.top-rated {padding: 50px 0 65px;}
.top-rated .inner h2 .title{font-size:25px;}
.top-rated h1{font-size:28px; margin-bottom: 0;}
.getting-started .gs-number {padding: 61px 0;}
footer .container > .col-sm-12 > div .link, footer .link + .col-sm-8 {min-height: 260px;}
footer .container > .col-sm-12 > div {min-height: 310px;}
footer h2 {color: #f7d873;font-size: 28px;margin: 30px 0 40px;}
.sidebar_bg i {margin:0 8px;padding: 8px;width: 45px;}
.navbar .nav.user-admin > li > a{font-size:18px;padding:20px 20px;}
.news .date span{font-size:28px;}
.news .date h2{font-size:15px;}
.page_title h1,.page_title h2{font-size:26px;}
.news .page_detail h2{font-size:17px;font-weight:600;}
.admin .user-detail .detail{margin-left:0;}
.game .page_title h1 {font-size: 25px;}
.game .radio-grp{font-size:18px;}
.checkbox-btn label, .radio-btn label{font-size:18px;}
.game .nav li a{font-size:22px;}
.map .embed-responsive-16by9 { padding-bottom: 81.25%;}
}
@media screen and (max-width:980px){
	.tab-content .tab-pane .col-sm-8{overflow-x:auto;}
}
@media screen and (min-width:768px) and (max-width:991px){
    .top-rated {padding: 50px 0 65px;}
	.top-rated .inner h2 .title{font-size:19px;}
	.top-rated h1{font-size:25px; margin-bottom: 0;}
	.getting-started .gs-number {    padding: 36px 0;}

	footer .container > .col-sm-12 > div .link, footer .link + .col-sm-8 {min-height: 260px;}
	footer .container > .col-sm-12 > div {min-height: 310px;}
	footer .col-sm-4.all-right:nth-child(1) p{font-size:15px;}
	footer{font-size:14px;}
	footer .container > .col-sm-12 > div .link, footer .link + .col-sm-8 {min-height: 215px;}
	footer .container > .col-sm-12 > div {min-height: 234px;}
	footer h2{margin:30px 0 10px;font-size:20px;}
	footer .link ul{right:3%;}
	.sidebar_bg i {margin: 0;padding: 8px;width: 45px;}
	.navbar .nav.user-admin > li > a{font-size:15px;padding:20px 12px;}
	.news .date span{font-size:28px;}
	.news .date h2{font-size:15px;}
	.page_title h1,.page_title h2{font-size:25px;}
	.news .page_detail h2{font-size:16px;font-weight:600;}
	.admin .user-detail .detail{padding-left:50px;margin-left:0;}
	.admin .user-detail .detail .name{font-size:11px;}
	.admin .user-detail .detail .bottom{font-size:12px;}
	.help .nav-tabs li a{font-size:15px;}
	.help .detail h2 {font-size:20px;}
	.game .drp-group .col-md-2{width:33.33%;margin-bottom:15px;}
	.game .page_title h1 {font-size:20px;}
	.game .radio-grp{font-size:16px;}
	.checkbox-btn label, .radio-btn label{font-size:16px;}
	.game .tab-content .detail .inner .players .odd, .game .tab-content .detail .inner .players .even{width:100%;padding:0;}
	.game .nav li a{font-size:20px;}
	.top-header{font-size:13px;}
	.social_logos img{width:85%;}
    .map .embed-responsive-16by9 { padding-bottom: 108.25%;}
    footer .col-sm-4.all-right:nth-child(1) img { margin-bottom: 50px;}
    .ssl-img { padding: 50px 25px;}
}
@media screen and (max-width:767px){
    .navbar-nav>li { display: block; text-align: left; border-bottom: 1px solid #525252;}
    .navbar-nav>li:last-child {border-bottom: 0;}
    .top-rated {padding: 50px 0 65px;}
	.top-rated .inner{margin-bottom:20px;}
	.top-rated .inner h2 .title{font-size:19px;}
	.top-rated h1{font-size:22px; margin-bottom: 0;}
	.getting-started .col-sm-4.col-xs-6 {width: 50%;}
    .getting-started .col-sm-4 { width: 250px; margin: 0 auto;}
    .getting-started .gs-number {padding: 30px 0; width: 250px; margin: 0 auto; border-bottom: 1px solid #dec962;}
    footer {background: none; background-color: #080808; }
	footer .col-sm-4.all-right:nth-child(1){width:100%;}
    footer .col-sm-4.all-right:nth-child(1) img {margin-bottom: 45px;}
	
	footer .responsive .col-xs-6:nth-child(1){background:url("../img/footer-logo-bg.jpg") no-repeat scroll 0 0;background-size:100% 100%;text-align:center;}
	footer .responsive .col-xs-6:nth-child(1) img {margin-bottom: 80px;margin-top: 10px;max-width: 55%;}
	footer .responsive .col-xs-6:nth-child(1) p{bottom: 27px;color: #ffffff;font-size:21px;position: relative;}
	footer .responsive .col-xs-6 {min-height: 350px;}
	footer .responsive .col-xs-6:nth-child(2){background:#152323;}
	footer .responsive .col-xs-6:nth-child(3){background:#162927;}
	footer .responsive .col-xs-6:nth-child(4){background:#1a3336;text-align:center;}
	footer h2{font-size:23px; margin-top: 25px;}
    footer .link ul {position: initial; text-align: center; padding: 25px 0 0; margin-bottom: 0;}
    footer .saftey { width: 100%; text-align: center; padding-bottom: 35px;}
    footer .container > .col-sm-12 > div { min-height: initial;}
	footer .responsive .col-xs-6:nth-child(4) img{margin:40% 0;}
	.top-header .container > div {font-size: 13px;padding: 0;}
	footer .responsive .col-xs-12:nth-child(2) {text-align: center;}
	footer .paypal {left: auto !important;margin: 10px auto;}

    footer .link, footer .saftey { min-height: initial;}
    .app-icon {padding: 20px 0 0;}
    .app-icon li { padding: 0 15px; display: inline-block;}

	.news .date span{font-size:28px;}
	.news .date h2{font-size:15px;}
	.page_title h1,.page_title h2{font-size:25px;}
	.news .page_detail h2{font-size:16px;font-weight:600;}
	.admin .user-detail {position: relative;right: 0;top: 0;}
	.admin .user-detail .img-circle{display:none;}
	.admin .user-detail .detail{margin-left:0;position:relative;right:0;top:0;border-radius:0;}
	.setting select {margin-top: 10px;margin-bottom: 10px;}
	.help .nav-tabs li a{font-size:15px;}
	.help .detail h2 {font-size:20px;}
	.help .nav-tabs{margin-bottom:30px;}
	.game .drp-group .col-md-2{width:33.33%;margin-bottom:15px;}
	.game .page_title h1 {font-size:18px;}
	.game .radio-grp{font-size:16px;}
	.checkbox-btn label, .radio-btn label{font-size:16px;}
	.game .tab-content .detail .inner h4 {margin-bottom: 10px;font-size: 15px;}
	.game .tab-content .detail .inner h3 {padding-bottom: 10px;margin-bottom: 10px;}
	.game .nav li a{font-size:16px;padding:10px 20px !important;min-width:auto;}
	.game .radio-grp label {float: left;margin-bottom: 10px;width: 100%;}

    .getting-started .col-sm-4 img:nth-child(1) {display: none}
    .getting-started .col-sm-4 img:nth-child(2) {display: block; width: 100%}
    .getting-started .col-sm-4::after { border-color: #ffffff transparent -moz-use-text-color !important;  border-style: solid solid none !important;   border-width: 10px 10px 0 !important; bottom: -1px; content: ""; left: 46%; position: absolute; right: auto;  top: auto; z-index: 1; transform: rotate(-44deg);}







}

@media screen and (max-width:700px){
	footer .responsive .col-xs-6 {min-height: 323px;}
}
@media screen and (max-width:660px){
	footer .responsive .col-xs-6 {min-height: 305px;}
	footer .responsive .col-xs-6:nth-child(1) p{font-size:17px;}
	.game .drp-group .col-md-2{width:100%;margin-bottom:15px;}
}
@media screen and (max-width:600px){
	footer .responsive .col-xs-6 {min-height: 300px;}
	footer .responsive .col-xs-6:nth-child(1) p{bottom:10px;}
	footer .responsive .col-xs-6:nth-child(1) img{max-width:60%;}
}
@media screen and (max-width:550px){
	footer .responsive .col-xs-6 {min-height:285px;}
	footer .responsive .col-xs-6:nth-child(1) p{bottom:10px;}
	footer .responsive .col-xs-6:nth-child(1) img{max-width:60%;}

}
@media screen and (max-width:500px){
	footer .responsive .col-xs-6:nth-child(1) img{max-width:67%;}
	footer .responsive .col-xs-6 {min-height:280px;}
	footer .responsive .col-xs-6:nth-child(1) p{font-size:15px;}
}
@media screen and (max-width:480px){
	.login .box .btn{width:100%;margin-bottom:10px;}
	.news .date span{font-size:15px;}
	.news .date h2{font-size:12px;}
	.setting .confirm {float: left;width: 100%;}
	.nav-tabs > li{width:100%;}
	.nav-tabs > li a{width:100%;}
	.social_logos img{width:70%;}
    footer .responsive .col-xs-6 {width:100% !important;min-height:auto;}
    footer .responsive .col-xs-6:nth-child(1) img{max-width:55%;}


    footer h2 + ul{  margin: 0px auto 25px;width: 200px;}
    footer .responsive .col-xs-6:nth-child(4) img {margin: 33px 0;position: relative;left: -42px;}
    footer .responsive .col-xs-6:nth-child(1) p {bottom: 30px;}
    footer .col-sm-4.all-right:nth-child(1) img { margin-bottom: 65px;}
    .top-header .container > div {font-size: 12px;text-align: center;margin-bottom: 5px;}
    .top-header .container > div{width:100%;}
    .chips h3{font-size:18px;}
    .news .col-sm-8 .row > div{width:100%;}
    .news .page_banner{margin-top:10px;}
    .social_logos img{width:50%;}
}

@media screen and (max-width:360px){
	.top-rated .col-sm-3.col-xs-6{width:100%;}
	.getting-started .col-sm-4::after {border-color: #ffffff transparent -moz-use-text-color !important;border-style: solid solid none !important;border-width: 10px 10px 0 !important;bottom: -1px;content: "";left: 46%;position: absolute;right: auto;top: auto;
z-index: 1;     transform: rotate(-44deg);}
	.getting-started .col-sm-4,.getting-started .col-sm-3{width:100% !important;}
	.getting-started .col-sm-4 img:nth-child(2){display:block;}
	.getting-started .col-sm-4 img:nth-child(1){display:none;}
	.sidebar_bg i{margin:0px 2px;}
	.buychips h2 .main-title{font-size:15px;}
	.buychips.top-rated h1{font-size:17px;line-height:23px;}
	.chips h3{font-size:17px;}
	.game .tab-content .detail .inner .players .odd, .game .tab-content .detail .inner .players .even{width:100%;padding:0;}
	.social_logos img{width:50%;}

}



