{% extends "partition/layout.html" %} {% block body %}
<style>
    .panel-heading {
        background-color: #ddd;
        font-weight: bold;
        text-align: center;
    }
    .highlight-box {
        display: inline-block;
        background-color: orange;
        color: black;
        padding: 5px;
        font-weight: bold;
    }
    .details-container {
        padding: 15px;
        text-align: center;
    }
    .details-row {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 5px 0;
    }
    .details-item {
        font-size: 14px;
        font-weight: bold;
    }
    .details-value {
        font-weight: normal;
        margin-left: 5px;
    }
</style>
<div class="page-wrapper">
    <div class="container-fluid">
        
        <section class="content-header">
            <h1>{{translate.tracking_player_spending}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{translate.dashboard}}</a></li>
                <li class="active">{{translate.tracking_player_spending}}</li>
            </ol>
        </section>
       
        {% include "partition/notification.html" %}
       
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{translate.tracking_player_spending}}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">{{translate.player_details}}</div>
                            <div class="details-container">
                                <div class="details-row">
                                    <div class="details-item">
                                        {{translate.customer_number}}.:<span class="details-value"> {{player.customerNumber}}</span>
                                    </div>
                                    <div class="details-item">
                                        {{translate.username}}:<span class="details-value"> {{player.username}}</span>
                                    </div>
                                </div>
                                <div class="details-row">
                                    <div class="details-item">
                                        {{translate.deposit_amount}}:<span class="details-value"> {{totalDeposit}}</span>
                                    </div>
                                    <div class="details-item">
                                        {{translate.bet_amount}}:<span class="details-value"> {{totalBet}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    <th>{{translate.date}}</th>
                                                    <th>{{translate.username}}</th>
                                                    <th>{{translate.deposit_amount}}</th>  
                                                    <th>{{translate.bet_amount}}</th>
                                                    <th>Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock %} {% block Jscript %}

<script>
    $(document).ready(function () {
        let params = new URLSearchParams(window.location.search);
        const playerId = "{{playerId}}";
        const amount = params.get("amount");
        const percentage = params.get("percentage");
        const dateRange = params.get("dateRange"); 
        const ajaxUrl = host + "/players/track-spending/transactions/get/"+ playerId;
        let table = $('#myTable').DataTable({
            "language": {
                'paginate': {
                    'previous': '{{translate.previous}}',
                    'next': '{{translate.next}}'
                }
            },
            "oLanguage": {
                "sLengthMenu": "{{translate.show}} _MENU_ {{translate.entries}}",
                "sEmptyTable": "{{translate.no_data_available_in_table}}",
                "sInfo": "{{translate.showing}} _START_ to _END_ of _TOTAL_ {{translate.entries}}",
                "sInfoEmpty": "{{translate.showing}} 0 to 0 of 0 {{translate.entries}}",
            },
            "searching": false,
            "processing": true,
            "serverSide": true,
            "bSort": false,
            "order": [[0, "desc"]],
            "columnDefs": [{
                "targets": [0,1,2,3],
                "orderable": false
            }],
            "autoWidth": false,
            "pageLength": 10,
            "ajax": {
                url: ajaxUrl,
                type: "GET",
                data: function (data) {
                    data.dateRange = dateRange;  // Pass date range
                    data.amount = amount;  // Pass amount
                    data.percentage = percentage;  // Pass percentage
                },
            },
            "columns": [
                { "data": "date",
                    render: function (data, type, row, meta) {
                        return moment(data).format('DD/MM/YYYY hh:mm a');
                    }
                },
                { "data": "playerName",
                    render: function (data, type, row, meta) {
                        return data ? data : "";
                    }
                },
                { "data": "depositAmount",
                    "render": function (data, type, row) {
                        if(data && data  > 0){
                            return `<span style="color: green; font-weight: bold;">${data}</span>`;
                        }
                        return data;
                    }
                },
                { "data": "beAmount", 
                    "render": function (data, type, row) {
                        if(data && data  > 0){
                            if(row.tnxType == "Cancel Ticket" || row.tnxType == "Refund"){
                                return `<span style="color: green; font-weight: bold;">${data}</span>`;
                            }else{
                                return `<span style="color: red; font-weight: bold;">${data}</span>`;
                            }
                            
                        }
                        return data;
                    }
                },
                { "data": "tnxType" },
            ]
        });

        // Load data only when "Search" button is clicked
        $('#search').on('click', function () {
            table.ajax.reload();
        });

    });
    </script>
{% endblock %}