<header class="main-header">

    <!-- Logo -->
    <a href="/admin" class="logo" style="background-color: #1a2226;">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">BG</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <!-- <img class="brand-img mr-10" src="/dist/img/logo.png" alt="brand" height="50px" /> -->
            Bingo Game
        </span>
    </a>
    <input value="{{App.maintenanceMode}}" hidden type="text" id="maintenanceMode">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        {% if session.role == 'agent' %}
        <a href="#" style="color:white;line-height: 3; font-size: large;">{{session.hall[0].name}}</a>
        {% endif %}
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                {% if session.role == 'agent'%}
                
                <li>
                    <a href="javascript:void(0);" style="color: white;" style="color: white;">
                        <span class=""> {{navigation.daily_balance}} [ <span
                                id="rootChips">
                                {% if session.dailyBalance is defined and session.dailyBalance is not null %}
                                    {{ session.dailyBalance.toFixed(2) }}
                                {% else %}
                                    0.00
                                {% endif %}
                            </span> ]</span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-success" href="/agent/cashinout" style="color: white;">{{navigation.cash_in_out}}</a>
                </li>
                <!-- <li class=" notifications-menu" style="margin: 15px;">
                    <a href="/deposit/requests" class="dropdown-toggle" >
                        <i class="fa fa-bell-o" style="font-size: 20px;"></i>
                        <span class="label label-warning notificationsCount">0</span>
                    </a>
                </li> -->
                <li class="nav-item dropdown notifications-menu">
                    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false" id="notificationBell">
                        <i class="fa fa-bell-o" style="font-size: 20px;"></i>
                      <!-- <span class="badge badge-warning navbar-badge notificationsCount">15</span> -->
                      <span class="label label-warning notificationsCount">0</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0">
                        <h6 class="dropdown-header text-center" style="background: #3c8dbc; color: #fff; font-weight: 600;">
                            Notifications
                        </h6>
                        <div class="dropdown-divider my-0"></div>
                        <a href="/deposit/requests" class="dropdown-item d-flex align-items-center py-3">
                            <div class="flex-grow-1" style="padding: 5px;">
                                <span>Deposit Pending</span>
                                <span class="label label-warning depositPendingCount">0</span>
                            </div>
                        </a>
                        <div class="dropdown-divider my-0"></div>
                        <a href="/withdraw/requests/hall" class="dropdown-item d-flex align-items-center py-3">
                            <div class="flex-grow-1" style="padding: 5px;">
                                <span>Withdraw Pending</span>
                                <span class="label label-warning withdrawPendingCount">0</span>
                            </div>
                        </a>
                    </div>
                  </li>
                {%endif%}

                {#
                <li>
                    <a href="javascript:void(0);">
                        {% if Agent.rake_chips %}
                        <span class="">Rake Account [ <span id="rootChips">{{(Agent.rake_chips).toFixed(2)}}</span>
                            ]</span>
                        {%else%}
                        <span class="">Rake Account [ <span id="rootChips">000</span> ]</span>
                        {%endif%}
                    </a>
                </li>
                <li class="dropdown user user-menu">
                    {% if Agent.isTransferAllow == true or Agent.isTransferAllow == "true" %}
                    <button type="button" class="dropdown-toggle btn btn-success btn-flat btn-sm transf-mony"
                        data-toggle="dropdown">Transfer</button> {% endif %}
                    <ul class="dropdown-menu">
                        <li class="user-footer">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12 text-left">
                                        <div class="form-group">
                                            <label class="control-label text-white">Enter Chips</label>
                                            <input type="number" id="userChips" name="userChips" class="form-control"
                                                min="0.01" step="1" max="{{Agent.rake_chips}}"
                                                placeholder="Chips amount should be under {{(Agent.rake_chips).toFixed(2)}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="submit" class="btn btn-primary btn-block transferChips "
                                            onclick="transferChips()" name="Transfer" value="Transfer">
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
                #}
                {% if App.maintenanceMode %}
                <li style="padding: 0 40px; top: 5px; color: #ffffff;">
                    <span>Maintenance Mode </span>
                    <div style="text-align: center; background-color: green;">
                        <span> ON </span>
                    </div>
                </li>
                {% endif %}


                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% set profilePic = "/profile/" + session.avatar %}
                        {% if session.avatar == "" %}
                        {% set profilePic = "dist/img/user.png" %}
                        {% endif %}
                        {% if session.role == 'admin'%}
                        <img src="{{profilePic}}" class="img-circle" alt="User Image" width="50px" height="50px">
                        {%else%}
                        <img src="{{profilePic}}" class="img-circle" alt="Agent Image" width="50px" height="50px">
                        {%endif%}
                        <span class="">{{session.name}} </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            {% if session.role == 'admin'%}
                            <img src="{{profilePic}}" class="img-circle" alt="User Image" width="50px" height="50px">
                            {%else%}
                            <img src="{{profilePic}}" class="img-circle" alt="Agent Image" width="50px" height="50px">
                            {%endif%}


                            <p>
                                {{session.name}}
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                {% if session.role == 'admin'%}
                                <a href="/profile" class="btn btn-default btn-flat">{{navigation.profile}}</a> {%else%}
                                <a href="/agent/profile" class="btn btn-default btn-flat">{{navigation.profile}}</a> {%endif%}
                            </div>
                            <div class="pull-right">
                                {% if session.role == 'admin'%}
                                <a href="/logout" class="btn btn-default btn-flat">{{navigation.sign_out}}</a>
                                {% endif %}

                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                {% if Agent.isSuperAdmin == true %}
                <li>
                    <a href="/settings"><i class="fa fa-gears"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>

    </nav>
</header>
<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    var Mode = $("#maintenanceMode").val();
    console.log(Mode)
    if ($('body').find('.navbar').length > 0) {
        if (Mode == "true") {
            $('.navbar').addClass('hedarModeColor');
        } else {
            $('.navbar').removeClass('hedarModeColor');
        }

    }

    $('#notificationBell').on('click', function(e) {
        // Replace '/api/notifications/count' with your actual API endpoint
        $.ajax({
        url: '/notifications/count/hall/{{Agent.hall[0].id}}',
        method: 'GET',
        success: function(data) {
            // Assuming { count: n } is returned
            $('.depositPendingCount').text(data.depositCount || 0);
            $('.withdrawPendingCount').text(data.withdrawCount || 0);
            $('.notificationsCount').text(data.depositCount + data.withdrawCount || 0);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            // Handle error optionally
            console.error('Error fetching notifications count', errorThrown);
        }
        });
    });
</script>