<!DOCTYPE html>
<html lang="en">
  {% include "partition/head.html" %}

	<body class="hold-transition skin-blue sidebar-mini">
	  <div class="wrapper">

    	{% include "partition/header.html" %}
    	{% include "partition/navigation.html" %}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">	       
				<!-- Main Content -->
				{% block body %}{% endblock %} 
				
				<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
				<div class="control-sidebar-bg"></div>
			</div>

			{% include "partition/footer.html" %}
			{% block Jscript %}{% endblock %}

		</div>
	</body>
	<script src="/dist/js/comman.js"></script>

</html>
