{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
    .btn-group-new>.btn,
    .btn-new {
        padding: 2px 83px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }
</style>
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Title -->
        <section class="content-header">
            <h1>{{Wallet.wallet_management_table}} </h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i>{{Wallet.dashboard}}</a></li>
                <li class="active" href="#">{{Wallet.wallet_management}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{Wallet.wallet_management}}</h6>
                            </div>
                            <div class="pull-right">
                                <!-- <a href="/addWallet"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i> Add Wallet</button></a> -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <input type="text" name="agent" id="agent" value="{{Agent.role}}" hidden>
                                        <table id="myTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>{{Wallet.customer_number}}</th>
                                                    <th>{{Wallet.username}}</th>
                                                    <th>{{Wallet.emailId}}</th>
                                                    <th>{{Wallet.mobile_number}}.</th>
                                                    <th>{{Wallet.firstname}}</th>
                                                    <th>{{Wallet.wallet_amount}}</th>
                                                    <th>{{Wallet.action}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


{% endblock %} {% block Jscript %}
<script>
    var orderTable = "";
    var host = window.location.origin;
    $(document).ready(function() {

        let ajaxUrl = host + "/getWallet";
        let viewFlag = '{{viewFlag}}';
        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "{{Wallet.search}} {{Wallet.username}}/{{Wallet.customer_number}}",
                "sLengthMenu": "{{Wallet.show}} _MENU_ {{Wallet.entries}}",
                "oPaginate": {
                    sPrevious: "{{ Wallet.previous }}",
                    sNext: "{{ Wallet.next }}"
                },
                "sEmptyTable": "{{Wallet.no_data_available_in_table}}",
                "sInfo": "{{Wallet.showing}} _START_ to _END_ of _TOTAL_ {{Wallet.entries}}",
                "sInfoEmpty": "{{Wallet.showing}} 0 to 0 of 0 {{Wallet.entries}}",
            },
            "processing": true,
            "serverSide": true,
            "order": [
                [0, "desc"]
            ],
            "columnDefs": [{
                "targets": [5],
                "orderable": false
            }],
            "autoWidth": false,
            "pageLength": 100,
            "ajax": {
                url: ajaxUrl,
                type: "GET",
            },
            "pageLength": 25,
            "buttons": [
                // 'csv', 'excel'
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                }, {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                }
            ],
            "columns": [{
                    "data": "customerNumber",
                    render: function (data, type, row) {
                    let customerNumber = ''
                    if (row.customerNumber) {
                        customerNumber = row.customerNumber;
                    }
                    return customerNumber;
                }
            },{
                "data": "username"
            }, {
                "data": "email",
                render: function (data, type, row) {
                    let email = ''
                    if (row.email) {
                        email = row.email;
                    }
                    return email;
                }
            }, {
                "data": "phone",
                render: function (data, type, row) {
                    let phone = ''
                    if (row.phone) {
                        phone = row.phone;
                    }
                    return phone;
                }
            }, {
                "data": "nickname"
            }, {
                "data": "walletAmount",
                render: function (data, type, row) {
                    return parseFloat(row.walletAmount).toFixed(3);
                }
            }, {
                "data": "action",
                render: function(data, type, row) {
                    let html = '';
                    if (viewFlag == 'true') {
                        html += `<a href="/viewWallet/` + row._id + `" class="btn btn-info btn-xs btn-rounded" title="{{Wallet.view_wallet}}"><i class="fa fa-eye" aria-hidden="true"></i></a>`
                    } else {
                        html += `  `;
                    }
                    return html;

                }
            }]
        });
    });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
{% endblock %}