{% extends "partition/layout.html" %} {% block body %}
<style>
   .form-control.valid {
        border-color: #28a745; /* Green for valid input */
    }
</style>

<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            {% if action=="add" %}
                <h1>{{translate.add_money_register_user}}</h1>
                <ol class="breadcrumb">
                    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{translate.dashboard}}</a></li>
                    <li class="active">{{translate.add_money_register_user}}</li>
                </ol>
            {% elseif action == "withdraw" %}
                <h1>{{translate.withdraw_money_register_user}}</h1>
                <ol class="breadcrumb">
                    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{translate.dashboard}}</a></li>
                    <li class="active">{{translate.withdraw_money_register_user}}</li>
                </ol>
            {% endif %}
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                {% if action=="add" %}
                                <h6 class="panel-title txt-dark">{{translate.add_money}}</h6>
                                {% else %}
                                <h6 class="panel-title txt-dark">{{translate.withdraw_money}}</h6>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                    <form method="POST" id="registerUserBalanceForm" class="">
                               
                                    <div class="table display pb-30">
                                        <input type="hidden" name="action" id="action" value="{{action}}">
                                        <div class="">
                                            
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        
                                                        <label>{{translate.enter_username_customer_number}}:</label>
                                                        <input type="text" class="form-control" name="userName"
                                                            placeholder="Enter Username/Customer Number/Phone Number" value=""
                                                            id="userName" data-validation="required username_server">  
                                                            <input type="hidden" id="playerIdOfUsername" name="playerIdOfUsername" value="">
                                                            <!--  data-validation="required server" data-validation-url="/agent/player/check-validity" -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <label>{{translate.amount}}:</label>
                                                        <label id = "balanceResult" style="float: right;"></label>
                                                        <input type="number" class="form-control"
                                                            onkeypress="return event.charCode >= 48" min="1"
                                                            name="amount"placeholder="Enter Amount"
                                                            value="" id="amount" data-validation="required">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group ">
                                                        <label>{{translate.select_payment_type}}:</label>
                                                        <select name="paymentType" id="paymentType" class="form-control" required >
                                                            <option value="Cash">{{translate.cash}}</option>
                                                            <option value="Card">{{translate.card}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    {% if action=="add" %}
                                                        <input type="submit" class="btn btn-success sbBtn btn-flat submitRegisterUser"
                                                        value="{{translate.add}}"> 
                                                    {% elseif action == "withdraw" %}
                                                        <input type="submit" class="btn btn-success sbBtn btn-flat submitRegisterUser"
                                                        value="{{translate.withdraw}}"> 
                                                    {% endif %}

                                                    <a href="/agent/cashinout"
                                                        class="btn btn-danger btn-flat cancelRegisterUser">{{translate.cancel}}</a>
                                                </div>
                                            </div>

                                        </div>   

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {

        $.validate({
            modules: 'security', 
            onSuccess: function() {
                return true; 
            },
            onError: function($form) {
                return false; // Prevent form submission if there are errors
            }
        });

        // Add custom validator for server-side checks
        $.formUtils.addValidator({
            name: 'username_server',
            validatorFunction: function(value, $el, config, language, $form) {
                let isValid = false;
                $.ajax({
                    url: '/agent/player/check-validity',
                    type: 'POST',
                    data: { userName: value },
                    async: false, 
                    success: function(response) {
                        isValid = response.valid; // Update isValid based on response
                        if (isValid) {
                            $el.removeClass('error').addClass('valid'); // Remove error class and add valid class
                            $el.closest('.form-group').removeClass('has-error');
                            $el.removeAttr('style');
                            $el.next('.form-error').remove(); // Remove any existing error messages
                        } else {
                            $el.removeClass('valid').addClass('error'); // Add error class
                            $el.closest('.form-group').addClass('has-error');
                        }
                    },
                    error: function() {console.log("error")
                        isValid = false; // Handle error
                    }
                });
                return isValid;
            },
           // errorMessage: 'Please enter valid username.',
            borderColorOnError: '#dc3545'
        });

        // Debounce function to limit the rate of validation checks
        function debounce(func, wait) {
            let timeout;
            return function(...args) {
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(this, args), wait);
            };
        }

        // Manual validation function
        function validateUsername() {
            var $input = $('#userName');
            $input.each(function() {
                $.formUtils.validateInput($(this)); // Trigger validation manually for each input
            });
        }

        // Trigger validation on input change with debounce
        const validateInput = debounce(validateUsername, 1000); // Adjust debounce delay as needed

        $('#userName').on('input', validateInput);


        let typingTimer;
        const typingInterval = 500; // 0.5 seconds delay

        $('#userName').on('keyup', function() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(function() {
                const username = $('#userName').val();
                console.log("username---", username)
                if (username) {
                    getUSerBalance(username);
                } else {
                    $('#balanceResult').text('');
                }
            }, typingInterval);
        });

        $('#userName').on('keydown', function() {
            clearTimeout(typingTimer);
        });

        $('#userName').on('blur', function() {
            clearTimeout(typingTimer);
            const username = $('#userName').val();
            if (username) {
                getUSerBalance(username);
            } else {
                $('#balanceResult').text('');
            }
        });

        function getUSerBalance(username){
            $.ajax({
                url: '/agent/register-user/balance/get',
                method: 'GET',
                data: { username: username },
                success: function(response) {
                    if(response.status == "success"){
                        $('#balanceResult').text(`Current Balance: ${response.balance} Kr`).css('color', 'green');
                        $("#playerIdOfUsername").val(response.playerId)
                    }else{
                        $('#balanceResult').text(response.message).css('color', 'red');
                        $('#balanceResult').text('');
                        $("#playerIdOfUsername").val("")
                    }
                },
            });
        }

        $(function() {
            "use strict";

            let SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    $( "#registerUserBalanceForm" ).submit(function( event ) {
                        event.preventDefault();
                        if($("#registerUserBalanceForm").isValid() == true){
                            let action = "{{action}}";
                            let confirmText = `{{translate.do_you_want_to_add_money_to_username}} "${$('#userName').val()}" ?`;
                            let acceptMessage = "{{translate.yes_add_money}}!";
                            let cancelMessage = "{{translate.the_add_money_action_has_been_cancelled}}.";
                            if(action == "withdraw"){
                                confirmText = `{{translate.do_you_want_to_withdraw_money_from_username}} "${$('#userName').val()}" ?`;
                                acceptMessage = "{{translate.yes_withdraw_money}}!";
                                cancelMessage = "{{translate.the_withdraw_money_action_has_been_cancelled}}.";
                            }
                            swal({
                                title: "{{translate.are_you_sure}}?",
                                text: confirmText,
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#e69a2a",
                                confirmButtonText: acceptMessage,
                                cancelButtonText: "No, cancel Plz!",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            }, function(isConfirm) {
                                if (isConfirm) {
                                    $(".confirm").attr('disabled', 'disabled'); 
                                    $.ajax({
                                        url: '/agent/register-user/balance/update', 
                                        method: 'POST',
                                        data: {
                                            username: $('#userName').val(),
                                            amount: $('#amount').val(),
                                            paymentType: $('#paymentType').val(),
                                            action: $('#action').val(),
                                            id:  $("#playerIdOfUsername").val(),
                                        }, 
                                        success: function(response) {
                                            console.log("response of update user balance", response)
                                            if(response.status == "success"){
                                                if (response?.paymentType.toLowerCase() == "cash") {
                                                    $("#rootChips").text(parseFloat(response.dailyBalance).toFixed(2));
                                                }
                                                swal("{{translate.success}}!", response.message, "success");
                                            }else{
                                                swal("{{translate.failed}}", response.message, "error");
                                            }
                                        }, complete: function() {
                                            $("#registerUserBalanceForm")[0].reset();
                                            $('#balanceResult').text('');
                                            $("#playerIdOfUsername").val("");
                                        }
                                    });
                                } else {
                                    swal("{{translate.cancelled}}", cancelMessage, "error");
                                }
                            });
                            return false;
                        }else{
                            if ($(".has-error").length) {
                                let el = $('.has-error').first();
                                if (! $.isEmptyObject(el)) {
                                    $('html, body').animate({
                                        scrollTop: (el.offset().top)
                                    },10);
                                }
                            }
                        }
                        
                    });

                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

    });
</script>
{% endblock %}