{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
    .btn-group-new>.btn,
    .btn-new {
        padding: 2px 83px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px
    }

    .cst {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: stretch;
    }

    .form-horizontal button {
        width: 50px;
    }

    button#search,
    button#filterReset {
        min-width: 55px;
    }
</style>

<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{{riskCountryData.risk_country_table}}</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{riskCountryData.dashboard}}</a></li>
                <li class="active">{{riskCountryData.risk_country_table}}</li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{riskCountryData.risk_country}}</h6>
                            </div>
                            <div class="pull-right">
                                {% if addFlag %}
                                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addRiskCountryModal"><i
                                            class="fa fa-plus"></i> {{riskCountryData.add_risk_country}}</button>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    <th>{{riskCountryData.sr_no}}</th>
                                                    <th>{{riskCountryData.risk_country_name}}</th>
                                                    {% if deleteFlag %}
                                                    <th>{{riskCountryData.action}}</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Add Risk Country Modal -->
    <div class="modal fade" id="addRiskCountryModal" tabindex="-1" role="dialog" aria-labelledby="addRiskCountryModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addRiskCountryModalLabel">{{riskCountryData.add_risk_country}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="countryName">{{riskCountryData.risk_country_name}}</label>
                        <select class="form-control" id="countryName" name="countryName">
                            <!-- {% for country in countriesList %}
                            <option value="{{country}}">{{country}}</option>
                            {% endfor %} -->
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{riskCountryData.close}}</button>
                    <button type="button" class="btn btn-primary" id="submitRiskCountry">{{riskCountryData.submit}}</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // Remove error message if input has value
            $('#countryName').on('input', function() {
                if ($(this).val().trim() !== '') {
                    $('#countryNameError').remove();
                }
            });
            // Remove error message when modal is shown via any trigger
            $('#addRiskCountryModal').on('show.bs.modal', function() {
                $('#countryNameError').remove();
                $.ajax({
                    url: host + '/getCountryList',
                    type: 'GET',
                    success: function(response) {   
                        $('#countryName').empty();
                        $('#countryName').append('<option value="">{{riskCountryData.select_country}}</option>');
                        response.forEach(function(country) {
                            $('#countryName').append('<option value="' + country + '">' + country + '</option>');
                        });
                    },
                    error: function(xhr, status, error) {
                        alert('Error adding risk country');
                    }
                });
            });
            // Handle form submission
            $('#submitRiskCountry').click(function() {
                // Clear any existing error message
                $('#countryNameError').remove();
                
                // Get the input value
                let countryName = $('#countryName').val();
                
                // Validate if empty
                if (!countryName || countryName.trim() === '') {
                    // Add error message below input
                    $('#countryName').after('<div id="countryNameError" class="text-danger">Please enter country name</div>');
                    return;
                }
                
                if (countryName) {
                    $.ajax({
                        url: host + '/addRiskCountry',
                        type: 'POST',
                        data: {
                            countryName: countryName
                        },
                        success: function(response) {
                            $('#addRiskCountryModal').modal('hide');
                            $('#countryName').val('');
                            // Reload the table to show new entry
                            $('#myTable').DataTable().ajax.reload();
                        },
                        error: function(xhr, status, error) {
                            alert('Error adding risk country');
                        }
                    });
                }
            });
        });
    </script>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    var orderTable = "";
    var table;
    let data = {
        status: ''
    }
    var host = window.location.origin;
    $(document).ready(function () {
        let deleteFlag = '{{deleteFlag}}';
        let ajaxUrl = host + "/getRiskCountry";
        tableLoad(data);
        function tableLoad(params) {
            $('#myTable').DataTable({
                "oLanguage": {
                    "sSearch": "{{riskCountryData.search}} {{riskCountryData.risk_country_name}}",
                    "sLengthMenu": "{{riskCountryData.show}} _MENU_ {{riskCountryData.entries}}",
                    "oPaginate": {
                        sPrevious: "{{ riskCountryData.previous }}",
                        sNext: "{{ riskCountryData.next }}"
                    },
                    "sEmptyTable": "{{riskCountryData.no_data_available_in_table}}",
                    "sInfo": "{{riskCountryData.showing}} _START_ to _END_ of _TOTAL_ {{riskCountryData.entries}}",
                    "sInfoEmpty": "{{riskCountryData.showing}} 0 to 0 of 0 {{riskCountryData.entries}}"
                },
                "processing": true,
                "serverSide": true,
                "order": [
                    [1, "desc"]
                ],
                "columnDefs": [{
                    "targets": [2],
                    "orderable": false
                }],
                "autoWidth": false,
                "pageLength": 25,
                "ajax": {
                    url: ajaxUrl,
                    type: "GET",
                    data: function (data) {
                        data.params = params;
                    }
                },
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        },
                        "orderable": false
                    },
                    {
                        "data": "countryName"
                    }, {
                        "data": "action",
                        "orderable": false,
                        "render": function (data, type, row) {
                            let html = '<div style="width : 50px">';
                            if (deleteFlag == "true") {
                                html += ` <button type="button" name="delete" id="${row._id}" class="btn btn-danger btn-xs delete btn-rounded" title="Delete Risk Country"><i class="fa fa-trash" aria-hidden="true"></i></button>`;
                            }
                            html += '</div>'
                            return html;
                        }
                    }
                ],
            "fnRowCallback": function(nRow, aData, iDisplayIndex) {
                var index = iDisplayIndex + 1;
                $('td:eq(0)', nRow).html(index);
                return nRow;
            }
            });
            table = $('#myTable').DataTable();
        }
        $(function () {
            "use strict";

            var SweetAlert = function () { };

            SweetAlert.prototype.init = function () {
                //Parameter
                $('body').on('click', '.delete', function (e) {
                    let id = $(this).attr('id');
                    let thisElement = this;
                    swal({
                        title: "{{riskCountryData.delete_message}} {{riskCountryData.agent}}?",
                        text: "{{riskCountryData.delete_player_message}} {{riskCountryData.agent}}!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#e69a2a",
                        confirmButtonText: "{{riskCountryData.delete_button}}",
                        cancelButtonText: "{{riskCountryData.cancel_button}}",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                type: 'POST',
                                url: host + "/deleteRiskCountry",
                                data: {
                                    id: id
                                },
                                success: function (resultData) {
                                    console.log(resultData);
                                    if (resultData == 'success') {

                                        swal("{{riskCountryData.deleted}}!", "{{riskCountryData.agent}} {{riskCountryData.delete_successfully}}.", "success");
                                        console.log('1', $('tbody tr').length);
                                        if ($('tbody tr').length <= 1) {
                                             $(thisElement).parent().parent().parent().replaceWith('<tr class="odd"><td valign="top" colspan="7" class="dataTables_empty">No data available in table</td></tr>')
                                        } else {
                                            $(thisElement).parent().parent().parent().remove();
                                            console.log('2',$('tbody tr').length);
                                        }
                                        table.rows().invalidate().draw();

                                    }
                                    if (resultData == 'fail') { 
                                        swal({
                                            type: "info",
                                            title: "",
                                            text: "{{riskCountryData.agent_not_delete}}",
                                        });
                                    }
                                }
                            });
                        } else {
                            swal("{{riskCountryData.cancelled}}", "{{riskCountryData.agent_delete_msg}}", "error");
                        }
                    });
                    return false;
                });

            },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });


        //Search after click on search button
        $('#search').on("click", function () {
            table.destroy();
            tableLoad(data);
        });
    });

</script>
{% endblock %}