{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>{{gameData.name}} Table</h1>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> {{gameData.dashboard}}</a></li>
                <li class="active">{{gameData.name}} </li>
            </ol>
        </section>
        <!-- /Title -->
        {% include "partition/notification.html" %}
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">{{gameData.name}}</h6>
                            </div>
                            <div class="pull-right">
                                <a href="/addGame/{{gameData._id}}"><button type="button"
                                        class="btn btn-primary btn-md"><i class="fa fa-plus"></i> Add
                                        {{gameData.name}}</button></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    {% for row in theadField %}
                                                    <th>{{row}}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    var gameType = '{{gameData.type}}';
    console.log("gameType::::::", gameType);
    var columns;
    var typeId = '{{gameData._id}}';
    console.log("typeId", typeId);
    if (gameType == "game_1") {

    } else if (gameType == "game_2") {
        columns = [{
            "data": "gameNumber"
        }, {
            "data": "startDate",
            render: function (data, type, row) {
                let dt = new Date(row.startDate);
                let date = dt.getDate();
                let month = parseInt(dt.getMonth() + 1);
                let year = dt.getFullYear();
                let hours = dt.getHours();
                let minutes = dt.getMinutes();
                let ampm = hours >= 12 ? 'pm' : 'am';
                hours = hours % 12;
                hours = hours ? hours : 12;
                minutes = minutes < 10 ? '0' + minutes : minutes;
                let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                return createdAt;
            }
        }, {
            "data": "ticketPrice"
        }, {
            "data": "jackPotNumber",
            "render": function (data, type, row) {
                var $select = $('<select id="select1-' + row._id + '" ></select>', {
                    "id": row[3],
                    "value": data
                });
                $.each(data, function (k, v) {
                    var $option = $("<option></option>", {
                        "text": k,
                        "value": k
                    });
                    if (data === k) {
                        $option.attr("selected", "selected")
                    }
                    $select.append($option);
                });
                return $select.prop("outerHTML");
            }
        }, {
            "data": "priceNumber",
            "render": function (data, type, row) {
                var $select = $('<select id="select2-' + row._id + '" ></select>', {
                    "id": row[4],
                    "value": data
                });
                $.each(data, function (k, v) {
                    var $option = $("<option></option>", {
                        "text": v,
                        "value": k
                    });
                    if (data == v) {
                        $option.attr("selected", "selected")
                    }
                    $select.append($option);
                });
                return $select.prop("outerHTML");
            }
        }, {
            "data": "seconds"
        }, {
            "data": "action",
            render: function (data, type, row) {
                return '<a href="/viewGame/' + typeId + '/' + row._id + '" class="btn btn-info btn-xs btn-rounded" title="Game History"><i class="fa fa-eye" aria-hidden="true"></i></a> <a href="/gameEdit/' + typeId + '/' + row._id + '"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="' + row._id + '" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>'
            }
        }];
    } else if (gameType == "game_3") {
        columns = [{
            "data": "gameNumber"
        }, {
            "data": "startDate",
            render: function (data, type, row) {
                let dt = new Date(row.startDate);
                let date = dt.getDate();
                let month = parseInt(dt.getMonth() + 1);
                let year = dt.getFullYear();
                let hours = dt.getHours();
                let minutes = dt.getMinutes();
                let ampm = hours >= 12 ? 'pm' : 'am';
                hours = hours % 12;
                hours = hours ? hours : 12;
                minutes = minutes < 10 ? '0' + minutes : minutes;
                let createdAt = date + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
                return createdAt;
            }
        }, {
            "data": "ticketPrice"
        }, {
            "data": "seconds"
        }, {
            "data": "action",
            render: function (data, type, row) {
                return '<a href="/viewGame/' + typeId + '/' + row._id + '" class="btn btn-info btn-xs btn-rounded" title="Game History"><i class="fa fa-eye" aria-hidden="true"></i></a> <a href="/gameEdit/' + typeId + '/' + row._id + '"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="' + row._id + '" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>'
            }
        }];
    } else if (gameType == "game_4") {

    }

    $(document).ready(function () {
        var host = window.location.origin;
        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "{{gameData.search}} {{gameData.game_id}}",
                "sLengthMenu": "{{gameData.show}} _MENU_ {{gameData.entries}}",
                "sInfo": "{{gameData.show}} _START_ to _END_ of _TOTAL_ {{gameData.entries}}",
                "oPaginate": {
                    sPrevious: "{{ gameData.previous }}",
                    sNext: "{{ gameData.next }}"
                },
                "sInfoEmpty": "{{gameData.showing}} 0 to 0 of 0 {{gameData.entries}}",
            },
            "scrollX": true,
            "searching": true,
            "processing": true,
            "serverSide": true,
            "order": [
                [0, "desc"]
            ],
            "autoWidth": false,
            "pageLength": 25,
            "ajax": {
                url: host + "/getGameDetailList",
                data: {
                    gameType: gameType
                }
            },
            "columns": columns,
        });

        if (gameType == "game_2") {
            var table = $('#myTable').DataTable();

            $('#myTable tbody').on("click", 'tr', function () {
                var data = table.row(this).data();
                console.log('You clicked on ' + data._id + 's row');


                $('#select1-' + data._id + '').change(function () {
                    var id = $(this).val();
                    $('#select2-' + data._id + '').val(id);
                });

                $('#select2-' + data._id + '').change(function () {
                    var id = $(this).val();
                    $('#select1-' + data._id + '').val(id);
                });
            });
        }


        $(function () {
            "use strict";

            var SweetAlert = function () { };

            SweetAlert.prototype.init = function () {

                //Parameter
                $('body').on('click', '.delete', function (e) {
                    var id = $(this).attr('id');
                    var thisElement = this;
                    swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this Game!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#e69a2a",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "No, cancel Plz!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                type: 'POST',
                                url: host + "/getGameDelete",
                                data: {
                                    id: id
                                },
                                success: function (resultData) {
                                    console.log(resultData);
                                    if (resultData == 'success') {
                                        $(thisElement).parent().parent().hide(700);
                                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                    }
                                    // alert("Save Complete")
                                }
                            });
                            swal("Deleted!", "Game Deleted Succesfully.", "success");
                        } else {
                            swal("Cancelled", "Game Not Deleted)", "error");
                        }
                    });
                    return false;
                });

            },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

    });
</script>
{% endblock %}